- content_for :page_title do
  = t('directories.explore_mastodon', title: site_title)

- content_for :header_tags do
  %meta{ name: 'description', content: t('directories.explanation') }

  = opengraph 'og:site_name', t('about.hosted_on', domain: site_hostname)
  = opengraph 'og:type', 'website'
  = opengraph 'og:title', t('directories.explore_mastodon', title: site_title)
  = opengraph 'og:description', t('directories.explanation')
  = opengraph 'og:image', File.join(root_url, 'android-chrome-192x192.png')

.page-header
  %h1= t('directories.explore_mastodon', title: site_title)
  %p= t('directories.explanation')

- if @accounts.empty?
  = nothing_here
- else
  .directory__list
    - @accounts.each do |account|
      .directory__card
        .directory__card__img
          = image_tag account.header.url, alt: ''
        .directory__card__bar
          = link_to TagManager.instance.url_for(account), class: 'directory__card__bar__name' do
            .avatar
              = image_tag account.avatar.url, alt: '', class: 'u-photo'

            .display-name
              %bdi
                %strong.emojify.p-name= display_name(account, custom_emojify: true)
              %span= acct(account)
          .directory__card__bar__relationship.account__relationship
            = minimal_account_action_button(account)

        .directory__card__extra
          .account__header__content.emojify= Formatter.instance.simplified_format(account, custom_emojify: true)

        .directory__card__extra
          .accounts-table__count
            = friendly_number_to_human account.statuses_count
            %small= t('accounts.posts', count: account.statuses_count).downcase
          .accounts-table__count
            = friendly_number_to_human account.followers_count
            %small= t('accounts.followers', count: account.followers_count).downcase
          .accounts-table__count
            - if account.last_status_at.present?
              %time.time-ago{ datetime: account.last_status_at.to_date.iso8601, title: l(account.last_status_at.to_date) }= l account.last_status_at.to_date
            - else
              = t('accounts.never_active')

            %small= t('accounts.last_active')

  = paginate @accounts
