- content_for :page_title do
  = t('directories.explore_mastodon', title: site_title)

- content_for :header_tags do
  %meta{ name: 'description', content: t('directories.explanation') }

  = opengraph 'og:site_name', t('about.hosted_on', domain: site_hostname)
  = opengraph 'og:type', 'website'
  = opengraph 'og:title', t('directories.explore_mastodon', title: site_title)
  = opengraph 'og:description', t('directories.explanation')
  = opengraph 'og:image', File.join(root_url, 'android-chrome-192x192.png')

  %meta{name: 'applicationServerKey', content: Rails.configuration.x.vapid_public_key}
  = render_initial_state
  = javascript_pack_tag 'application', crossorigin: 'anonymous'

.app-holder#mastodon{ data: { props: Oj.dump(default_props) } }
  %noscript
    = image_pack_tag 'logo.svg', alt: 'Mastodon'

    %div
      = t('errors.noscript_html', apps_path: 'https://joinmastodon.org/apps')
