- content_for :header_tags do
  - if @account.user&.setting_noindex
    %meta{ name: 'robots', content: 'noindex' }/

.form-container
  .follow-prompt
    %h2= t('remote_follow.prompt')

    = render partial: 'application/card', locals: { account: @account }

  = simple_form_for @remote_follow, as: :remote_follow, url: account_remote_follow_path(@account) do |f|
    = render 'shared/error_messages', object: @remote_follow

    = f.input :acct, placeholder: t('remote_follow.acct'), input_html: { autocapitalize: 'none', autocorrect: 'off' }

    .actions
      = f.button :button, t('remote_follow.proceed'), type: :submit

    %p.hint.subtle-hint= t('remote_follow.no_account_html', sign_up_path: open_registrations? ? new_user_registration_path : 'https://joinmastodon.org/#getting-started')
