- content_for :page_title do
  = t('settings.followers')

= form_tag settings_follower_domains_path, method: :patch, class: 'table-form' do
  - unless @account.locked?
    .warning
      %strong
        = fa_icon('warning')
        = t('followers.unlocked_warning_title')
      = t('followers.unlocked_warning_html', lock_link: link_to(t('followers.lock_link'), settings_profile_url))

  %p= t('followers.explanation_html')
  %p= t('followers.true_privacy_html')

  .table-wrapper
    %table.table
      %thead
        %tr
          %th
          %th= t('followers.domain')
          %th= t('followers.followers_count')
      %tbody
        - @domains.each do |domain|
          %tr
            %td
              = check_box_tag 'select[]', domain.domain, false, disabled: !@account.locked? unless domain.domain.nil?
            %td
              %samp= domain.domain.presence || Rails.configuration.x.local_domain
            %td= number_with_delimiter domain.accounts_from_domain

  .action-pagination
    .actions
      = button_tag t('followers.purge'), type: :submit, class: 'button', disabled: !@account.locked?
    = paginate @domains
