- content_for :page_title do
  = t('admin.registration_filters.edit.title')

= simple_form_for @registration_filter, url: admin_registration_filter_path(@registration_filter), method: :put do |f|
  = render 'shared/error_messages', object: @registration_filter

  = render 'fields', f: f

  .actions
    = f.button :button, t('generic.save_changes'), type: :submit
