= render 'shared/error_messages', object: form.object

.fields-row
  .fields-row__column.fields-row__column-6.fields-group
    = form.input :max_uses,
                 collection: Invite::MAX_USES_COUNTS,
                 label_method: ->(count) { I18n.t('invites.max_uses', count:) },
                 prompt: I18n.t('invites.max_uses_prompt'),
                 wrapper: :with_label
  .fields-row__column.fields-row__column-6.fields-group
    = form.input :expires_in,
                 collection: Invite::EXPIRATION_DURATIONS.map(&:to_i),
                 label_method: ->(duration) { I18n.t("invites.expires_in.#{duration}") },
                 prompt: I18n.t('invites.expires_in_prompt'),
                 wrapper: :with_label

.fields-group
  = form.input :autofollow,
               wrapper: :with_label

.actions
  = form.button :button, t('invites.generate'), type: :submit
