%tr
  %td= invite.uses
  %td
    - if invite.max_uses.nil?
      ∞
    - else
      = invite.max_uses
  %td
    - if invite.expires_at.nil?
      ∞
    - else
      = l invite.expires_at
  %td= table_link_to 'link', public_invite_url(invite_code: invite.code), public_invite_url(invite_code: invite.code)
  %td= table_link_to 'times', t('invites.delete'), invite_path(invite), method: :delete
