- content_for :page_title do
  = t('invites.title')

- if policy(:invite).create?
  %p= t('invites.prompt')

  = render 'form'

  %hr.spacer/

.simple_form
  %table.table.table--invites
    %thead
      %tr
        %th
        %th= t('invites.table.uses')
        %th= t('invites.table.expires_at')
        %th= t('invites.table.comment')
        %th
    %tbody
      = render @invites
