.batch-table__row
  %label.batch-table__row__select.batch-table__row__select--aligned.batch-checkbox
    = f.check_box :account_ids, { multiple: true, include_hidden: false }, account.id
  .batch-table__row__content.pending-account
    .pending-account__header
      = link_to admin_account_path(account.id) do
        %strong= account.user_email
        = "(@#{account.username})"
      %br/
      = account.user_current_sign_in_ip
      •
      = t 'admin.accounts.time_in_queue', time: time_ago_in_words(account.user&.created_at)

    - if account.user&.invite_request&.text&.present?
      .pending-account__body
        %p= account.user&.invite_request&.text
