.batch-table__row
  %label.batch-table__row__select.batch-table__row__select--aligned.batch-checkbox
    = f.check_box :account_ids, { multiple: true, include_hidden: false }, account.id
  .batch-table__row__content.batch-table__row__content--unpadded
    %table.accounts-table
      %tbody
        %tr
          %td
            = account.user_email
            = "(@#{account.username})"
            %br/
            = account.user_current_sign_in_ip
          %td.accounts-table__count
            = table_link_to 'pencil', t('admin.accounts.edit'), admin_account_path(account.id)
