- content_for :page_title do
  = t('.title')

= simple_form_for @blacklisted_email_domain, url: admin_blacklisted_email_domains_path do |f|
  = render 'shared/error_messages', object: @blacklisted_email_domain

  = f.input :domain, placeholder: t('admin.blacklisted_email_domains.domain')
  = f.input :note, placeholder: t('admin.blacklisted_email_domains.note'), hint: ''

  .actions
    = f.button :button, t('.create'), type: :submit
