- content_for :page_title do
  Preferences

= simple_form_for current_user, url: settings_preferences_path, html: { method: :put } do |f|
  = render 'shared/error_messages', object: current_user

  = f.simple_fields_for :notification_emails, current_user.settings(:notification_emails) do |ff|
    = ff.input :follow, as: :boolean, wrapper: :with_label, label: 'Send e-mail when someone follows you'
    = ff.input :reblog, as: :boolean, wrapper: :with_label, label: 'Send e-mail when someone reblogs your status'
    = ff.input :favourite, as: :boolean, wrapper: :with_label, label: 'Send e-mail when someone favourites your status'
    = ff.input :mention, as: :boolean, wrapper: :with_label, label: 'Send e-mail when someone mentions you'

  .actions
    = f.button :button, 'Save changes', type: :submit

.form-footer= render "settings/shared/links"
