- content_for :page_title, t('wrapstodon.title', name: display_name(@account), year: @generated_annual_report.year)

- content_for :header_tags do
  %meta{ name: 'robots', content: 'noindex, noarchive' }/

  = opengraph 'og:site_name', site_title
  = opengraph 'og:type', 'article'
  = opengraph 'og:title', t('wrapstodon.title', name: display_name(@account), year: @generated_annual_report.year)
  = opengraph 'profile:username', acct(@account)[1..]

  = render 'og_description', account: @account
  = render 'og_image', report: @generated_annual_report

  = vite_typescript_tag 'wrapstodon.tsx', crossorigin: 'anonymous'

- content_for :force_color_scheme, 'dark'

#wrapstodon
= render_wrapstodon_share_data @generated_annual_report
