.prompt= raw t('.prompt', client_name: "<strong class=\"prompt-highlight\">#{ @pre_auth.client.name }</strong>")

/- if @pre_auth.scopes.count > 0
/  .scope-permission-prompt
/    %p= t('.able_to')

/    %ul.scope-permissions
/      - @pre_auth.scopes.each do |scope|
/        %li= t scope, scope: [:doorkeeper, :scopes]

.actions
  = form_tag oauth_authorization_path, method: :post do
    = hidden_field_tag :client_id, @pre_auth.client.uid
    = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
    = hidden_field_tag :state, @pre_auth.state
    = hidden_field_tag :response_type, @pre_auth.response_type
    = hidden_field_tag :scope, @pre_auth.scope
    = button_tag t('doorkeeper.authorizations.buttons.authorize'), type: :submit

  = form_tag oauth_authorization_path, method: :delete do
    = hidden_field_tag :client_id, @pre_auth.client.uid
    = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
    = hidden_field_tag :state, @pre_auth.state
    = hidden_field_tag :response_type, @pre_auth.response_type
    = hidden_field_tag :scope, @pre_auth.scope
    = button_tag t('doorkeeper.authorizations.buttons.deny'), type: :submit, class: 'negative'
