.fields-row
  .fields-row__column.fields-row__column-6.fields-group
    = form.input :domain,
                 disabled: form.object.persisted?,
                 hint: t('admin.domain_blocks.new.hint'),
                 label: t('admin.domain_blocks.domain'),
                 readonly: form.object.persisted?,
                 required: true,
                 wrapper: :with_label
  .fields-row__column.fields-row__column-6.fields-group
    = form.input :severity,
                 collection: DomainBlock.severities.keys,
                 hint: t('admin.domain_blocks.new.severity.desc_html'),
                 include_blank: false,
                 label_method: ->(type) { t("admin.domain_blocks.new.severity.#{type}") },
                 wrapper: :with_label
.fields-group
  = form.input :reject_media,
               as: :boolean,
               hint: I18n.t('admin.domain_blocks.reject_media_hint'),
               label: I18n.t('admin.domain_blocks.reject_media'),
               wrapper: :with_label
.fields-group
  = form.input :reject_reports,
               as: :boolean,
               hint: I18n.t('admin.domain_blocks.reject_reports_hint'),
               label: I18n.t('admin.domain_blocks.reject_reports'),
               wrapper: :with_label
.fields-group
  = form.input :obfuscate,
               as: :boolean,
               hint: I18n.t('admin.domain_blocks.obfuscate_hint'),
               label: I18n.t('admin.domain_blocks.obfuscate'),
               wrapper: :with_label
.field-group
  = form.input :private_comment,
               as: :string,
               hint: t('admin.domain_blocks.private_comment_hint'),
               label: I18n.t('admin.domain_blocks.private_comment'),
               wrapper: :with_label
.field-group
  = form.input :public_comment,
               as: :string,
               hint: t('admin.domain_blocks.public_comment_hint'),
               label: I18n.t('admin.domain_blocks.public_comment'),
               wrapper: :with_label
