- content_for :page_title do
  = t('.title', domain: Addressable::IDNA.to_unicode(@domain_block.domain))

= simple_form_for @domain_block, url: admin_domain_blocks_path, method: :post do |f|
  %p.hint= t('.preamble_html', domain: Addressable::IDNA.to_unicode(@domain_block.domain))
  %ul.hint
    %li= t('.stop_communication')
    %li= t('.remove_all_data')
    %li= t('.undo_relationships')
    %li.negative-hint= t('.permanent_action')

  - %i(domain severity reject_media reject_reports obfuscate private_comment public_comment).each do |key|
    = f.hidden_field key

  %hr.spacer

  = react_admin_component :impact_report,
                          domain: @domain_block.domain

  .actions
    = link_to t('.cancel'), admin_instances_path, class: 'button button-secondary'
    = f.button :submit, t('.confirm'), class: 'button button--dangerous', name: :confirm
