- content_for :page_title do
  = t('admin.domain_block.title')

%table.table
  %thead
    %tr
      %th= t('admin.domain_block.domain')
      %th= t('admin.domain_block.severity')
  %tbody
    - @blocks.each do |block|
      %tr
        %td
          %samp= block.domain
        %td= block.severity

= paginate @blocks
= link_to t('admin.domain_block.add_new'), new_admin_domain_block_path, class: 'button'
