- content_for :page_title do
  = t('.title')

= simple_form_for @domain_block, url: admin_domain_blocks_path do |f|
  = render 'shared/error_messages', object: @domain_block

  %p.hint= t('.hint')

  = f.input :domain, placeholder: t('admin.domain_blocks.domain')
  = f.input :severity, collection: DomainBlock.severities.keys, wrapper: :with_label, include_blank: false, label_method: lambda { |type| t(".severity.#{type}") }

  %p.hint= t('.severity.desc_html')

  = f.input :image_severity, collection: [:reject_media, :sensitive], wrapper: :with_label, include_blank: true, label_method: lambda { |type| t(".image_severity.#{type}") }

  %p.hint= t('.image_severity.desc_html')

  .actions
    = f.button :button, t('.create'), type: :submit
