- content_for :page_title do
  = t('admin.domain_block.new.title')

= simple_form_for @domain_block, url: admin_domain_blocks_path do |f|
  = render 'shared/error_messages', object: @domain_block

  %p.hint= t('admin.domain_block.new.hint')

  = f.input :domain, placeholder: t('admin.domain_block.domain')
  = f.input :severity, collection: DomainBlock.severities.keys, wrapper: :with_label, include_blank: false, label_method: lambda { |type| I18n.t("admin.domain_block.new.severity.#{type}") }

  %p.hint= t('admin.domain_block.new.severity.desc_html')
  .actions
    = f.button :button, t('admin.domain_block.new.create'), type: :submit
