- content_for :page_title do
  = t('.title')

= simple_form_for @domain_block, url: admin_domain_blocks_path do |form|
  = render 'shared/error_messages', object: @domain_block

  = render form

  .actions
    = form.button :button,
                  t('.create'),
                  type: :submit
