- content_for :page_title do
  New domain block

= simple_form_for @domain_block, url: admin_domain_blocks_path do |f|
  = render 'shared/error_messages', object: @domain_block

  %p.hint The domain block will not prevent creation of account entries in the database, but will retroactively and automatically apply specific moderation methods on those accounts.

  = f.input :domain, placeholder: 'Domain'
  = f.input :severity, collection: DomainBlock.severities.keys, wrapper: :with_label, include_blank: false

  %p.hint
    %strong Silence
    will make the account's posts invisible to anyone who isn't following them.
    %strong Suspend
    will remove all of the account's content, media, and profile data.
  .actions
    = f.button :button, 'Create block', type: :submit
