-# locals: (account:, deletion_request:)
%hr.spacer/

%p.muted-hint
  - if account.suspension_origin_remote?
    = remote_suspension_hint(deletion_request)
  - else
    = suspension_hint(deletion_request)

- if can?(:unsuspend, account)
  = button_to t('admin.accounts.undo_suspension'),
              unsuspend_admin_account_path(account.id),
              class: :button

- if can?(:redownload, account) && account.suspension_origin_remote?
  = button_to t('admin.accounts.redownload'),
              redownload_admin_account_path(account.id),
              class: :button

- if deletion_request.present? && can?(:destroy, account)
  = link_to t('admin.accounts.delete'),
            admin_account_path(account.id),
            class: [:button, 'button--destructive'],
            data: { confirm: t('admin.accounts.are_you_sure') },
            method: :delete
