- content_for :page_title do
  = t('admin.accounts.title')

.filters
  .filter-subset
    %strong= t('admin.accounts.location.title')
    %ul
      %li= filter_link_to t('admin.accounts.location.all'), local: nil, remote: nil
      %li= filter_link_to t('admin.accounts.location.local'), local: '1', remote: nil
      %li= filter_link_to t('admin.accounts.location.remote'), remote: '1', local: nil
  .filter-subset
    %strong= t('admin.accounts.moderation.title')
    %ul
      %li= filter_link_to t('admin.accounts.moderation.all'), silenced: nil, suspended: nil
      %li= filter_link_to t('admin.accounts.moderation.silenced'), silenced: '1'
      %li= filter_link_to t('admin.accounts.moderation.suspended'), suspended: '1'
  .filter-subset
    %strong= t('admin.accounts.order.title')
    %ul
      %li= filter_link_to t('admin.accounts.order.alphabetic'), recent: nil
      %li= filter_link_to t('admin.accounts.order.most_recent'), recent: '1'

%table.table
  %thead
    %tr
      %th= t('admin.accounts.username')
      %th= t('admin.accounts.domain')
      %th= t('admin.accounts.confirmed')
      %th= fa_icon 'paper-plane-o'
      %th
  %tbody
    = render @accounts

= paginate @accounts
