- content_for :page_title do
  = t('admin.accounts.title')

.filters
  .filter-subset
    %strong= t('admin.accounts.location.title')
    %ul
      %li= filter_link_to t('admin.accounts.location.all'), local: nil, remote: nil
      %li
        - if selected? local: '1', remote: nil
          = filter_link_to t('admin.accounts.location.local'), {local: nil, remote: nil}, {local: '1', remote: nil}
        - else
          = filter_link_to t('admin.accounts.location.local'), local: '1', remote: nil
      %li
        - if selected? remote: '1', local: nil
          = filter_link_to t('admin.accounts.location.remote'), {remote: nil, local: nil}, {remote: '1', local: nil}
        - else
          = filter_link_to t('admin.accounts.location.remote'), remote: '1', local: nil
  .filter-subset
    %strong= t('admin.accounts.moderation.title')
    %ul
      %li= filter_link_to t('admin.accounts.moderation.all'), silenced: nil, suspended: nil
      %li
        - if selected? silenced: '1'
          = filter_link_to t('admin.accounts.moderation.silenced'), {silenced: nil}, {silenced: '1'}
        - else
          = filter_link_to t('admin.accounts.moderation.silenced'), silenced: '1'
      %li
        - if selected? suspended: '1'
          = filter_link_to t('admin.accounts.moderation.suspended'), {suspended: nil}, {suspended: '1'}
        - else
          = filter_link_to t('admin.accounts.moderation.suspended'), suspended: '1'
  .filter-subset
    %strong= t('admin.accounts.order.title')
    %ul
      %li= filter_link_to t('admin.accounts.order.alphabetic'), recent: nil
      %li= filter_link_to t('admin.accounts.order.most_recent'), recent: '1'

= form_tag admin_accounts_url, method: 'GET', class: 'simple_form' do
  .fields-group
    - Admin::FilterHelper::ACCOUNT_FILTERS.each do |key|
      - if params[key].present?
        = hidden_field_tag key, params[key]

    - %i(username display_name email ip).each do |key|
      .input.string.optional
        = text_field_tag key, params[key], class: 'string optional', placeholder: I18n.t("admin.accounts.#{key}")

    .actions
      %button= t('admin.accounts.search')
      = link_to t('admin.accounts.reset'), admin_accounts_path, class: 'button negative'

%table.table
  %thead
    %tr
      %th= t('admin.accounts.username')
      %th= t('admin.accounts.domain')
      %th= t('admin.accounts.confirmed')
      %th= fa_icon 'paper-plane-o'
      %th
  %tbody
    = render @accounts

= paginate @accounts
