- content_for :page_title do
  Accounts

.filters
  .filter-subset
    %strong Location
    %ul
      %li= filter_link_to 'All', local: nil, remote: nil
      %li= filter_link_to 'Local', local: '1', remote: nil
      %li= filter_link_to 'Remote', remote: '1', local: nil
  .filter-subset
    %strong Moderation
    %ul
      %li= filter_link_to 'All', silenced: nil, suspended: nil
      %li= filter_link_to 'Silenced', silenced: '1'
      %li= filter_link_to 'Suspended', suspended: '1'
  .filter-subset
    %strong Order
    %ul
      %li= filter_link_to 'Alphabetic', recent: nil
      %li= filter_link_to 'Most recent', recent: '1'

%table.table
  %thead
    %tr
      %th Username
      %th Domain
      %th= fa_icon 'paper-plane-o'
      %th
  %tbody
    - @accounts.each do |account|
      %tr
        %td= account.username
        %td
          - unless account.local?
            = link_to account.domain, admin_accounts_path(by_domain: account.domain)
        %td
          - if account.local?
            Local
          - elsif account.subscribed?
            %i.fa.fa-check
          - else
            %i.fa.fa-times
        %td
          = table_link_to 'circle', 'Web', web_path("accounts/#{account.id}")
          = table_link_to 'globe', 'Public', TagManager.instance.url_for(account)
          = table_link_to 'pencil', 'Edit', admin_account_path(account.id)

= paginate @accounts
