<p>¡Bienvenido, <%= @resource.email %>!</p>

<p>Acabas de crear una cuenta en <%= @instance %>.</p>

<p>Para confirmar tu registro, por favor ingresa al siguiente enlace:<br>
<%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %>

<p>También revisa nuestros <%= link_to 'términos y condiciones', terms_url %>.</p>

<p>Sinceramente,<p>

<p>El equipo de <%= @instance %></p>