<p>Bonjorn <%= @resource.email %>&nbsp;!<p>

<p>Venètz de vos crear un compte sus <%= @instance %> e vos mercegem :)</p>

<p>Per confirmar vòstre inscripcion, mercés de clicar sul ligam seguent : <br>
<%= link_to 'Confirmar mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Aprèp vòstra primièra connexion, poiretz accedir a la documentacion de l’aisina.</p>

<p>Pensatz tanben a gaitar nòstras <%= link_to 'conditions d\'utilisation', terms_url %>.</p>

<p>Amistosament,</p>

<p>La còla <%= @instance %></p>
