
<p> Aramıza hoşgeldin <%= @resource.email %> </p>

<p>Bu sunucumuzda yeni bir hesap oluşturduğunu görüyoruz: <%= @instance %>.</p>

<p>Siz olduğunuzu teyit edebilmemiz için lütfen aşağıdaki linke tıklaman yeterli: <br>

<%= link_to 'Hesabımı doğrula', confirmation_url(@resource, confirmation_token: @token) %>

<p>Ayrıca  <%= link_to 'kullanım şartları ve koşullarımızı', terms_url %> inceleyebilirsin.</p>

<p>En içten dileklerimizle,<p>

<p> <%= @instance %> ekibi</p>

