<p dir="rtl">خوش آمدید <%= @resource.email %> !</p>

<p dir="rtl">شما الان در <%= @instance %> حساب باز کردید.</p>

<p dir="rtl">برای تأیید عضویت، لطفاً روی پیوند زیر کلیک کنید: <br>
<%= link_to 'تأیید حساب', confirmation_url(@resource, confirmation_token: @token) %>

<p dir="rtl">لطفاً همچنین <%= link_to 'شرایط و مقررات استفادهٔ', terms_url %> ما را هم بخوانید.</p>

<p dir="rtl">با احترام,<p>

<p dir="rtl">گردانندگان سرور <%= @instance %></p>
