<p>Добродошао <%= @resource.email %> !</p>

<p>Управо сте направили налог на инстанци <%= @instance %>.</p>

<p>Да потврдите Вашу регистрацију, молимо Вас кликните на следећи линк: <br>
<%= link_to 'Потврди мој налог', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Ако линк изнад не ради, копирајте и налепите ову адресу у адресну траку: <br>
<span><%= confirmation_url(@resource, confirmation_token: @token) %></span>

<p>Такође погледајте и <%= link_to 'правила и услове коришћења', terms_url %>.</p>

<p>С поштовањем,<p>

<p><%= @instance %> тим</p>
