<p>مرحبا <%= @resource.email %> !</p>

<p>لقد قمت بإنشاء حساب على <%= @instance %>.</p>

<p>لتأكيد التسجيل يرجى النقر على الرابط التالي : <br>
<%= link_to 'تأكيد إنشاء الحساب', confirmation_url(@resource, confirmation_token: @token) %>

<p>يرجى الإطلاع على <%= link_to 'شروط الإستخدام', terms_url %>.</p>

<p>مع أجمل التحيات،<p>

<p>فريق <%= @instance %> </p>
