<p>Välkommen <%= @resource.email %> !</p>

<p>Du har precis startat upp ett konto på <%= @instance %>.</p>

<p>För att bekräfta din inskrift, vänligen klicka på följande länk : <br>
<%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Om länken ovan inte fungerar, kopiera och klistra in den här webbadressen i adressfältet: <br>
<span><%= confirmation_url(@resource, confirmation_token: @token) %></span>

<p>Vänligen kolla även våra <%= link_to 'terms and conditions', terms_url %>.</p>

<p>Vänliga hälsningar,<p>

<p>Teamet på <%= @instance %></p>
