<p>Καλωσήρθες <%= @resource.email %>!</p>

<p>Μόλις δημιούργησες ένα λογαριασμό στο <%= @instance %>.</p>

<p>Για να επιβεβαιώσεις την εγγραφή σου, κάνε click στο παρακάτω σύνδεσμο: <br>

<%= link_to 'Επιβεβαίωση λογαριασμού', confirmation_url(@resource, confirmation_token: @token) %>

<p>Σε παρακαλούμε δες τους <%= link_to 'όρους χρήσης μας', terms_url %>.</p>

<p>Με εκτίμηση,<p>

<p>Η ομάδα του <%= @instance %></p>