<p><%= @resource.email %>，你好呀！</p>

<p>你刚刚在 <%= @instance %> 创建了一个帐户呢。</p>

<p>点击下面的链接来完成注册啦：<br>
<%= link_to '确认帐户', confirmation_url(@resource, confirmation_token: @token) %>

<p>上面的链接按不动？把下面的链接复制到地址栏再试试：<br>
<span><%= confirmation_url(@resource, confirmation_token: @token) %></span>

<p>记得读一读我们的<%= link_to '使用条款', terms_url %>哦。</p>

<p>来自 <%= @instance %> 管理团队</p>
