<p>Velkommen <%= @resource.email %> !</p>

<p>Du har akkurat opprettet en konto på <%= @instance %>.</p>

<p>For å bekrefte innskriving i manntallet vennligst trykk på følgende lenke : <br>
<%= link_to 'Bekreft min bruker', confirmation_url(@resource, confirmation_token: @token) %>

<p>Vennligst også les våre <%= link_to 'brukervilkår', terms_url %>.</p>

<p>Med vennlig hilsen,<p>

<p>Gjengen bak <%= @instance %> </p>
