<p>Bonjour <%= @resource.email %>&nbsp;!<p>

<p>Vous venez de vous créer un compte sur <%= @instance %> et nous vous en remercions :)</p>

<p>Pour confirmer votre inscription, merci de cliquer sur le lien suivant : <br>
<%= link_to 'Confirmer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Après votre première connexion, vous pourrez accéder à la documentation de l’outil.</p>

<p>Pensez également à jeter un œil à nos <%= link_to 'conditions d\'utilisation', terms_url %>.</p>

<p>Amicalement,</p>

<p>L’équipe <%= @instance %></p>
