<p>Benvenuto <%= @resource.email %> !</p>

<p>Hai appena creato un account su <%= @instance %>.</p>

<p>Per confermare la tua iscrizione, fai clic sul seguente link: <br>
<%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %>

<p>Per piacere leggi anche i nostri <%= link_to 'terms and conditions', terms_url %>.</p>

<p>Sinceramente,<p>

<p>The <%= @instance %> team</p>
