<p>Witaj, <%= @resource.email %> !</p>

<p>Właśnie utworzyłeś konto na instancji <%= @instance %>.</p>

<p>Aby aktywować konto, odwiedź poniższy link: <br>
<%= link_to 'Potwierdź rejestrację', confirmation_url(@resource, confirmation_token: @token) %>

<p>Pamiętaj przeczytać nasz <%= link_to 'regulamin i zasady użytkowania', terms_url %>.</p>

<p>Z pozdrowieniami,<p>

<p>Zespół <%= @instance %></p>
