<p>こんにちは<%= @resource.email %>さん</p>

<% if @resource&.unconfirmed_email? %>
  <p><%= @instance %>で使っているメールアドレスが<%= @resource.unconfirmed_email %>に変更されようとしています。</p>
<% else %>
  <p><%= @instance %>で使っているメールアドレスが<%= @resource.email %>に変更されました。</p>
<% end %>

<p>
  メールアドレスを変更した覚えがない場合、誰かがあなたのアカウントにアクセスしたおそれがあります。すぐにパスワードを変更するか、アカウントにアクセスできない場合はインスタンスの管理者に連絡してください。
</p>

<p><%= @instance %>チームより</p>
