<p><%= @resource.email %>，你好呀！</p>

<% if @resource&.unconfirmed_email? %>
  <p>我们发送这封邮件是为了提醒你，你在 <%= @instance %> 上使用的电子邮件地址即将变更为 <%= @resource.unconfirmed_email %>。</p>
<% else %>
  <p>我们发送这封邮件是为了提醒你，你在 <%= @instance %> 上使用的电子邮件地址已经变更为 <%= @resource.unconfirmed_email %>。</p>
<% end %>

<p>
  如果你并没有请求更改你的电子邮件地址，则他人很有可能已经入侵你的帐户。请立即更改你的密码；如果你已经无法访问你的帐户，请联系实例的管理员请求协助。
</p>

<p>来自 <%= @instance %> 管理团队</p>
