<p>Witaj, <%= @resource.email %>!</p>

<% if @resource&.unconfirmed_email? %>
  <p>Informujemy, że e-mail używany przez Ciebie na <%= @instance %> został zmieniony na <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Informujemy, że e-mail używany przez Ciebie na <%= @instance %> został zmieniony na <%= @resource.email %>.</p>
<% end %>

<p>
  Jeżeli to nie Ty, prawdopodobnie ktoś uzyskał dostęp do Twojego konta. Zalecana jest natychmiastowa zmiana hasła lub skontaktowanie się z administratorem, jeżeli nie masz dostępu do swojego konta.
</p>

<p>Z pozdrowieniami,<p>

<p>Zespół <%= @instance %></p>
