<p>Hello <%= @resource.email %>!</p>

<% if @resource&.unconfirmed_email? %>
  <p>We're contacting you to notify you that the email you use on <%= @instance %> is being changed to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>We're contacting you to notify you that the email you use on <%= @instance %> has been changed to <%= @resource.email %>.</p>
<% end %>

<p>
  If you did not change your email, it is likely that someone has gained access to your account. Please change your password immediately or contact the instance admin if you're locked out of your account.
</p>

<p>Sincerely,<p>

<p>The <%= @instance %> team</p>
