<p>こんにちは、<%= @me.account.username %>さん。</p>

<p><%= @resource.account.local_username_and_domain %> が <%= @instance %> に
アカウントを作成しようとしています。登録されたアドレスは <%= @resource.email %> です。</p>

<p>
<%= link_to "こちら", admin_account_url(@resource.account.id) %> から操作を完了してください。</p>
