<p>Bonjorn <%= @resource.unconfirmed_email %> !</p>

<p>Avètz demandat a cambiar vòstra adreça de corrièl qu’utilizatz per <%= @instance %>.</p>

<p>Per confirmar vòstra novèla adreça, mercés de clicar lo ligam seguent :<br>
<%= link_to 'Confirmar mon adreça', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Se lo ligam al dessús fonciona pas, copiatz e pegatz aquesta URL a la barra d’adreça :<br>
<span><%= confirmation_url(@resource, confirmation_token: @token) %></span>

<p>Mercés de gaitar tanben nòstres <%= link_to 'terms and conditions', terms_url %>.</p>

<p>Amistosament,<p>

<p>La còla <%= @instance %></p>
