<p>Hello <%= @resource.unconfirmed_email %>!</p>

<p>You requested a change to the email address you use on <%= @instance %>.</p>

<p>To confirm your new email, please click on the following link:<br>
<%= link_to 'Confirm my email address', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>If the above link did not work, copy and paste this URL into your address bar: <br>
<span><%= confirmation_url(@resource, confirmation_token: @token) %></span>

<p>Please also check out our <%= link_to 'terms and conditions', terms_url %>.</p>

<p>Sincerely,<p>

<p>The <%= @instance %> team</p>
