<p>こんにちは<%= @resource.unconfirmed_email %>さん</p>

<p><%= @instance %>で使っているメールアドレスの変更をあなたがリクエストしました。</p>

<p>新しいメールアドレスを確認するには次のリンクをクリックしてください:<br>
<%= link_to 'わたしのメールアドレスを確認する', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>上記のリンクがうまくいかなかった場合はこのURLをコピーしてアドレスバーに貼り付けてください:<br>
<span><%= confirmation_url(@resource, confirmation_token: @token) %></span>

<p>また<%= link_to '利用規約', terms_url %>もご確認ください。</p>

<p><%= @instance %>チームより</p>
