%table.email-table{ cellspacing: 0, cellpadding: 0 }
  %tbody
    %tr
      %td.email-body
        .email-container
          %table.content-section{ cellspacing: 0, cellpadding: 0 }
            %tbody
              %tr
                %td.content-cell.hero
                  .email-row
                    .col-6
                      %table.column{ cellspacing: 0, cellpadding: 0 }
                        %tbody
                          %tr
                            %td.column-cell.text-center.padded
                              %table.hero-icon.alert-icon{ align: 'center', cellspacing: 0, cellpadding: 0 }
                                %tbody
                                  %tr
                                    %td
                                      = image_tag full_pack_url('media/images/mailer/icon_email.png'), alt: ''

                              %h1= t 'user_mailer.sign_in_token.title'
                              %p.lead= t 'user_mailer.sign_in_token.explanation'

%table.email-table{ cellspacing: 0, cellpadding: 0 }
  %tbody
    %tr
      %td.email-body
        .email-container
          %table.content-section{ cellspacing: 0, cellpadding: 0 }
            %tbody
              %tr
                %td.content-cell.content-start
                  %table.column{ cellspacing: 0, cellpadding: 0 }
                    %tbody
                      %tr
                        %td.column-cell.input-cell
                          %table.input{ align: 'center', cellspacing: 0, cellpadding: 0 }
                            %tbody
                              %tr
                                %td= @resource.sign_in_token

%table.email-table{ cellspacing: 0, cellpadding: 0 }
  %tbody
    %tr
      %td.email-body
        .email-container
          %table.content-section{ cellspacing: 0, cellpadding: 0 }
            %tbody
              %tr
                %td.content-cell
                  .email-row
                    .col-6
                      %table.column{ cellspacing: 0, cellpadding: 0 }
                        %tbody
                          %tr
                            %td.column-cell.text-center
                              %p= t 'user_mailer.sign_in_token.details'
                          %tr
                            %td.column-cell.text-center
                              %p
                                %strong= "#{t('sessions.ip')}:"
                                = @remote_ip
                                %br/
                                %strong= "#{t('sessions.browser')}:"
                                %span{ title: @user_agent }= t 'sessions.description', browser: t("sessions.browsers.#{@detection.id}", default: "#{@detection.id}"), platform: t("sessions.platforms.#{@detection.platform.id}", default: "#{@detection.platform.id}")
                                %br/
                                = l(@timestamp)

%table.email-table{ cellspacing: 0, cellpadding: 0 }
  %tbody
    %tr
      %td.email-body
        .email-container
          %table.content-section{ cellspacing: 0, cellpadding: 0 }
            %tbody
              %tr
                %td.content-cell
                  .email-row
                    .col-6
                      %table.column{ cellspacing: 0, cellpadding: 0 }
                        %tbody
                          %tr
                            %td.column-cell.text-center
                              %p= t 'user_mailer.sign_in_token.further_actions'

%table.email-table{ cellspacing: 0, cellpadding: 0 }
  %tbody
    %tr
      %td.email-body
        .email-container
          %table.content-section{ cellspacing: 0, cellpadding: 0 }
            %tbody
              %tr
                %td.content-cell
                  %table.column{ cellspacing: 0, cellpadding: 0 }
                    %tbody
                      %tr
                        %td.column-cell.button-cell
                          %table.button{ align: 'center', cellspacing: 0, cellpadding: 0 }
                            %tbody
                              %tr
                                %td.button-primary
                                  = link_to edit_user_registration_url do
                                    %span= t 'settings.account_settings'
