= content_for :heading do
  = render 'application/mailer/heading',
           image_url: frontend_asset_url('images/mailer-new/heading/login.png'),
           subtitle: t('user_mailer.suspicious_sign_in.explanation'),
           title: t('user_mailer.suspicious_sign_in.title')
%table.email-w-full{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
  %tr
    %td.email-body-padding-td
      %table.email-inner-card-table{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
        %tr
          %td.email-inner-card-td.email-prose
            %p= t 'user_mailer.suspicious_sign_in.details'
            = render @session_detail
            = render 'application/mailer/button', text: t('settings.account_settings'), url: edit_user_registration_url
      %p= t 'user_mailer.suspicious_sign_in.further_actions_html',
            action: link_to(t('user_mailer.suspicious_sign_in.change_password'), edit_user_registration_url)
