= content_for :heading do
  = render 'application/mailer/heading',
           image_url: frontend_asset_url('images/mailer-new/heading/user.png'),
           subtitle: t('user_mailer.terms_of_service_changed.subtitle', domain: site_hostname),
           title: t('user_mailer.terms_of_service_changed.title')
%table.email-w-full{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
  %tr
    %td.email-body-padding-td
      %table.email-inner-card-table{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
        %tr
          %td.email-inner-card-td.email-prose
            %p= t('user_mailer.terms_of_service_changed.description_html', path: terms_of_service_version_url(date: @terms_of_service.effective_date), domain: site_hostname, date: l(@terms_of_service.effective_date || Time.zone.today))
            %p
              %strong= t('user_mailer.terms_of_service_changed.changelog')
            = markdown(@terms_of_service.changelog)
            %p= t('user_mailer.terms_of_service_changed.agreement', domain: site_hostname)
            %p= t('user_mailer.terms_of_service_changed.sign_off', domain: site_hostname)
