%table.email-table{ cellspacing: 0, cellpadding: 0 }
  %tbody
    %tr
      %td.email-body
        .email-container
          %table.content-section{ cellspacing: 0, cellpadding: 0 }
            %tbody
              %tr
                %td.content-cell.hero
                  .email-row
                    .col-6
                      %table.column{ cellspacing: 0, cellpadding: 0 }
                        %tbody
                          %tr
                            %td.column-cell.text-center.padded
                              %table.hero-icon.alert-icon{ align: 'center', cellspacing: 0, cellpadding: 0 }
                                %tbody
                                  %tr
                                    %td
                                      = image_tag full_pack_url('icon_warning.png'), alt: ''

                              %h1= t "user_mailer.warning.title.#{@warning.action}"

%table.email-table{ cellspacing: 0, cellpadding: 0 }
  %tbody
    %tr
      %td.email-body
        .email-container
          %table.content-section{ cellspacing: 0, cellpadding: 0 }
            %tbody
              %tr
                %td.content-cell.content-start
                  .email-row
                    .col-6
                      %table.column{ cellspacing: 0, cellpadding: 0 }
                        %tbody
                          %tr
                            %td.column-cell.text-center
                              - unless @warning.none_action?
                                %p= t "user_mailer.warning.explanation.#{@warning.action}"

                              - unless @warning.text.blank?
                                = Formatter.instance.linkify(@warning.text)

%table.email-table{ cellspacing: 0, cellpadding: 0 }
  %tbody
    %tr
      %td.email-body
        .email-container
          %table.content-section{ cellspacing: 0, cellpadding: 0 }
            %tbody
              %tr
                %td.content-cell
                  %table.column{ cellspacing: 0, cellpadding: 0 }
                    %tbody
                      %tr
                        %td.column-cell.button-cell
                          %table.button{ align: 'center', cellspacing: 0, cellpadding: 0 }
                            %tbody
                              %tr
                                %td.button-primary
                                  = link_to about_more_url do
                                    %span= t 'user_mailer.warning.review_server_policies'
