= content_for :heading do
  = render 'application/mailer/heading', heading_title: t('user_mailer.welcome.title', name: @resource.account.username), subtitle: t('user_mailer.welcome.explanation')
%table.email-w-full{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
  %tr
    %td.email-body-padding-td
      %table.email-inner-card-table{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
        %tr
          %td.email-inner-card-td.email-prose
            %p= t 'user_mailer.welcome.full_handle'
            = render 'application/mailer/frame', text: "#{@resource.account.username}@#{@instance}"
            %p= t 'user_mailer.welcome.full_handle_hint', instance: @instance
      = render 'application/mailer/checklist',
               title: 'Personalize your home feed',
               text: t('user_mailer.welcome.edit_profile_step'),
               checked: false,
               step_image_url: full_pack_url('media/images/mailer-new/welcome/step2-off.png'),
               button_text: t('user_mailer.welcome.edit_profile_action'),
               button_url: settings_profile_url
      = render 'application/mailer/checklist',
               title: 'Make your first post',
               text: t('user_mailer.welcome.final_step'),
               checked: false,
               step_image_url: full_pack_url('media/images/mailer-new/welcome/step2-off.png'),
               button_text: t('user_mailer.welcome.final_action'),
               button_url: web_url
