- content_for :page_title do
  = "Welcome #{display_name(@account)}"

.admin-wrapper
  .content

    %div{ 'tabindex': '-1', 'inert': true, 'aria-hidden': true, style: 'display: flex; align-center: center; justify-content: center;' }
      = render_symbol :wordmark

    .form-container
      %form.simple_form{ style: 'text-align: center' }

        .fields-group
          %h1.title Welcome
          %h2
            = display_name(@account, custom_emojify: true)

        .fields-group
          %h3 you now have
          %h2
            = acct(@account)

        .fields-group
          %h3 to complete your profile
          %p
            %a{ href: @mastodon_builder_url, class: 'button' }
              ō&nbsp;&nbsp;&nbsp;Continue with Hellō Mastodon Builder
