- content_for :page_title do
  = t("imports.titles.#{@bulk_import.type}")

- if @bulk_import.likely_mismatched?
  .flash-message.warning= t('imports.mismatched_types_warning')

- if @bulk_import.overwrite?
  %p.hint= t("imports.overwrite_preambles.#{@bulk_import.type}_html", filename: @bulk_import.original_filename, count: @bulk_import.total_items)
- else
  %p.hint= t("imports.preambles.#{@bulk_import.type}_html", filename: @bulk_import.original_filename, count: @bulk_import.total_items)

.simple_form
  .actions
    = link_to t('generic.cancel'), settings_import_path(@bulk_import), method: :delete, class: 'button button-secondary'
    = link_to t('generic.confirm'), confirm_settings_import_path(@bulk_import), method: :post, class: 'button'
