- content_for :page_title do
  = t('settings.import')

%p.hint= t('imports.preface')

= simple_form_for @import, url: settings_import_path do |f|
  = f.input :type, collection: Import.types.keys, wrapper: :with_label, include_blank: false, label_method: lambda { |type| I18n.t("imports.types.#{type}") }, as: :radio_buttons, collection_wrapper_tag: 'ul', item_wrapper_tag: 'li'
  = f.input :data, wrapper: :with_label, hint: t('simple_form.hints.imports.data')

  .actions
    = f.button :button, t('imports.upload'), type: :submit
