- content_for :page_title do
  = t('admin.rules.title')

%p= t('admin.rules.description_html')

%hr.spacer/

- if can? :create, :rule
  = simple_form_for @rule, url: admin_rules_path do |form|
    = render 'shared/error_messages', object: @rule

    = render form

    .actions
      = form.button :button, t('admin.rules.add_new'), type: :submit

  %hr.spacer/

- if @rules.empty?
  .muted-hint.center-text
    = t 'admin.rules.empty'
- else
  .announcements-list
    = render partial: 'rule', collection: @rules
