- content_for :page_title do
  = t('admin.email_domain_blocks.title')

- content_for :heading_actions do
  = link_to t('admin.email_domain_blocks.add_new'), new_admin_email_domain_block_path, class: 'button'

= form_for(@form, url: batch_admin_email_domain_blocks_path) do |f|
  = hidden_field_tag :page, params[:page] || 1

  .batch-table
    .batch-table__toolbar
      %label.batch-table__toolbar__select.batch-checkbox-all
        = check_box_tag :batch_checkbox_all, nil, false
      .batch-table__toolbar__actions
        = f.button safe_join([material_symbol('close'), t('admin.email_domain_blocks.delete')]),
                   class: 'table-action-link',
                   data: { confirm: t('admin.reports.are_you_sure') },
                   name: :delete,
                   type: :submit
    .batch-table__body
      - if @email_domain_blocks.empty?
        = nothing_here 'nothing-here--under-tabs'
      - else
        = render partial: 'email_domain_block', collection: @email_domain_blocks.flat_map { |x| [x, x.children.to_a].flatten }, locals: { f: f }

= paginate @email_domain_blocks
