- content_for :page_title do
  = t('.title')

= simple_form_for @email_domain_block, url: admin_email_domain_blocks_path do |form|
  = render 'shared/error_messages', object: @email_domain_block

  = render form

  .actions
    - if defined?(@resolved_records)
      = form.button :button, t('.create'), type: :submit, name: :save
    - else
      = form.button :button, t('.resolve'), type: :submit, name: :resolve
