- content_for :page_title do
  = t('.title')

= simple_form_for @email_domain_block, url: admin_email_domain_blocks_path do |f|
  = render 'shared/error_messages', object: @email_domain_block

  .fields-group
    = f.input :domain, wrapper: :with_label, label: t('admin.email_domain_blocks.domain')

  .actions
    = f.button :button, t('.create'), type: :submit
