.applications-list__item
  = link_to admin_webhook_path(webhook), class: 'announcements-list__item__title' do
    = fa_icon 'inbox'
    = webhook.url

  .announcements-list__item__action-bar
    .announcements-list__item__meta
      - if webhook.enabled?
        %span.positive-hint= t('admin.webhooks.enabled')
      - else
        %span.negative-hint= t('admin.webhooks.disabled')

      ·

      %abbr{ title: webhook.events.join(', ') }= t('admin.webhooks.enabled_events', count: webhook.events.size)

    %div
      = table_link_to 'pencil', t('admin.webhooks.edit'), edit_admin_webhook_path(webhook) if can?(:update, webhook)
      = table_link_to 'trash', t('admin.webhooks.delete'), admin_webhook_path(webhook), method: :delete, data: { confirm: t('admin.accounts.are_you_sure') } if can?(:destroy, webhook)
