- content_for :page_title do
  = t('admin.terms_of_service.preview.title')

- content_for :heading_actions do
  .back-link
    = link_to admin_terms_of_service_index_path do
      = material_symbol 'chevron_left'
      = t('admin.terms_of_service.back')

%p.lead
  = t('admin.terms_of_service.preview.explanation_html', count: @user_count, display_count: number_with_delimiter(@user_count), date: l(@terms_of_service.published_at.to_date))

.prose
  = markdown(@terms_of_service.changelog)

%hr.spacer/

.content__heading__actions
  = link_to t('admin.terms_of_service.preview.send_preview', email: current_user.email), admin_terms_of_service_test_path(@terms_of_service), method: :post, class: 'button button-secondary'
  = link_to t('admin.terms_of_service.preview.send_to_all', count: @user_count, display_count: number_with_delimiter(@user_count)), admin_terms_of_service_distribution_path(@terms_of_service), method: :post, class: 'button', data: { confirm: t('admin.reports.are_you_sure') }
