- content_for :page_title do
  = t('follow_requests.title')

- if @follow_requests.empty?
  %p.nothing-here= t('accounts.nothing_here')
- else
  %table.table
    %tbody
      - @follow_requests.each do |follow_request|
        %tr
          %td= link_to follow_request.account.acct, web_path("accounts/#{follow_request.account.id}")
          %td
            = table_link_to 'check-circle', t('follow_requests.authorize'), authorize_follow_request_path(follow_request), method: :post
            = table_link_to 'times-circle', t('follow_requests.reject'), reject_follow_request_path(follow_request), method: :post

.form-footer= render "settings/shared/links"
