- content_for :page_title do
  = t('settings.two_factor_authentication')

= simple_form_for @confirmation, url: settings_two_factor_authentication_confirmation_path, method: :post do |f|
  %p.hint= t('otp_authentication.instructions_html')

  .qr-wrapper
    .qr-code!= @qrcode.as_svg(padding: 0, module_size: 4, use_path: true)

    .qr-alternative
      %p.hint= t('otp_authentication.manual_instructions')
      %samp.qr-alternative__code= @new_otp_secret.scan(/.{4}/).join(' ')

  .fields-group
    = f.input :otp_attempt,
              hint: t('otp_authentication.code_hint'),
              input_html: { autocomplete: 'off' },
              label: t('simple_form.labels.defaults.otp_attempt'),
              required: true,
              wrapper: :with_label

  .actions
    = f.button :button, t('otp_authentication.enable'), type: :submit
