- content_for :page_title do
  = t('admin.dashboard.title')

- content_for :heading_actions do
  = date_range(@time_period)

- unless @system_checks.empty?
  .flash-message-stack
    = render collection: @system_checks, partial: 'admin/system_check/messages/message'

.dashboard
  .dashboard__item
    = react_admin_component :counter,
                            end_at: @time_period.last,
                            href: current_user.can?(:manage_users) ? admin_accounts_path(origin: 'local') : nil,
                            label: t('admin.dashboard.new_users'),
                            measure: 'new_users',
                            start_at: @time_period.first

  .dashboard__item
    = react_admin_component :counter,
                            end_at: @time_period.last,
                            href: current_user.can?(:manage_users) ? admin_accounts_path(origin: 'local') : nil,
                            label: t('admin.dashboard.active_users'),
                            measure: 'active_users',
                            start_at: @time_period.first

  .dashboard__item
    = react_admin_component :counter,
                            end_at: @time_period.last,
                            label: t('admin.dashboard.interactions'),
                            measure: 'interactions',
                            start_at: @time_period.first

  .dashboard__item
    = react_admin_component :counter,
                            end_at: @time_period.last,
                            href: current_user.can?(:manage_reports) ? admin_reports_path : nil,
                            label: t('admin.dashboard.opened_reports'),
                            measure: 'opened_reports',
                            start_at: @time_period.first

  .dashboard__item
    = react_admin_component :counter,
                            end_at: @time_period.last,
                            href: current_user.can?(:manage_reports) ? admin_reports_path(resolved: '1') : nil,
                            label: t('admin.dashboard.resolved_reports'),
                            measure: 'resolved_reports',
                            start_at: @time_period.first

  .dashboard__item
    = link_to admin_reports_path, class: 'dashboard__quick-access' do
      %span= t('admin.dashboard.pending_reports_html', count: @pending_reports_count.value)
      = material_symbol 'chevron_right'

    = link_to admin_accounts_path(status: 'pending'), class: 'dashboard__quick-access' do
      %span= t('admin.dashboard.pending_users_html', count: @pending_users_count.value)
      = material_symbol 'chevron_right'

    = link_to admin_trends_tags_path(status: 'pending_review'), class: 'dashboard__quick-access' do
      %span= t('admin.dashboard.pending_tags_html', count: @pending_tags_count.value)
      = material_symbol 'chevron_right'

    = link_to admin_disputes_appeals_path(status: 'pending'), class: 'dashboard__quick-access' do
      %span= t('admin.dashboard.pending_appeals_html', count: @pending_appeals_count.value)
      = material_symbol 'chevron_right'
  .dashboard__item
    = react_admin_component :dimension,
                            dimension: 'sources',
                            end_at: @time_period.last,
                            label: t('admin.dashboard.sources'),
                            limit: 8,
                            start_at: @time_period.first

  .dashboard__item
    = react_admin_component :dimension,
                            dimension: 'languages',
                            end_at: @time_period.last,
                            label: t('admin.dashboard.top_languages'),
                            limit: 8,
                            start_at: @time_period.first

  .dashboard__item
    = react_admin_component :dimension,
                            dimension: 'servers',
                            end_at: @time_period.last,
                            label: t('admin.dashboard.top_servers'),
                            limit: 8,
                            start_at: @time_period.first

  .dashboard__item.dashboard__item--span-double-column
    = react_admin_component :retention,
                            end_at: @time_period.last,
                            frequency: 'month',
                            start_at: @time_period.last - 6.months

  .dashboard__item.dashboard__item--span-double-row
    = react_admin_component :trends,
                            limit: 7

  .dashboard__item
    = react_admin_component :dimension,
                            dimension: 'software_versions',
                            end_at: @time_period.last,
                            label: t('admin.dashboard.software'),
                            limit: 4,
                            start_at: @time_period.first

  .dashboard__item
    = react_admin_component :dimension,
                            dimension: 'space_usage',
                            end_at: @time_period.last,
                            label: t('admin.dashboard.space'),
                            limit: 3,
                            start_at: @time_period.first
