- content_for :page_title do
  = t('admin.dashboard.title')

- content_for :heading_actions do
  = l(@time_period.first)
  = ' - '
  = l(@time_period.last)

- unless @system_checks.empty?
  .flash-message-stack
    - @system_checks.each do |message|
      .flash-message.warning
        = t("admin.system_checks.#{message.key}.message_html", value: message.value ? content_tag(:strong, message.value) : nil)
        - if message.action
          = link_to t("admin.system_checks.#{message.key}.action"), message.action

.dashboard
  .dashboard__item
    = react_admin_component :counter, measure: 'new_users', start_at: @time_period.first, end_at: @time_period.last, label: t('admin.dashboard.new_users'), href: admin_accounts_path(origin: 'local')

  .dashboard__item
    = react_admin_component :counter, measure: 'active_users', start_at: @time_period.first, end_at: @time_period.last, label: t('admin.dashboard.active_users'), href: admin_accounts_path(origin: 'local')

  .dashboard__item
    = react_admin_component :counter, measure: 'interactions', start_at: @time_period.first, end_at: @time_period.last, label: t('admin.dashboard.interactions')

  .dashboard__item
    = react_admin_component :counter, measure: 'opened_reports', start_at: @time_period.first, end_at: @time_period.last, label: t('admin.dashboard.opened_reports'), href: admin_reports_path

  .dashboard__item
    = react_admin_component :counter, measure: 'resolved_reports', start_at: @time_period.first, end_at: @time_period.last, label: t('admin.dashboard.resolved_reports'), href: admin_reports_path(resolved: '1')

  .dashboard__item
    = link_to admin_reports_path, class: 'dashboard__quick-access' do
      %span= t('admin.dashboard.pending_reports_html', count: @pending_reports_count)
      = fa_icon 'chevron-right fw'

    = link_to admin_accounts_path(status: 'pending'), class: 'dashboard__quick-access' do
      %span= t('admin.dashboard.pending_users_html', count: @pending_users_count)
      = fa_icon 'chevron-right fw'

    = link_to admin_trends_tags_path(status: 'pending_review'), class: 'dashboard__quick-access' do
      %span= t('admin.dashboard.pending_tags_html', count: @pending_tags_count)
      = fa_icon 'chevron-right fw'

    = link_to admin_disputes_appeals_path(status: 'pending'), class: 'dashboard__quick-access' do
      %span= t('admin.dashboard.pending_appeals_html', count: @pending_appeals_count)
      = fa_icon 'chevron-right fw'
  .dashboard__item
    = react_admin_component :dimension, dimension: 'sources', start_at: @time_period.first, end_at: @time_period.last, limit: 8, label: t('admin.dashboard.sources')

  .dashboard__item
    = react_admin_component :dimension, dimension: 'languages', start_at: @time_period.first, end_at: @time_period.last, limit: 8, label: t('admin.dashboard.top_languages')

  .dashboard__item
    = react_admin_component :dimension, dimension: 'servers', start_at: @time_period.first, end_at: @time_period.last, limit: 8, label: t('admin.dashboard.top_servers')

  .dashboard__item.dashboard__item--span-double-column
    = react_admin_component :retention, start_at: @time_period.last - 6.months,   end_at: @time_period.last, frequency: 'month'

  .dashboard__item.dashboard__item--span-double-row
    = react_admin_component :trends, limit: 7

  .dashboard__item
    = react_admin_component :dimension, dimension: 'software_versions', start_at: @time_period.first, end_at: @time_period.last, limit: 4, label: t('admin.dashboard.software')

  .dashboard__item
    = react_admin_component :dimension, dimension: 'space_usage', start_at: @time_period.first, end_at: @time_period.last, limit: 3, label: t('admin.dashboard.space')
