- content_for :page_title do
  = t('auth.setup.title')

= flavoured_javascript_pack_tag 'sign_up', crossorigin: 'anonymous'

= simple_form_for(@user, url: auth_setup_path) do |f|
  = render 'auth/shared/progress', stage: 'confirm'

  %h1.title= t('auth.setup.title')
  %p.lead= t('auth.setup.email_settings_hint_html', email: content_tag(:strong, @user.email))

  = render 'shared/error_messages', object: @user

  %p.lead
    %strong= t('auth.setup.link_not_received')
  %p.lead= t('auth.setup.email_below_hint_html')

  .fields-group
    = f.input :email,
              hint: false,
              input_html: { 'aria-label': t('simple_form.labels.defaults.email'), autocomplete: 'off' },
              required: true

  .actions
    = f.button :button, t('auth.resend_confirmation'), type: :submit, class: 'button timer-button', disabled: true

.form-footer= render 'auth/shared/links'
