- content_for :header_tags do
  = javascript_pack_tag 'admin', async: true, crossorigin: 'anonymous'

- content_for :page_title do
  = t('admin.timeline_injection.title')

  - content_for :heading_actions do
    = button_tag t('generic.save_changes'), class: 'button', form: 'edit_admin'

= simple_form_for @admin_settings, url: admin_settings_path, html: { method: :patch, id: 'edit_admin' } do |f|
  = render 'shared/error_messages', object: @admin_settings

  .fields-group
    = f.input :ad_injection_rate, wrapper: :with_block_label, as: :integer, label: t('admin.timeline_injection.ad_injection_rate.title'), hint: t('admin.timeline_injection.ad_injection_rate.desc_html'), input_html: { rows: 1 }
    = f.input :google_ad_client, wrapper: :with_block_label, as: :text, label: t('admin.timeline_injection.google_ad_client.title'), hint: t('admin.timeline_injection.google_ad_client.desc_html'), input_html: { rows: 1 }
    = f.input :google_ad_slot, wrapper: :with_block_label, as: :text, label: t('admin.timeline_injection.google_ad_slot.title'), hint: t('admin.timeline_injection.google_ad_slot.desc_html'), input_html: { rows: 1 }
    = f.input :google_ad_layout_key, wrapper: :with_block_label, as: :text, label: t('admin.timeline_injection.google_ad_layout_key.title'), hint: t('admin.timeline_injection.google_ad_layout_key.desc_html'), input_html: { rows: 1 }

  .actions
    = f.button :button, t('generic.save_changes'), type: :submit
