- content_for :page_title do
  = t('admin.fasp.providers.edit')

= simple_form_for [:admin, @provider] do |f|
  = render 'shared/error_messages', object: @provider

  %h4= t('admin.fasp.providers.select_capabilities')

  .fields_group
    = f.fields_for :capabilities do |cf|
      = cf.input :id, as: :hidden
      = cf.input :version, as: :hidden
      = cf.input :enabled, as: :boolean, label: cf.object.id, wrapper: :with_label

  .actions
    = f.button :button, t('admin.fasp.providers.save'), type: :submit
