- content_for :page_title do
  = t('authorize_follow.title', acct: @resource.acct)

.form-container
  .follow-prompt
    = render 'application/card', account: @resource

  - if current_account.following?(@resource)
    .flash-message
      %strong
        = t('authorize_follow.already_following')

    = render 'post_follow_actions'
  - else
    = form_tag authorize_interaction_path, method: :post, class: 'simple_form' do
      = hidden_field_tag :action, :follow
      = hidden_field_tag :acct, @resource.acct
      = button_tag t('authorize_follow.follow'), type: :submit
