- content_for :page_title do
  = t('authorize_follow.title', acct: @resource.pretty_acct)

.form-container
  .follow-prompt
    - if @resource.locked?
      %h2= t('authorize_follow.follow_request')
    - else
      %h2= t('authorize_follow.following')

    = render 'application/card', account: @resource

  = render 'post_follow_actions'
