- content_for :page_title do
  = t('admin.terms_of_service.history')

- content_for :heading do
  %h2= t('admin.terms_of_service.title')
  = render partial: 'admin/terms_of_service/links'

- if @terms_of_service.empty?
  %p= t('admin.terms_of_service.no_history')
- else
  %ol.admin__terms-of-service__history
    - @terms_of_service.each do |terms_of_service|
      %li
        .admin__terms-of-service__history__item
          %h5= l(terms_of_service.published_at)
          .prose= markdown(terms_of_service.changelog)
