.report-notes__item
  = image_tag report_note.account.avatar.url, class: 'report-notes__item__avatar'

  .report-notes__item__header
    %span.username
      = link_to report_note.account.username, admin_account_path(report_note.account_id)
    %time.relative-formatted{ datetime: report_note.created_at.iso8601 }
      = l report_note.created_at.to_date

  .report-notes__item__content
    = linkify(report_note.content)

  - if can?(:destroy, report_note)
    .report-notes__item__actions
      - if report_note.is_a?(AccountModerationNote)
        = table_link_to 'trash', t('admin.reports.notes.delete'), admin_account_moderation_note_path(report_note), method: :delete
      - else
        = table_link_to 'trash', t('admin.reports.notes.delete'), admin_report_note_path(report_note), method: :delete
