.batch-table__row
  %label.batch-table__row__select.batch-table__row__select--aligned.batch-checkbox
    = f.check_box :account_ids, { multiple: true, include_hidden: false }, account.id
  .batch-table__row__content.batch-table__row__content--unpadded
    %table.accounts-table
      %tbody
        %tr
          %td.accounts-table__interrelationships
            = interrelationships_icon(@relationships, account.id)
          %td= account_link_to account
          %td.accounts-table__count.optional
            = friendly_number_to_human account.statuses_count
            %small= t('accounts.posts', count: account.statuses_count).downcase
          %td.accounts-table__count.optional
            = friendly_number_to_human account.followers_count
            %small= t('accounts.followers', count: account.followers_count).downcase
          %td.accounts-table__count
            - if account.last_status_at.present?
              %time.time-ago{ datetime: account.last_status_at.to_date.iso8601, title: l(account.last_status_at.to_date) }= l account.last_status_at
            - else
              \-
            %small= t('accounts.last_active')
