%h3= t 'sessions.title'
%p.muted-hint
  = t 'sessions.explanation'
  = link_to t('sessions.view_authentication_history'), settings_login_activities_path

%hr.spacer/

.table-wrapper
  %table.table.inline-table
    %thead
      %tr
        %th= t 'sessions.browser'
        %th= t 'sessions.ip'
        %th= t 'sessions.activity'
        %th
    %tbody
      = render partial: 'session', collection: sessions
