%tr
  %td
    %span{ title: session.user_agent }<
      = material_symbol session_device_icon(session)
      &nbsp;
      = t 'sessions.description',
          browser: t("sessions.browsers.#{session.browser}", default: session.browser.to_s),
          platform: t("sessions.platforms.#{session.platform}", default: session.platform.to_s)
  %td
    %samp= session.ip
  %td
    - if current_session.session_id == session.session_id
      = t 'sessions.current_session'
    - else
      %time.time-ago{ datetime: session.updated_at.iso8601, title: l(session.updated_at) }= l(session.updated_at)
  %td
    - if current_session.session_id != session.session_id && !current_account.suspended?
      = table_link_to 'close', t('sessions.revoke'), settings_session_path(session), method: :delete
