- if !@user.confirmed?
  .flash-message.warning
    = t('auth.status.confirming')
    = link_to t('auth.didnt_get_confirmation'), new_user_confirmation_path
- elsif !@user.approved?
  .flash-message.warning
    = t('auth.status.pending')
- elsif @user.account.moved_to_account_id.present?
  .flash-message.warning
    = t('auth.status.redirecting_to', acct: @user.account.moved_to_account.acct)
    = link_to t('migrations.cancel'), settings_migration_path

%h3= t('auth.status.account_status')

= render partial: 'account_warning', collection: @strikes

%hr.spacer/
