- content_for :page_title do
  Change password

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = render 'shared/error_messages', object: resource

  = f.input :email, placeholder: 'E-mail address', input_html: { 'aria-label' => 'E-mail address' }
  = f.input :password, autocomplete: "off", placeholder: 'New password', input_html: { 'aria-label' => 'New password' }
  = f.input :password_confirmation, autocomplete: "off", placeholder: 'Confirm new password', input_html: { 'aria-label' => 'Confirm new password' }
  = f.input :current_password, autocomplete: "off", placeholder: 'Current password', input_html: { 'aria-label' => 'Current password' }

  .actions
    = f.button :button, "Save changes", type: :submit

.form-footer= render "settings/shared/links"
