- content_for :page_title do
  Sign up

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render 'shared/error_messages', object: resource

  = f.simple_fields_for :account do |ff|
    = ff.input :username, autofocus: true, placeholder: 'Username', required: true

  = f.input :email, placeholder: 'E-mail address', required: true
  = f.input :password, autocomplete: "off", placeholder: 'Password', required: true
  = f.input :password_confirmation, autocomplete: "off", placeholder: 'Confirm password', required: true

  .actions
    = f.button :button, "Sign up", type: :submit

.form-footer= render "auth/shared/links"
