%h2 Sign up

= simple_form_for(
  resource,
  as: resource_name,
  url: registration_path(resource_name),
  html: {
    data: {
      challenge_url: new_user_registration_challenge_url,
      credential_field_name: "#{resource_name}[passkey_credential]"
    }
  }
) do |f|
  = render "devise/shared/error_messages", resource: resource

  %fieldset
    %table
      %tr
        %th= f.label :email
        %td= f.email_field :email, autofocus: true, autocomplete: "email", required: true
      %tr
        %th= f.label :passkey_label
        %td= f.text_field :passkey_label, autofocus: "off", required: true

  = f.hidden_field :passkey_credential

  %section
    %button{type: "submit"}
      = image_tag("passkey-black.svg", width: "25", height: "25")
      | Sign up

= render "devise/shared/links"

:javascript
  import { submitFormEvent } from 'registration_form';

  document.querySelector('form').addEventListener('submit', submitFormEvent);
