- content_for :page_title do
  = t('auth.register')

- content_for :header_tags do
  = render partial: 'shared/og'

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render 'shared/error_messages', object: resource

  = f.simple_fields_for :account do |ff|
    .input-with-append
      = ff.input :username, autofocus: true, placeholder: t('simple_form.labels.defaults.username'), required: true, input_html: { 'aria-label' => t('simple_form.labels.defaults.username'), :autocomplete => 'off' }
      .append
        = "@#{site_hostname}"

  = f.input :email, placeholder: t('simple_form.labels.defaults.email'), required: true, input_html: { 'aria-label' => t('simple_form.labels.defaults.email'), :autocomplete => 'off' }
  = f.input :password, placeholder: t('simple_form.labels.defaults.password'), required: true, input_html: { 'aria-label' => t('simple_form.labels.defaults.password'), :autocomplete => 'off' }
  = f.input :password_confirmation, placeholder: t('simple_form.labels.defaults.confirm_password'), required: true, input_html: { 'aria-label' => t('simple_form.labels.defaults.confirm_password'), :autocomplete => 'off' }

  .actions
    = f.button :button, t('auth.register'), type: :submit

  %p.hint.subtle-hint=t('auth.agreement_html', rules_path: about_more_path, terms_path: terms_path)
.form-footer= render 'auth/shared/links'
