- content_for :page_title do
  = t('auth.register')

- content_for :header_tags do
  = render partial: 'shared/og', locals: { description: description_for_sign_up(@invite) }

.simple_form
  = render 'auth/shared/progress', stage: 'rules'

  - if @invite.present? && @invite.autofollow?
    %h1.title= t('auth.rules.title_invited')
    %p.lead.invited-by= t('auth.rules.invited_by', domain: site_hostname)
    = render 'application/card', account: @invite.user.account, compact: true
    %p.lead= t('auth.rules.preamble_invited', domain: site_hostname)
  - else
    %h1.title= t('auth.rules.title')
    %p.lead= t('auth.rules.preamble', domain: site_hostname)

  %ol.rules-list
    - @rules.each do |rule|
      %li
        %button{ type: 'button', aria: { expanded: 'false' } }
          .rules-list__text= rule.text
          .rules-list__hint= rule.hint

  .stacked-actions
    - accept_path = @invite_code.present? ? public_invite_url(invite_code: @invite_code, accept: @accept_token) : new_user_registration_path(accept: @accept_token)
    = link_to t('auth.rules.accept'), accept_path, class: 'button'
    = link_to t('auth.rules.back'), root_path, class: 'button button-tertiary'
