-# locals(event:)

%tr
  %td
    %time.formatted{ datetime: event.created_at.iso8601, title: l(event.created_at) }
      = l(event.created_at)
  %td= t("severed_relationships.event_type.#{event.type}", target_name: event.target_name)
  - if event.purged?
    %td{ colspan: 2 }= t('severed_relationships.purged')
  - else
    %td
      = render 'download', count: event.following_count, link: following_severed_relationship_path(event, format: :csv)
    %td
      = render 'download', count: event.followers_count, link: followers_severed_relationship_path(event, format: :csv)
