- content_for :page_title do
  Apps

%p= link_to 'Add new', new_oauth_application_path, class: 'btn btn-success'

%table.table
  %thead
    %tr
      %th App
      %th Callback URL
      %th
      %th
  %tbody
    - @applications.each do |application|
      %tr
        %td= link_to application.name, oauth_application_path(application)
        %td= application.redirect_uri
        %td= link_to 'Edit', edit_oauth_application_path(application)
        %td= link_to 'Delete', oauth_application_path(application), method: :delete, data: { confirm: 'Are you sure?' }
