- content_for :page_title do
  = @application.name

.row
  .panel
    .panel-heading General
    .panel-row
      %dt Name
      %dd= @application.name
    .panel-row
      %dt Scopes:
      %dd= @application.scopes

.panel.panel-full
  .panel-heading Details
  .panel-row
    %dt Client ID:
    %dd
      %samp= @application.uid
  .panel-row
    %dt Secret:
    %dd
      %samp= @application.secret

.panel.panel-full
  .panel-heading Callback URLs
  - @application.redirect_uri.split.each do |uri|
    .panel-row.panel-row-wider
      %dt
        %samp= uri
      %dd= link_to 'Authorize', oauth_authorization_path(client_id: @application.uid, redirect_uri: uri, response_type: 'code')

.page-actions
  = link_to fa_icon('edit'), edit_oauth_application_path(@application), class: 'btn btn-iconized'
  = link_to fa_icon('trash'), oauth_application_path(@application), method: :delete, class: 'btn btn-iconized', data: { confirm: 'Are you sure?' }
