- i ||= 0
- highlighted ||= false

%table.email-table{ cellspacing: 0, cellpadding: 0, dir: 'ltr' }
  %tbody
    %tr
      %td.email-body
        .email-container
          %table.content-section{ cellspacing: 0, cellpadding: 0 }
            %tbody
              %tr
                %td.content-cell{ class: i.zero? ? 'content-start' : nil }
                  .email-row
                    .col-6
                      %table.column{ cellspacing: 0, cellpadding: 0 }
                        %tbody
                          %tr
                            %td.column-cell.padded.status{ class: highlighted ? 'status--highlighted' : '' }
                              %table.status-header{ cellspacing: 0, cellpadding: 0 }
                                %tbody
                                  %tr
                                    %td{ align: 'left', width: 48 }
                                      = image_tag full_asset_url(status.account.avatar.url), alt:''
                                    %td{ align: 'left' }
                                      %bdi= display_name(status.account)
                                      = "@#{status.account.pretty_acct}"

                              - if status.spoiler_text?
                                %div.auto-dir
                                  %p
                                    = status.spoiler_text

                              %div.auto-dir
                                = status_content_format(status)

                                - if status.ordered_media_attachments.size > 0
                                  %p
                                    - status.ordered_media_attachments.each do |a|
                                      - if status.local?
                                        = link_to full_asset_url(a.file.url(:original)), full_asset_url(a.file.url(:original))
                                      - else
                                        = link_to a.remote_url, a.remote_url

                              %p.status-footer
                                = link_to l(status.created_at), web_url("@#{status.account.pretty_acct}/#{status.id}")
