%table.email-w-full{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
  %tr
    %td.email-status-header-img
      = image_tag full_asset_url(status.account.avatar.url), alt: '', width: 48, height: 48
    %td.email-status-header-text
      %h2.email-status-header-name
        = display_name(status.account)
      %p.email-status-header-handle
        @#{status.account.pretty_acct}

%table.email-w-full{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
  %tr
    %td.email-status-content
      = render 'notification_mailer/status_content', status: status

      - if status.local? && status.quote
        %table.email-inner-card-table{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
          %tr
            %td.email-inner-nested-card-td
              = render 'notification_mailer/nested_quote', status: status.quote.quoted_status, time_zone: time_zone
      %p.email-status-footer
        = link_to l(status.created_at.in_time_zone(time_zone.presence), format: :with_time_zone), web_url("@#{status.account.pretty_acct}/#{status.id}")
