%table.email-table{ cellspacing: 0, cellpadding: 0 }
  %tbody
    %tr
      %td.email-body
        .email-container
          %table.content-section{ cellspacing: 0, cellpadding: 0 }
            %tbody
              %tr
                %td.content-cell.darker.hero-with-button
                  .email-row
                    .col-6
                      %table.column{ cellspacing: 0, cellpadding: 0 }
                        %tbody
                          %tr
                            %td.column-cell.text-center.padded
                              %h1= t 'notification_mailer.digest.title'
                              %p.lead= t('notification_mailer.digest.body', since: l((@me.user_current_sign_in_at || @since).to_date, format: :short), instance: site_hostname)
                              %table.button{ align: 'center', cellspacing: 0, cellpadding: 0 }
                                %tbody
                                  %tr
                                    %td.button-primary
                                      = link_to web_url do
                                        %span= t 'notification_mailer.digest.action'

- @notifications.each_with_index do |n, i|
  = render 'status', status: n.target_status, i: i

- unless @follows_since.zero?
  %table.email-table{ cellspacing: 0, cellpadding: 0 }
    %tbody
      %tr
        %td.email-body
          .email-container
            %table.content-section{ cellspacing: 0, cellpadding: 0 }
              %tbody
                %tr
                  %td.content-cell.content-start.border-top
                    .email-row
                      .col-6
                        %table.column{ cellspacing: 0, cellpadding: 0 }
                          %tbody
                            %tr
                              %td.column-cell.text-center
                                %p= t('notification_mailer.digest.new_followers_summary', count: @follows_since)
