= content_for :heading do
  = render 'layouts/mailer_new_heading', title: t('notification_mailer.reblog.title'), subtitle: t('notification_mailer.reblog.body', name: @account.pretty_acct), image_url: full_pack_url('media/images/mailer-new/heading/boost.png')
%table.email-w-full{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
  %tr
    %td.email-body-padding-td
      %table.email-inner-card-table{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
        %tr
          %td.email-inner-card-td
            = render 'status_new', status: @status, time_zone: @me.user_time_zone
            = render 'application/mailer/button', text: t('application_mailer.view_status'), url: web_url("@#{@status.account.pretty_acct}/#{@status.id}")
