- content_for :page_title do
  = t('admin.fasp.debug.callbacks.title')

- content_for :heading do
  %h2= t('admin.fasp.providers.title')
  = render 'admin/fasp/shared/links'

- unless @callbacks.empty?
  %hr.spacer

  .table-wrapper
    %table.table
      %thead
        %tr
          %th= t('admin.fasp.providers.name')
          %th= t('admin.fasp.providers.base_url')
          %th= t('admin.fasp.debug.callbacks.ip')
          %th= t('admin.fasp.debug.callbacks.created_at')
          %th= t('admin.fasp.debug.callbacks.request_body')
          %th
      %tbody
        = render partial: 'callback', collection: @callbacks
