- content_for :page_title do
  Log in

= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.input :email, autofocus: true, placeholder: 'E-mail address', required: true, input_html: { 'aria-label' => 'E-mail address' }
  = f.input :password, placeholder: 'Password', required: true, input_html: { 'aria-label' => 'Password' }

  .actions
    = f.button :button, "Log in", type: :submit

.form-footer= render "auth/shared/links"
