- content_for :page_title do
  = t('auth.login')

- content_for :header_tags do
  = render partial: 'shared/og'

- unless omniauth_only?
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    %h1.title= t('auth.sign_in.title', domain: site_hostname)
    %p.lead= t('auth.sign_in.preamble_html', domain: site_hostname)
    .fields-group
      - if use_seamless_external_login?
        = f.input :email,
                  autofocus: true,
                  hint: false,
                  input_html: { 'aria-label': t('simple_form.labels.defaults.username_or_email') },
                  label: t('simple_form.labels.defaults.username_or_email'),
                  wrapper: :with_label
      - else
        = f.input :email,
                  autofocus: true,
                  hint: false,
                  input_html: { 'aria-label': t('simple_form.labels.defaults.email') },
                  label: t('simple_form.labels.defaults.email'),
                  wrapper: :with_label
    .fields-group
      = f.input :password,
                hint: false,
                input_html: { 'aria-label': t('simple_form.labels.defaults.password'), autocomplete: 'current-password' },
                label: t('simple_form.labels.defaults.password'),
                wrapper: :with_label

    .actions
      = f.button :button, t('auth.login'), type: :submit

- if devise_mapping.omniauthable? && resource_class.omniauth_providers.any?
  .simple_form.alternative-login
    %h4= omniauth_only? ? t('auth.log_in_with') : t('auth.or_log_in_with')

    .actions
      - resource_class.omniauth_providers.each do |provider|
        = provider_sign_in_link(provider)

- unless within_authorization_flow?
  .form-footer= render 'auth/shared/links'
