- content_for :page_title do
  = t('auth.login')

= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.input :email, autofocus: true, placeholder: t('simple_form.labels.defaults.email'), required: true, input_html: { 'aria-label' => t('simple_form.labels.defaults.email') }
  = f.input :password, placeholder: t('simple_form.labels.defaults.password'), required: true, input_html: { 'aria-label' => t('simple_form.labels.defaults.password') }

  .actions
    = f.button :button, t('auth.login'), type: :submit

  - if devise_mapping.omniauthable? and resource_class.omniauth_providers.any?
    %p{style:"text-align: center"}
      = t('auth.or_log_in_with')
    .actions{style:"margin-top: 12px"}
      - resource_class.omniauth_providers.each do |provider|
        - _provider = provider.to_s.chomp "_oauth2"
        - _icon = {cas: 'share-alt-square'}[_provider.to_sym]
        = link_to omniauth_authorize_path(resource_name, provider), class: "button button-#{_provider}" do
          %i.fa{class:_icon}
          %span.hidden-xs
            = _provider.capitalize

.form-footer= render 'auth/shared/links'
