- content_for :page_title do
  = t('auth.login')

- content_for :header_tags do
  = render partial: 'shared/og'

- unless omniauth_only?
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .fields-group
      - if use_seamless_external_login?
        = f.input :email, autofocus: true, wrapper: :with_label, label: t('simple_form.labels.defaults.username_or_email'), input_html: { 'aria-label': t('simple_form.labels.defaults.username_or_email') }, hint: false
      - else
        = f.input :email, autofocus: true, wrapper: :with_label, label: t('simple_form.labels.defaults.email'), input_html: { 'aria-label': t('simple_form.labels.defaults.email') }, hint: false
    .fields-group
      = f.input :password, wrapper: :with_label, label: t('simple_form.labels.defaults.password'), input_html: { 'aria-label': t('simple_form.labels.defaults.password'), autocomplete: 'current-password' }, hint: false

    .actions
      = f.button :button, t('auth.login'), type: :submit

- if devise_mapping.omniauthable? and resource_class.omniauth_providers.any?
  .simple_form.alternative-login
    %h4= omniauth_only? ? t('auth.log_in_with') : t('auth.or_log_in_with')

    .actions
      - resource_class.omniauth_providers.each do |provider|
        = provider_sign_in_link(provider)

.form-footer= render 'auth/shared/links'
