- content_for :page_title do
  Log in

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.email_field :email, autofocus: true, placeholder: 'E-mail address', required: true
  .field
    = f.password_field :password, autocomplete: "off", placeholder: 'Password', required: true
  .actions
    = f.button "Log in", type: 'submit'

.form-footer= render "auth/shared/links"
