- content_for :page_title do
  = t('auth.login')

= simple_form_for(resource, as: resource_name, url: session_path(resource_name), method: :post) do |f|
  %p.hint.otp-hint= t('users.suspicious_sign_in_confirmation')

  .fields-group
    = f.input :sign_in_token_attempt, type: :number, wrapper: :with_label, label: t('simple_form.labels.defaults.sign_in_token_attempt'), input_html: { 'aria-label' => t('simple_form.labels.defaults.sign_in_token_attempt'), :autocomplete => 'off' }, autofocus: true

  .actions
    = f.button :button, t('auth.login'), type: :submit

  - if Setting.site_contact_email.present?
    %p.hint.subtle-hint= t('users.generic_access_help_html', email: mail_to(Setting.site_contact_email, nil))
