.detailed-status.light
  = link_to TagManager.instance.url_for(status.account), class: 'detailed-status__display-name p-author h-card', target: @external_links ? '_blank' : nil, rel: 'noopener' do
    %div
      %div.avatar
        = image_tag status.account.avatar.url(:original), width: 48, height: 48, alt: '', class: 'u-photo'
    %span.display-name
      %strong.p-name.emojify= display_name(status.account)
      %span.p-nickname= acct(status.account)

  .status__content.e-content.p-name.emojify<
    - unless status.spoiler_text.blank?
      %p= status.spoiler_text
    = Formatter.instance.format(status)

  - unless status.media_attachments.empty?
    - if status.media_attachments.first.video?
      .video-player
        - if status.sensitive?
          = render partial: 'stream_entries/content_spoiler'
        %video{ src: status.media_attachments.first.file.url(:original), loop: true, class: 'u-video' }
    - else
      .detailed-status__attachments
        - if status.sensitive?
          = render partial: 'stream_entries/content_spoiler'
        - status.media_attachments.each do |media|
          .media-item
            = link_to '', (media.remote_url.blank? ? media.file.url(:original) : media.remote_url), style: "background-image: url(#{media.file.url(:original)})", target: '_blank', rel: 'noopener', class: "u-#{media.video? ? 'video' : 'photo'}"

  %div.detailed-status__meta
    %data.dt-published{ value: status.created_at.to_time.iso8601 }
    = link_to TagManager.instance.url_for(status), class: 'detailed-status__datetime u-url u-uid', target: @external_links ? '_blank' : nil, rel: 'noopener' do
      %span= l(status.created_at)
    ·
    - if status.application
      - if status.application.website.blank?
        %strong.detailed-status__application= status.application.name
      - else
        = link_to status.application.name, status.application.website, class: 'detailed-status__application', target: '_blank', rel: 'noopener'
      ·
    %span<
      = fa_icon('retweet')
      %span= status.reblogs.count
    ·
    %span<
      = fa_icon('star')
      %span= status.favourites.count
