.detailed-status.light
  = link_to TagManager.instance.url_for(status.account), class: 'detailed-status__display-name p-author h-card', target: stream_link_target, rel: 'noopener' do
    %div
      %div.avatar
        = image_tag status.account.avatar.url(:original), width: 48, height: 48, alt: '', class: 'u-photo'
    %span.display-name
      %strong.p-name.emojify= display_name(status.account)
      %span= acct(status.account)

  .status__content.p-name.emojify<
    - if status.spoiler_text?
      %p{ style: 'margin-bottom: 0' }<
        %span.p-summary>= "#{status.spoiler_text} "
        %a.status__content__spoiler-link{ href: '#' }= t('statuses.show_more')
    %div.e-content{ style: "display: #{status.spoiler_text? ? 'none' : 'block'}; direction: #{rtl?(status.content) ? 'rtl' : 'ltr'}" }= Formatter.instance.format(status)


  - unless status.media_attachments.empty?
    - if status.media_attachments.first.video?
      .video-player
        - if status.sensitive?
          = render partial: 'stream_entries/content_spoiler'
        %video{ src: status.media_attachments.first.file.url(:original), loop: true, class: 'u-video' }
    - else
      .detailed-status__attachments
        - if status.sensitive?
          = render partial: 'stream_entries/content_spoiler'
        .status__attachments__inner
          - status.media_attachments.each do |media|
            = render partial: 'stream_entries/media', locals: { media: media }

  %div.detailed-status__meta
    %data.dt-published{ value: status.created_at.to_time.iso8601 }
    = link_to TagManager.instance.url_for(status), class: 'detailed-status__datetime u-url u-uid', target: stream_link_target, rel: 'noopener' do
      %span= l(status.created_at)
    路
    - if status.application
      - if status.application.website.blank?
        %strong.detailed-status__application= status.application.name
      - else
        = link_to status.application.name, status.application.website, class: 'detailed-status__application', target: '_blank', rel: 'noopener'
      路
    %span<
      = fa_icon('retweet')
      %span= status.reblogs_count
    路
    %span<
      = fa_icon('star')
      %span= status.favourites_count

    - if user_signed_in?
      路
      = link_to t('statuses.open_in_web'), web_url("statuses/#{status.id}"), class: 'open-in-web-link', target: '_blank'
