.detailed-status.light
  = link_to TagManager.instance.url_for(status.account), class: 'detailed-status__display-name', target: @external_links ? '_blank' : nil, rel: 'noopener' do
    %div
      %div.avatar
        = image_tag status.account.avatar.url(:original), width: 48, height: 48, alt: ''
    %span.display-name
      %strong= display_name(status.account)
      %span= acct(status.account)

  .status__content= Formatter.instance.format(status)

  - unless status.media_attachments.empty?
    - if status.media_attachments.first.video?
      .video-player
        - if status.sensitive?
          = render partial: 'stream_entries/content_spoiler'
        %video{ src: status.media_attachments.first.file.url(:original), loop: true }
    - else
      .detailed-status__attachments
        - if status.sensitive?
          = render partial: 'stream_entries/content_spoiler'
        - status.media_attachments.each do |media|
          .media-item
            = link_to '', (media.remote_url.blank? ? media.file.url(:original) : media.remote_url), style: "background-image: url(#{media.file.url(:original)})", target: '_blank', rel: 'noopener'

  %div.detailed-status__meta
    = link_to TagManager.instance.url_for(status), class: 'detailed-status__datetime', target: @external_links ? '_blank' : nil, rel: 'noopener' do
      %span= l(status.created_at)
    ·
    %span
      = fa_icon('retweet')
      %span= status.reblogs.count
    ·
    %span
      = fa_icon('star')
      %span= status.favourites.count
