.status.light
  .status__header
    .status__meta
      = link_to TagManager.instance.url_for(status), class: 'status__relative-time u-url u-uid', target: stream_link_target, rel: 'noopener' do
        %time.time-ago{ datetime: status.created_at.iso8601, title: l(status.created_at) }= l(status.created_at)
      %data.dt-published{ value: status.created_at.to_time.iso8601 }

    = link_to TagManager.instance.url_for(status.account), class: 'status__display-name p-author h-card', target: stream_link_target, rel: 'noopener' do
      .status__avatar
        %div
          = image_tag status.account.avatar(:original), width: 48, height: 48, alt: '', class: 'u-photo'
      %span.display-name
        %strong.p-name.emojify= display_name(status.account)
        %span= acct(status.account)

  .status__content.p-name.emojify<
    - if status.spoiler_text?
      %p{ style: 'margin-bottom: 0' }<
        %span.p-summary> #{status.spoiler_text}&nbsp;
        %a.status__content__spoiler-link{ href: '#' }= t('statuses.show_more')
    .e-content{ lang: status.language, style: "display: #{status.spoiler_text? ? 'none' : 'block'}; direction: #{rtl_status?(status) ? 'rtl' : 'ltr'}" }= Formatter.instance.format(status)

  - unless status.media_attachments.empty?
    .status__attachments
      - if status.sensitive?
        = render partial: 'stream_entries/content_spoiler'
      - if status.media_attachments.first.video?
        .status__attachments__inner
          .video-item
            = link_to (status.media_attachments.first.remote_url.blank? ? status.media_attachments.first.file.url(:original) : status.media_attachments.first.remote_url), style: "background-image: url(#{status.media_attachments.first.file.url(:small)})", target: '_blank', rel: 'noopener', class: 'u-video' do
              .video-item__play
                = fa_icon('play')
      - else
        .status__attachments__inner
          - status.media_attachments.each do |media|
            = render partial: 'stream_entries/media', locals: { media: media }
