- include_threads ||= false
- is_predecessor  ||= false
- is_successor    ||= false
- centered        ||= include_threads && !is_predecessor && !is_successor

- if status.reply? && include_threads
  = render partial: 'stream_entries/status', collection: @ancestors, as: :status, locals: { is_predecessor: true }

.entry{ class: entry_classes(status, is_predecessor, is_successor, include_threads) }
  - if status.reblog?
    .pre-header
      %div.pre-header__icon
        = fa_icon('retweet fw')
      %span
        = link_to TagManager.instance.url_for(status.account), class: 'status__display-name muted' do
          %strong.emojify= display_name(status.account)
        = t('stream_entries.reblogged')

  = render partial: centered ? 'stream_entries/detailed_status' : 'stream_entries/simple_status', locals: { status: status.proper }

- if include_threads
  = render partial: 'stream_entries/status', collection: @descendants, as: :status, locals: { is_successor: true }
