- content_for :page_title do
  = t('statuses.title', name: display_name(@account), quote: truncate(@stream_entry.activity.spoiler_text.presence || @stream_entry.activity.text, length: 50, omission: '…', escape: false))

- content_for :header_tags do
  - if @account.user&.setting_noindex
    %meta{ name: 'robots', content: 'noindex' }/

  %link{ rel: 'alternate', type: 'application/atom+xml', href: account_stream_entry_url(@account, @stream_entry, format: 'atom') }/
  %link{ rel: 'alternate', type: 'application/json+oembed', href: api_oembed_url(url: account_stream_entry_url(@account, @stream_entry), format: 'json') }/
  %link{ rel: 'alternate', type: 'application/activity+json', href: ActivityPub::TagManager.instance.uri_for(@stream_entry.activity) }/

  = opengraph 'og:site_name', site_title
  = opengraph 'og:type', 'article'
  = opengraph 'og:title', "#{@account.display_name.presence || @account.username} on #{site_hostname}"
  = opengraph 'og:url', account_stream_entry_url(@account, @stream_entry)

  = render 'stream_entries/og_description', activity: @stream_entry.activity
  = render 'stream_entries/og_image', activity: @stream_entry.activity, account: @account

- if show_landing_strip?
  = render partial: 'shared/landing_strip', locals: { account: @stream_entry.account }

.activity-stream.activity-stream-headless.h-entry
  = render partial: "stream_entries/#{@type}", locals: { @type.to_sym => @stream_entry.activity, include_threads: true }
