- content_for :header_tags do
  %link{ rel: 'alternate', type: 'application/atom+xml', href: account_stream_entry_url(@account, @stream_entry, format: 'atom') }/
  %link{ rel: 'alternate', type: 'application/json+oembed', href: api_oembed_url(url: account_stream_entry_url(@account, @stream_entry), format: 'json') }/

  %meta{ property: 'og:site_name', content: site_title }/
  %meta{ property: 'og:type', content: 'article' }/
  %meta{ property: 'og:title', content: "#{@account.username} on #{Rails.configuration.x.local_domain}" }/

  = render 'stream_entries/og_description', activity: @stream_entry.activity
  = render 'stream_entries/og_image', activity: @stream_entry.activity, account: @account

  %meta{ property: 'twitter:card', content: 'summary' }/

- if show_landing_strip?
  = render partial: 'shared/landing_strip', locals: { account: @stream_entry.account }

.activity-stream.activity-stream-headless.h-entry
  = render partial: "stream_entries/#{@type}", locals: { @type.to_sym => @stream_entry.activity, include_threads: true }
