.batch-table__row{ class: [status.requires_review? && 'batch-table__row--attention', !status.requires_review? && !status.trendable? && 'batch-table__row--muted'] }
  %label.batch-table__row__select.batch-table__row__select--aligned.batch-checkbox
    = f.check_box :status_ids, { multiple: true, include_hidden: false }, status.id

  .batch-table__row__content.pending-account__header
    .one-liner
      = admin_account_link_to status.account

      = link_to ActivityPub::TagManager.instance.url_for(status), target: '_blank', class: 'emojify', rel: 'noopener noreferrer' do
        = one_line_preview(status)

        - status.ordered_media_attachments.each do |media_attachment|
          %abbr{ title: media_attachment.description }
            = fa_icon 'link'
            = media_attachment.file_file_name

    = t 'admin.trends.statuses.shared_by',
        count: status.reblogs_count + status.favourites_count,
        friendly_count: friendly_number_to_human(status.reblogs_count + status.favourites_count)

    - if status.account.domain.present?
      ·
      = status.account.domain
    - if status.language.present?
      ·
      = standard_locale_name(status.language)
    - if status.trendable? && !status.account.discoverable?
      ·
      = t('admin.trends.statuses.not_discoverable')
    - if status.trend.allowed?
      ·
      %abbr{ title: t('admin.trends.tags.current_score', score: status.trend.score) }= t('admin.trends.tags.trending_rank', rank: status.trend.rank)
    - elsif status.requires_review?
      ·
      = t('admin.trends.pending_review')
