-# locals: (account:)
- if account.local? && account.user_approved?
  = render 'admin/accounts/buttons/warning', account: account
  = render 'admin/accounts/buttons/disabled', account: account

= render 'admin/accounts/buttons/sensitive', account: account

= render 'admin/accounts/buttons/silenced', account: account

- if account.local?
  - if account.user_pending?
    = render 'admin/accounts/buttons/pending', account: account
  - unless account.user_confirmed?
    = render 'admin/accounts/buttons/confirmation', account: account
- if !account.local? || account.user_approved?
  = render 'admin/accounts/buttons/suspension', account: account
