.account-card
  .detailed-status__display-name
    %div
      = image_tag account.avatar.url(:original), alt: '', width: 48, height: 48, class: 'avatar'

    %span.display-name
      %strong.emojify= display_name(account)
      %span= "@#{account.acct}"

  - if account.note?
    .account__header__content.emojify= Formatter.instance.simplified_format(account)
