- content_for :header_tags do
  - if user_signed_in?
    = preload_pack_asset 'features/compose.js', crossorigin: 'anonymous'
    = preload_pack_asset 'features/home_timeline.js', crossorigin: 'anonymous'
    = preload_pack_asset 'features/notifications.js', crossorigin: 'anonymous'
    %meta{ name: 'initialPath', content: request.path }

  %meta{ name: 'applicationServerKey', content: Rails.configuration.x.vapid_public_key }

  = render_initial_state

.notranslate.app-holder#mastodon{ data: { props: Oj.dump(default_props) } }
  %noscript
    = image_pack_tag 'logo.svg', alt: 'Mastodon'

    %div
      = t('errors.noscript_html', apps_path: 'https://joinmastodon.org/apps')
