- content_for :page_title do
  = t('doorkeeper.authorized_applications.index.title')

.table-wrapper
  %table.table
    %thead
      %tr
        %th= t('doorkeeper.authorized_applications.index.application')
        %th= t('doorkeeper.authorized_applications.index.scopes')
        %th= t('doorkeeper.authorized_applications.index.created_at')
        %th
    %tbody
      - @applications.each do |application|
        %tr
          %td
            - if application.website.blank?
              = application.name
            - else
              = link_to application.name, application.website, target: '_blank', rel: 'noopener'
          %th!= application.scopes.map { |scope| t(scope, scope: [:doorkeeper, :scopes]) }.join(', ')
          %td= l application.created_at
          %td
            - unless application.superapp?
              = table_link_to 'times', t('doorkeeper.authorized_applications.buttons.revoke'), oauth_authorized_application_path(application), method: :delete, data: { confirm: t('doorkeeper.authorized_applications.confirmations.revoke') }
