- content_for :page_title do
  = t('doorkeeper.authorizations.new.title')

.form-container
  = form_tag settings_application_path, method: :post, class: 'simple_form' do |f|
    = f.input :name
    = f.input :redirect_uri
    = f.input :scopes
    = f.input :website
    
    = button_tag 'add it', type: :submit
