.fields-group
  = f.input :name, placeholder: t('activerecord.attributes.doorkeeper/application.name')
  = f.input :website, placeholder: t('activerecord.attributes.doorkeeper/application.website')

.fields-group
  = f.input :redirect_uri, wrapper: :with_block_label, label: t('activerecord.attributes.doorkeeper/application.redirect_uri'), hint: t('doorkeeper.applications.help.redirect_uri')

  %p.hint= t('doorkeeper.applications.help.native_redirect_uri', native_redirect_uri: Doorkeeper.configuration.native_redirect_uri)

.field-group
  = f.input :scopes,
    label: t('activerecord.attributes.doorkeeper/application.scopes'),
    collection: Doorkeeper.configuration.scopes,
    wrapper: :with_label,
    include_blank: false,
    label_method: lambda { |scope| safe_join([scope, content_tag(:span, t("doorkeeper.scopes.#{scope}"), class: 'hint')]) },
    selected: f.object.scopes.all,
    required: false,
    as: :check_boxes,
    collection_wrapper_tag: 'ul',
    item_wrapper_tag: 'li'
