- content_for :page_title do
  = t('doorkeeper.applications.index.title')

- content_for :heading_actions do
  = link_to t('doorkeeper.applications.index.new'), new_settings_application_path, class: 'button'

- if @applications.empty?
  .muted-hint.center-text= t 'doorkeeper.applications.index.empty'
- else
  .table-wrapper
    %table.table
      %thead
        %tr
          %th= t('doorkeeper.applications.index.application')
          %th= t('doorkeeper.applications.index.scopes')
          %th
      %tbody
        - @applications.each do |application|
          %tr
            %td= link_to application.name, settings_application_path(application)
            %th
              - application.scopes.to_s.split.each do |scope|
                = tag.samp(scope, class: 'information-badge', title: t("doorkeeper.scopes.#{scope}"))
            %td
              = table_link_to 'close', t('doorkeeper.applications.index.delete'), settings_application_path(application), method: :delete, data: { confirm: t('doorkeeper.applications.confirmations.destroy') }

= paginate @applications
