- content_for :page_title do
  = t('doorkeeper.applications.index.title')

- content_for :heading_actions do
  = link_to t('doorkeeper.applications.index.new'), new_settings_application_path, class: 'button'

- if @applications.empty?
  .muted-hint.center-text= t 'doorkeeper.applications.index.empty'
- else
  .table-wrapper
    %table.table
      %thead
        %tr
          %th= t('doorkeeper.applications.index.application')
          %th= t('doorkeeper.applications.index.scopes')
          %th
      %tbody
        = render partial: 'application', collection: @applications

= paginate @applications
