- content_for :page_title do
  = t('doorkeeper.applications.index.title')

.table-wrapper
  %table.table
    %thead
      %tr
        %th= t('doorkeeper.applications.index.application')
        %th= t('doorkeeper.applications.index.scopes')
        %th
    %tbody
      - @applications.each do |application|
        %tr
          %td= link_to application.name, settings_application_path(application)
          %th= application.scopes
          %td
            = table_link_to 'times', t('doorkeeper.applications.index.delete'), settings_application_path(application), method: :delete, data: { confirm: t('doorkeeper.applications.confirmations.destroy') }

= paginate @applications
= link_to t('doorkeeper.applications.index.new'), new_settings_application_path, class: 'button'
