- content_for :page_title do
  Edit profile

= simple_form_for @account, url: settings_path, method: :put do |f|
  = f.error_notification

  .form-inputs
    = f.input :display_name
    = f.input :note
    = f.input :avatar
    = f.input :header

  .form-actions
    = f.button :submit, 'Save changes'
