.account-card
  .detailed-status__display-name
    %div
      = image_tag account.avatar.url(:original), alt: '', width: 48, height: 48, class: 'avatar'

    %span.display-name
      - account_url = local_assigns[:admin] ? admin_account_path(account.id) : TagManager.instance.url_for(account)
      = link_to account_url, class: 'detailed-status__display-name p-author h-card', target: '_blank', rel: 'noopener' do
        %strong.emojify= display_name(account, custom_emojify: true)
        %span @#{account.acct}

  - if account.note?
    .account__header__content.emojify= Formatter.instance.simplified_format(account)
