- content_for :page_title do
  = "##{@tag.name}"

= simple_form_for @tag, url: admin_tag_path(@tag.id) do |f|
  = render 'shared/error_messages', object: @tag

  .fields-group
    = f.input :name, wrapper: :with_block_label

  .fields-group
    = f.input :usable, as: :boolean, wrapper: :with_label
    = f.input :trendable, as: :boolean, wrapper: :with_label, disabled: !Setting.trends
    = f.input :listable, as: :boolean, wrapper: :with_label, disabled: !Setting.profile_directory

  .actions
    = f.button :button, t('generic.save_changes'), type: :submit
