- content_for :header_tags do
  = javascript_pack_tag 'admin', async: true, crossorigin: 'anonymous'

- content_for :page_title do
  = "##{@tag.display_name}"

- if current_user.can?(:view_dashboard)
  - content_for :heading_actions do
    = l(@time_period.first)
    = ' - '
    = l(@time_period.last)

  .dashboard
    .dashboard__item
      = react_admin_component :counter, measure: 'tag_accounts', start_at: @time_period.first, end_at: @time_period.last, params: { id: @tag.id }, label: t('admin.trends.tags.dashboard.tag_accounts_measure'), href: tag_url(@tag), target: '_blank'
    .dashboard__item
      = react_admin_component :counter, measure: 'tag_uses', start_at: @time_period.first, end_at: @time_period.last, params: { id: @tag.id }, label: t('admin.trends.tags.dashboard.tag_uses_measure')
    .dashboard__item
      = react_admin_component :counter, measure: 'tag_servers', start_at: @time_period.first, end_at: @time_period.last, params: { id: @tag.id }, label: t('admin.trends.tags.dashboard.tag_servers_measure')
    .dashboard__item
      = react_admin_component :dimension, dimension: 'tag_servers', start_at: @time_period.first, end_at: @time_period.last, params: { id: @tag.id }, limit: 8, label: t('admin.trends.tags.dashboard.tag_servers_dimension')
    .dashboard__item
      = react_admin_component :dimension, dimension: 'tag_languages', start_at: @time_period.first, end_at: @time_period.last, params: { id: @tag.id }, limit: 8, label: t('admin.trends.tags.dashboard.tag_languages_dimension')
    .dashboard__item
      = link_to admin_tag_path(@tag.id), class: ['dashboard__quick-access', @tag.usable? ? 'positive' : 'negative'] do
        - if @tag.usable?
          %span= t('admin.trends.tags.usable')
          = fa_icon 'check fw'
        - else
          %span= t('admin.trends.tags.not_usable')
          = fa_icon 'lock fw'

      = link_to admin_tag_path(@tag.id), class: ['dashboard__quick-access', @tag.trendable? ? 'positive' : 'negative'] do
        - if @tag.trendable?
          %span= t('admin.trends.tags.trendable')
          = fa_icon 'check fw'
        - else
          %span= t('admin.trends.tags.not_trendable')
          = fa_icon 'lock fw'


      = link_to admin_tag_path(@tag.id), class: ['dashboard__quick-access', @tag.listable? ? 'positive' : 'negative'] do
        - if @tag.listable?
          %span= t('admin.trends.tags.listable')
          = fa_icon 'check fw'
        - else
          %span= t('admin.trends.tags.not_listable')
          = fa_icon 'lock fw'

  %hr.spacer/

= simple_form_for @tag, url: admin_tag_path(@tag.id) do |f|
  = render 'shared/error_messages', object: @tag

  .fields-group
    = f.input :display_name, wrapper: :with_block_label

  .fields-group
    = f.input :usable, as: :boolean, wrapper: :with_label
    = f.input :trendable, as: :boolean, wrapper: :with_label
    = f.input :listable, as: :boolean, wrapper: :with_label

  .actions
    = f.button :button, t('generic.save_changes'), type: :submit
