= simple_form_for [:settings, @favourite_tag] do |f|
  = render 'shared/error_messages', object: @favourite_tag
  = f.simple_fields_for :tag do |ff|
    = ff.input :name, placeholder: t('favourite_tags.name_of_tag')
  = f.input :visibility,
    label: t('simple_form.labels.defaults.setting_default_privacy'),
    collection: Status.visibilities.keys[0..1],
    wrapper: :with_label,
    include_blank: false,
    label_method: lambda { |visibility| safe_join([I18n.t("statuses.visibilities.#{visibility}"), content_tag(:span, I18n.t("statuses.visibilities.#{visibility}_long"), class: 'hint')]) },
    required: false,
    as: :radio_buttons,
    collection_wrapper_tag: 'ul',
    item_wrapper_tag: 'li'
  = f.input :order, wrapper: :with_label, as: :integer, hint: t('favourite_tags.form.hint.order'), label: t('favourite_tags.order')
  .actions
    = f.button :button, submit, type: :submit
