- content_for :page_title do
  = t('admin.trends.tags.title')

%p= t('admin.trends.tags.description_html')

%hr.spacer/

.filters
  .filter-subset
    %strong= t('admin.tags.review')
    %ul
      %li= filter_link_to t('generic.all'), status: nil
      %li= filter_link_to t('admin.trends.approved'), status: 'approved'
      %li= filter_link_to t('admin.trends.rejected'), status: 'rejected'
      %li= filter_link_to safe_join([t('admin.accounts.moderation.pending'), "(#{@pending_tags_count.value})"], ' '), status: 'pending_review'

= form_with model: @form, url: batch_admin_trends_tags_path do |f|
  = hidden_field_tag :page, params[:page] || 1

  - Trends::TagFilter::KEYS.each do |key|
    = hidden_field_tag key, params[key] if params[key].present?

  .batch-table
    .batch-table__toolbar
      %label.batch-table__toolbar__select.batch-checkbox-all
        = check_box_tag :batch_checkbox_all, nil, false
      .batch-table__toolbar__actions
        = f.button safe_join([material_symbol('check'), t('admin.trends.allow')]),
                   class: 'table-action-link',
                   data: { confirm: t('admin.trends.confirm_allow') },
                   name: :approve,
                   type: :submit
        = f.button safe_join([material_symbol('close'), t('admin.trends.disallow')]),
                   class: 'table-action-link',
                   data: { confirm: t('admin.trends.confirm_disallow') },
                   name: :reject,
                   type: :submit

    .batch-table__body
      - if @tags.empty?
        = nothing_here 'nothing-here--under-tabs'
      - else
        = render partial: 'tag', collection: @tags, locals: { f: f }

= paginate @tags
