<p>
  <%= raw t('admin_mailer.new_trends.new_trending_tags.title') %>
</p>
<ul>
  <% new_trending_tags.each do |tag| %>
    <li>
      #<%= tag.display_name %>
      <br />
      <%= raw t('admin.trends.tags.usage_comparison', today: tag.history.get(Time.now.utc).accounts, yesterday: tag.history.get(Time.now.utc - 1.day).accounts) %> · <%= t('admin.trends.tags.current_score', score: Trends.tags.score(tag.id).round(2)) %>
    </li>
  <% end %>
</ul>
<p>
  <%= raw t('application_mailer.view')%> <%= admin_trends_tags_url(status: 'pending_review') %>
</p>
