- content_for :page_title do
  = t('admin.invites.title')

.filters
  .filter-subset
    %strong= t('admin.invites.filter.title')
    %ul
      %li= filter_link_to t('admin.invites.filter.all'), available: nil, expired: nil
      %li= filter_link_to t('admin.invites.filter.available'), available: 1, expired: nil
      %li= filter_link_to t('admin.invites.filter.expired'), available: nil, expired: 1

%hr.spacer/

- if policy(:invite).create?
  %p= t('invites.prompt')

  = simple_form_for [:admin, @invite] do |form|
    = render partial: 'invites/form', object: form

  %hr.spacer/

.table-wrapper.simple_form
  %table.table.table--invites
    %thead
      %tr
        %th
        %th
        %th= t('invites.table.uses')
        %th= t('invites.table.expires_at')
        %th
    %tbody
      = render @invites

= paginate @invites

- if policy(:invite).deactivate_all?
  = link_to t('admin.invites.deactivate_all'), deactivate_all_admin_invites_path, method: :post, data: { confirm: t('admin.accounts.are_you_sure') }, class: 'button'
