- content_for :page_title do
  = t('admin.disputes.appeals.title')

- content_for :header_tags do
  = javascript_pack_tag 'admin', async: true, crossorigin: 'anonymous'

.filters
  .filter-subset
    %strong= t('admin.tags.review')
    %ul
      %li= filter_link_to safe_join([t('admin.accounts.moderation.pending'), "(#{Appeal.pending.count})"], ' '), status: 'pending'
      %li= filter_link_to t('admin.trends.approved'), status: 'approved'
      %li= filter_link_to t('admin.trends.rejected'), status: 'rejected'

- if @appeals.empty?
  %div.muted-hint.center-text
    = t 'admin.disputes.appeals.empty'
- else
  .announcements-list
    = render partial: 'appeal', collection: @appeals

= paginate @appeals
