- content_for :page_title do
  = t('accounts.people_followed_by', name: display_name(@account))

- content_for :header_tags do
  %meta{ name: 'robots', content: 'noindex' }/
  = render 'accounts/og', account: @account, url: account_followers_url(@account, only_path: false)

= render 'accounts/header', account: @account

- if user_signed_in?
  .info-widget
    = fa_icon 'info-circle fw'
    = t('accounts.viewing_public')
    = link_to web_url("@#{@account.acct}/following") do
      = t('accounts.view_in_web')
      = fa_icon 'chevron-right fw'

- if @account.hide_collections?
  .nothing-here= t('accounts.network_hidden')
- elsif user_signed_in? && @account.blocking?(current_account)
  .nothing-here= t('accounts.unavailable')
- elsif @follows.empty?
  = nothing_here
- else
  .card-grid
    = render partial: 'application/card', collection: @follows.map(&:target_account), as: :account

  = paginate @follows
