- content_for :page_title do
  = t('admin.warning_presets.title')

- if can? :create, :account_warning_preset
  = simple_form_for @warning_preset, url: admin_warning_presets_path do |form|
    = render 'shared/error_messages', object: @warning_preset

    = render form

    .actions
      = form.button :button, t('admin.warning_presets.add_new'), type: :submit

  %hr.spacer/

- if @warning_presets.empty?
  .muted-hint.center-text
    = t 'admin.warning_presets.empty'
- else
  .announcements-list
    = render partial: 'warning_preset', collection: @warning_presets
