- content_for :page_title do
  = t('admin.settings.registrations.title')

- content_for :heading do
  %h2= t('admin.settings.title')
  = render partial: 'admin/settings/shared/links'

= simple_form_for @admin_settings, url: admin_settings_registrations_path, html: { method: :patch } do |form|
  = render 'shared/error_messages', object: @admin_settings

  %p.lead= t('admin.settings.registrations.preamble')

  = render form

  .actions
    = form.button :button, t('generic.save_changes'), type: :submit
