.announcements-list__item{ id: dom_id(announcement) }
  = link_to edit_admin_announcement_path(announcement), class: 'announcements-list__item__title' do
    = truncate(announcement.text)

  .announcements-list__item__action-bar
    .announcements-list__item__meta
      - if announcement.scheduled_at.present?
        = t('admin.announcements.scheduled_for', time: l(announcement.scheduled_at))
      - else
        = l(announcement.created_at)

    .announcements-list__item__actions
      - if can?(:distribute, announcement)
        = table_link_to 'mail', t('admin.terms_of_service.notify_users'), admin_announcement_preview_path(announcement)
      - if can?(:update, announcement)
        - if announcement.published?
          = table_link_to 'toggle_off', t('admin.announcements.unpublish'), unpublish_admin_announcement_path(announcement), method: :post, data: { confirm: t('admin.accounts.are_you_sure') }
        - else
          = table_link_to 'toggle_on', t('admin.announcements.publish'), publish_admin_announcement_path(announcement), method: :post, data: { confirm: t('admin.accounts.are_you_sure') }

      = table_link_to 'delete', t('generic.delete'), admin_announcement_path(announcement), method: :delete, data: { confirm: t('admin.accounts.are_you_sure') } if can?(:destroy, announcement)
