- content_for :page_title do
  = t('admin.announcements.title')

- content_for :heading_actions do
  = link_to t('admin.announcements.new.title'), new_admin_announcement_path, class: 'button'

.filters
  .filter-subset
    %strong= t('admin.relays.status')
    %ul
      %li= filter_link_to t('generic.all'), published: nil, unpublished: nil
      %li= filter_link_to safe_join([t('admin.announcements.live'), "(#{number_with_delimiter(Announcement.published.count)})"], ' '), published: '1', unpublished: nil

- if @announcements.empty?
  %div.muted-hint.center-text
    = t 'admin.announcements.empty'
- else
  .table-wrapper
    %table.table
      %thead
        %tr
          %th= t('simple_form.labels.announcement.text')
          %th= t('admin.announcements.time_range')
          %th= t('admin.announcements.published')
          %th
      %tbody
        = render partial: 'announcement', collection: @announcements

= paginate @announcements

