- content_for :page_title do
  = t('admin.announcements.title')

- content_for :heading_actions do
  = link_to t('admin.announcements.new.title'), new_admin_announcement_path, class: 'button'

.filters
  .filter-subset
    %strong= t('admin.relays.status')
    %ul
      %li= filter_link_to t('generic.all'), published: nil, unpublished: nil
      %li= filter_link_to safe_join([t('admin.announcements.live'), "(#{number_with_delimiter(Announcement.published.count)})"], ' '), published: '1', unpublished: nil

- if @announcements.empty?
  .muted-hint.center-text
    = t 'admin.announcements.empty'
- else
  .announcements-list
    = render partial: 'announcement', collection: @announcements

= paginate @announcements
