- content_for :page_title do
  = t('.title')

= simple_form_for @announcement, url: admin_announcements_path, html: { novalidate: false } do |form|
  = render 'shared/error_messages', object: @announcement

  = render form

  .actions
    = form.button :button,
                  t('.create'),
                  type: :submit
