- content_for :page_title do
  = t('.title')

= simple_form_for @announcement, url: admin_announcements_path do |f|
  = render 'shared/error_messages', object: @announcement

  .fields-group
    = f.input :starts_at, include_blank: true, wrapper: :with_block_label
    = f.input :ends_at, include_blank: true, wrapper: :with_block_label

  .fields-group
    = f.input :all_day, as: :boolean, wrapper: :with_label

  .fields-group
    = f.input :text, wrapper: :with_block_label

  .fields-group
    = f.input :scheduled_at, include_blank: true, wrapper: :with_block_label

  .actions
    = f.button :button, t('.create'), type: :submit
