- content_for :page_title do
  = "##{@tag.name}"

- content_for :header_tags do
  %link{ rel: 'alternate', type: 'application/rss+xml', href: tag_url(@tag, format: 'rss') }/

  %script#initial-state{ type: 'application/json' }!= json_escape(@initial_state_json)
  = javascript_pack_tag 'about', integrity: true, crossorigin: 'anonymous'
  = render 'og'

.page-header
  %h1= "##{@tag.name}"
  %p= t('about.about_hashtag_html', hashtag: @tag.name)

#mastodon-timeline{ data: { props: Oj.dump(default_props.merge(hashtag: @tag.name)) }}
#modal-container
