= link_to disputes_strike_path(account_warning), class: 'log-entry' do
  .log-entry__header
    .log-entry__avatar
      .indicator-icon{ class: account_warning.overruled? ? 'success' : 'failure' }
        = fa_icon 'warning'
    .log-entry__content
      .log-entry__title
        = t(account_warning.action, scope: 'admin.strikes.actions', name: content_tag(:span, account_warning.account ? account_warning.account.username : I18n.t('admin.action_logs.deleted_account'), class: 'username'), target: content_tag(:span, account_warning.target_account.pretty_acct, class: 'target')).html_safe
      .log-entry__timestamp
        %time.formatted{ datetime: account_warning.created_at.iso8601 }
          = l(account_warning.created_at)

        - if account_warning.report_id.present?
          路
          = t('admin.reports.report', id: account_warning.report_id)

        - if account_warning.overruled?
          路
          %span.positive-hint= t('admin.strikes.appeal_approved')
        - elsif account_warning.appeal&.pending?
          路
          %span.warning-hint= t('admin.strikes.appeal_pending')
        - elsif account_warning.appeal&.rejected?
          路
          %span.negative-hint= t('admin.strikes.appeal_rejected')
