%table.email-w-full{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
  %tr
    %td.email-mini-wrapper-td
      %table.email-w-full{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
        %tr
          %td.email-mini-td
            %table.email-w-full{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
              %tr
                %td.email-mini-hashtag-td{ height: 40 }
                  %h3= '#Fotomontag'
                  %table.email-w-full{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
                    %tr
                      %td.email-mini-hashtag-img-td
                        %span.email-mini-hashtag-img-span
                          = image_tag 'https://files.mastodon.social/accounts/avatars/000/013/179/original/b4ceb19c9c54ec7e.png', alt: '', width: 16, height: 16
                        %span.email-mini-hashtag-img-span
                          = image_tag 'https://files.mastodon.social/accounts/avatars/000/013/179/original/b4ceb19c9c54ec7e.png', alt: '', width: 16, height: 16
                        %span.email-mini-hashtag-img-span
                          = image_tag 'https://files.mastodon.social/accounts/avatars/000/013/179/original/b4ceb19c9c54ec7e.png', alt: '', width: 16, height: 16
                      %td
                        %p= t('user_mailer.welcome.hashtags_recent_count')
