- content_for :page_title do
  = t('admin.settings.about.title')

- content_for :heading do
  %h2= t('admin.settings.title')
  = render partial: 'admin/settings/shared/links'

= simple_form_for @admin_settings, url: admin_settings_about_path, html: { method: :patch } do |f|
  = render 'shared/error_messages', object: @admin_settings

  %p.lead= t('admin.settings.about.preamble')

  .fields-group
    = f.input :site_extended_description, wrapper: :with_block_label, as: :text, input_html: { rows: 8 }

    %p.hint
      = t 'admin.settings.about.rules_hint'
      = link_to t('admin.settings.about.manage_rules'), admin_rules_path

  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :show_domain_blocks, wrapper: :with_label, collection: %i(disabled users all), label_method: lambda { |value| t("admin.settings.domain_blocks.#{value}") }, include_blank: false, collection_wrapper_tag: 'ul', item_wrapper_tag: 'li'
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :show_domain_blocks_rationale, wrapper: :with_label, collection: %i(disabled users all), label_method: lambda { |value| t("admin.settings.domain_blocks.#{value}") }, include_blank: false, collection_wrapper_tag: 'ul', item_wrapper_tag: 'li'

  .fields-group
    = f.input :status_page_url, wrapper: :with_block_label, input_html: { placeholder: "https://status.#{Rails.configuration.x.local_domain}" }

  .fields-group
    = f.input :site_terms, wrapper: :with_block_label, as: :text, input_html: { rows: 8 }

  .actions
    = f.button :button, t('generic.save_changes'), type: :submit
