- content_for :page_title do
  = t('admin.settings.about.title')

- content_for :heading do
  %h2= t('admin.settings.title')
  = render partial: 'admin/settings/shared/links'

= simple_form_for @admin_settings, url: admin_settings_about_path do |f|
  = render 'shared/error_messages', object: @admin_settings

  %p.lead= t('admin.settings.about.preamble')

  .fields-group
    = f.input :site_extended_description,
              as: :text,
              input_html: { rows: 8 },
              wrapper: :with_block_label

    %p.hint
      = t 'admin.settings.about.rules_hint'
      = link_to t('admin.settings.about.manage_rules'), admin_rules_path

  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :show_domain_blocks,
                collection_wrapper_tag: 'ul',
                collection: f.object.class::DOMAIN_BLOCK_AUDIENCES,
                include_blank: false,
                item_wrapper_tag: 'li',
                label_method: ->(value) { t("admin.settings.domain_blocks.#{value}") },
                wrapper: :with_label
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :show_domain_blocks_rationale,
                collection_wrapper_tag: 'ul',
                collection: f.object.class::DOMAIN_BLOCK_AUDIENCES,
                include_blank: false,
                item_wrapper_tag: 'li',
                label_method: ->(value) { t("admin.settings.domain_blocks.#{value}") },
                wrapper: :with_label

  .fields-group
    = f.input :status_page_url,
              input_html: { placeholder: "https://status.#{Rails.configuration.x.local_domain}" },
              wrapper: :with_block_label

  .fields-group
    = f.input :site_terms,
              as: :text,
              input_html: { rows: 8 },
              wrapper: :with_block_label

  .actions
    = f.button :button, t('generic.save_changes'), type: :submit
