- content_for :page_title do
  Subscriptions

.subscriptions.container
  .applications-list__item
    %strong.announcements-list__item__title
      %span
      My Subscription
    .announcements-list__item__action-bar
      .announcements-list__item__meta
        - if @subscriptions.empty?
          No subscription found.
          %br
          %br
          = t('subscription.explain')
          %br
          Please choose a subscription option below:
        - else
          manage your current subscription & view past subscriptions
    .announcements-list__item__permissions.simple_form
      - if @subscriptions.empty?
        .permissions-list__item
          %ul.permissions-list
            %li.permissions-list__item__text__title
              %strong.announcements-list__item__title
                = @single_plan
            %li.permissions-list__item
              = t('subscription.description')
            %li.permissions-list__item
              .permissions-list__item__text__title
                %br
                %br
                %br
                = t('subscription.price')
                %br
                %br
                %br
            %li.permissions-list__item
              = link_to t('subscription.button'), settings_subscription.subscriptions_url, class: 'button', method: 'POST'
          %ul.permissions-list
            %li.permissions-list__item__text__title
              %strong.announcements-list__item__title
                = @group_plan
            %li.permissions-list__item
              = t('subscription.description2')
            = form_with url: settings_subscription.subscriptions_url do |f|
              = f.hidden_field :group, value: true
              %li.permissions-list__item
                .permissions-list__item__text__title.input.with_block_label
                  = f.select :quantity, 2..99, class: 'select'
                  %br
                  = t('subscription.small_group_price')
                  %br
                  = t('subscription.large_group_price')
              %li.permissions-list__item
                = f.submit t('subscription.button2'), class: 'button'
      - else
        %ul.permissions-list
          - @subscriptions.each do |sub| 
            %li.permissions-list__item
              .permissions-list__item__icon
                = fa_icon('cc-stripe')
              .permissions-list__item__text
                .permissions-list__item__text__type
                  = sub.status
              .permissions-list__item__text
                .permissions-list__item__text__title
                  = sub.description
              .permissions-list__item__text
                .permissions-list__item__text__title
                  - if @data[sub.id][:owner]
                    - if sub.size > 1
                      .permissions-list__item__text
                        - if sub.invite.present? && sub.invite.valid_for_use?
                          - sub.members.each do |m|
                            %br
                            %br
                            %br
                            %br
                          = fa_icon 'user fw'
                          = sub.invite.uses
                          = " / #{sub.invite.max_uses}" unless sub.invite.max_uses.nil?
                          invites used
                          - sub.members.each do |member|
                            = account_link_to member.user.account
              - if @data[sub.id][:owner]
                - if sub.invite.present? && sub.invite.valid_for_use?
                  .permissions-list__item__text
                    = main_app.public_invite_url(invite_code: sub.invite.code)
                .permissions-list__item__text
                  .permissions-list__item__text__type
                    = link_to "Manage", @data[sub.id][:url], class: 'button'
              - else
                .permissions-list__item__text
                  .permissions-list__item__text__type
                    managed by
                .permissions-list__item__text
                  .permissions-list__item__text__type
                    = account_link_to sub.user.account
