- content_for :page_title do
  = t('admin.settings.title')

%table.table
  %colgroup
    %col{ width: '35%' }/
  %thead
    %tr
      %th= t('admin.settings.setting')
      %th= t('admin.settings.description')
      %th
  %tbody
    - @settings.each do |key|
      %tr
        %td= key.to_s.humanize
        %td= t("admin.settings.#{key}.desc_html")
        %td= link_to t('admin.accounts.edit'), edit_admin_setting_path(key)
