- content_for :page_title do
  = t('admin.settings.title')

%table.table
  %colgroup
    %col{ width: '35%' }/
  %thead
    %tr
      %th= t('admin.settings.setting')
      %th= t('admin.settings.click_to_edit')
  %tbody
    %tr
      %td{ rowspan: 2 }
        %strong= t('admin.settings.contact_information.label')
      %td= best_in_place @settings['site_contact_username'], :value, url: admin_setting_path(@settings['site_contact_username']), place_holder: t('admin.settings.contact_information.username')
    %tr
      %td= best_in_place @settings['site_contact_email'], :value, url: admin_setting_path(@settings['site_contact_email']), place_holder: t('admin.settings.contact_information.email')
    %tr
      %td
        %strong= t('admin.settings.site_title')
      %td= best_in_place @settings['site_title'], :value, url: admin_setting_path(@settings['site_title'])
    %tr
      %td
        %strong= t('admin.settings.site_description.title')
        %p= t('admin.settings.site_description.desc_html')
      %td= best_in_place @settings['site_description'], :value, as: :textarea, url: admin_setting_path(@settings['site_description'])
    %tr
      %td
        %strong= t('admin.settings.site_description_extended.title')
        %p= t('admin.settings.site_description_extended.desc_html')
      %td= best_in_place @settings['site_extended_description'], :value, as: :textarea, url: admin_setting_path(@settings['site_extended_description'])
    %tr
      %td
        %strong= t('admin.settings.registrations.open.title')
      %td= best_in_place @settings['open_registrations'], :value, as: :checkbox, collection: { false: t('admin.settings.registrations.open.disabled'), true: t('admin.settings.registrations.open.enabled')}, url: admin_setting_path(@settings['open_registrations'])
    %tr
      %td
        %strong= t('admin.settings.registrations.closed_message.title')
        %p= t('admin.settings.registrations.closed_message.desc_html')
      %td= best_in_place @settings['closed_registrations_message'], :value, as: :textarea, url: admin_setting_path(@settings['closed_registrations_message'])
