%tr
  %td.id
    = "##{report.id}"
  %td.target
    = admin_account_link_to report.target_account
  %td.reporter
    - if report.account.local?
      = admin_account_link_to report.account
    - else
      = report.account.domain
  %td
    %div{ title: report.comment }
      = truncate(report.comment, length: 30, separator: ' ')
    %div
      - unless report.statuses.empty?
        %span{ title: t('admin.accounts.statuses') }
          = fa_icon('comment')
          = report.statuses.count
      - unless report.media_attachments.empty?
        %span{ title: t('admin.accounts.media_attachments') }
          = fa_icon('camera')
          = report.media_attachments.count
  %td
    - if report.assigned_account.nil?
      \-
    - else
      = admin_account_link_to report.assigned_account
  %td
    = table_link_to 'circle', t('admin.reports.view'), admin_report_path(report)
