- content_for :page_title do
  = t('reports.reports')

.filters
  .filter-subset
    %strong= t('reports.status')
    %ul
      %li= filter_link_to t('reports.unresolved'), action_taken: nil
      %li= filter_link_to t('reports.resolved'), action_taken: '1'

= form_tag do

  %table.table
    %thead
      %tr
        %th
        %th= t('reports.id')
        %th= t('reports.target')
        %th= t('reports.reported_by')
        %th= t('reports.comment.label')
        %th
    %tbody
      - @reports.each do |report|
        %tr
          %td= check_box_tag 'select', report.id
          %td= "##{report.id}"
          %td= link_to report.target_account.acct, admin_account_path(report.target_account.id)
          %td= link_to report.account.acct, admin_account_path(report.account.id)
          %td= truncate(report.comment, length: 30, separator: ' ')
          %td= table_link_to 'circle', t('reports.view'), admin_report_path(report)

= paginate @reports
