- content_for :header_tags do
  = javascript_pack_tag 'admin', integrity: true, async: true, crossorigin: 'anonymous'

- content_for :page_title do
  = t('admin.reports.report', id: @report.id)

%div{ style: 'overflow: hidden; margin-bottom: 20px' }
  - if @report.unresolved?
    %div{ style: 'float: right' }
      = link_to t('admin.reports.silence_account'), admin_report_path(@report, outcome: 'silence'), method: :put, class: 'button'
      = link_to t('admin.reports.suspend_account'), admin_report_path(@report, outcome: 'suspend'), method: :put, class: 'button'
    %div{ style: 'float: left' }
      = link_to t('admin.reports.mark_as_resolved'), admin_report_path(@report, outcome: 'resolve'), method: :put, class: 'button'
  - else
    = link_to t('admin.reports.mark_as_unresolved'), admin_report_path(@report, outcome: 'reopen'), method: :put, class: 'button'

.table-wrapper
  %table.table
    %tbody
      %tr
        %th= t('admin.reports.created_at')
        %td{ colspan: 2 }
          %time.formatted{ datetime: @report.created_at.iso8601 }
      %tr
        %th= t('admin.reports.updated_at')
        %td{ colspan: 2 }
          %time.formatted{ datetime: @report.updated_at.iso8601 }
      %tr
        %th= t('admin.reports.reported_account')
        %td= render partial: 'admin/reports/account', object: @report.target_account
        %td{ style: 'padding: 0' }= render 'admin/reports/account_details', account: @report.target_account
      %tr
        %th= t('admin.reports.reported_by')
        %td= render partial: 'admin/reports/account', object: @report.account
        %td{ style: 'padding: 0' }= render 'admin/reports/account_details', account: @report.account
      %tr
        %th= t('admin.reports.status')
        %td
          - if @report.action_taken?
            = t('admin.reports.resolved')
          - else
            = t('admin.reports.unresolved')
        %td
          - if @report.action_taken?
            = table_link_to 'envelope-open', t('admin.reports.reopen'), admin_report_path(@report, outcome: 'reopen'), method: :put
      - if !@report.action_taken_by_account.nil?
        %tr
          %th= t('admin.reports.action_taken_by')
          %td{ colspan: 2 }
            = render partial: 'admin/reports/account', object: @report.action_taken_by_account
      - else
        %tr
          %th= t('admin.reports.assigned')
          %td= render partial: 'admin/reports/account', object: @report.assigned_account
          %td
            - if @report.assigned_account != current_user.account
              = table_link_to 'user', t('admin.reports.assign_to_self'), admin_report_path(@report, outcome: 'assign_to_self'), method: :put
            - if !@report.assigned_account.nil?
              = table_link_to 'trash', t('admin.reports.unassign'), admin_report_path(@report, outcome: 'unassign'), method: :put

%hr.spacer/

%h3= t('admin.reports.comment.label')

= simple_format(@report.comment.presence || t('admin.reports.comment.none'))

- unless @report.statuses.empty?
  %hr.spacer/

  %h3= t('admin.reports.statuses')

  = form_for(@form, url: admin_report_reported_statuses_path(@report.id)) do |f|
    %table.table
      %colgroup
        %col{ style: 'width: 16px' }
        %col{ style: 'width: 50ch' }
        %col
      %thead
        %tr
          %th.batch-checkbox-all{ style: 'vertical-align: middle' }= check_box_tag :batch_checkbox_all, nil, false
          %th{ colspan: 2, style: 'vertical-align: middle; text-align: right' }
            = f.button safe_join([fa_icon('eye-slash'), t('admin.statuses.batch.nsfw_on')]), name: :nsfw_on, class: 'table-action-link', type: :submit, data: { confirm: t('admin.reports.are_you_sure') }
            = f.button safe_join([fa_icon('eye'), t('admin.statuses.batch.nsfw_off')]), name: :nsfw_off, class: 'table-action-link', type: :submit, data: { confirm: t('admin.reports.are_you_sure') }
            = f.button safe_join([fa_icon('trash'), t('admin.statuses.batch.delete')]), name: :delete, class: 'table-action-link', type: :submit, data: { confirm: t('admin.reports.are_you_sure') }

      %tbody
        = render partial: 'admin/reports/status', collection: @report.statuses, locals: { f: f }

%hr.spacer/

%h3= t('admin.reports.notes.label')

- unless @report_notes.empty?
  %ul= render @report_notes

%h4= t('admin.reports.notes.new_label')

= form_for @report_note, url: admin_report_notes_path, html: { class: 'report-note__form' } do |f|
  = render 'shared/error_messages', object: @report_note
  = f.text_area :content, placeholder: t('admin.reports.notes.placeholder'), rows: 6, class: 'report-note__textarea'
  = f.hidden_field :report_id
  .report-note__buttons
    - if @report.unresolved?
      = f.submit t('admin.reports.notes.create_and_resolve'), name: :create_and_resolve, class: 'button report-note__button'
    - else
      = f.submit t('admin.reports.notes.create_and_unresolve'), name: :create_and_unresolve, class: 'button report-note__button'
    = f.submit t('admin.reports.notes.create'), class: 'button report-note__button'

- unless @report_history.empty?
  %h3= t('admin.reports.history')
  %ul= render @report_history
