- content_for :page_title do
  = t('reports.report', id: @report.id)

.report-accounts
  .report-accounts__item
    %strong= t('reports.reported_account')
    = render partial: 'authorize_follow/card', locals: { account: @report.target_account }
  .report-accounts__item
    %strong= t('reports.reported_by')
    = render partial: 'authorize_follow/card', locals: { account: @report.account }

%p
  %strong= t('reports.comment.label')
  \:
  = @report.comment.presence || t('reports.comment.none')

- unless @statuses.empty?
  %hr/

  - @statuses.each do |status|
    .report-status
      .activity-stream.activity-stream-headless
        .entry= render partial: 'stream_entries/simple_status', locals: { status: status }
      .report-status__actions
        = link_to remove_admin_report_path(@report, status_id: status.id), method: :post, class: 'icon-button', style: 'font-size: 24px; width: 24px; height: 24px', title: t('reports.delete') do
          = fa_icon 'trash'

- if !@report.action_taken?
  %hr/

  %div{ style: 'overflow: hidden' }
    %div{ style: 'float: right' }
      = link_to t('reports.silence_account'), silence_admin_report_path(@report), method: :post, class: 'button'
      = link_to t('reports.suspend_account'), suspend_admin_report_path(@report), method: :post, class: 'button'
    %div{ style: 'float: left' }
      = link_to t('reports.mark_as_resolved'), resolve_admin_report_path(@report), method: :post, class: 'button'
- elsif !@report.action_taken_by_account.nil?
  %hr/

  %p
    %strong Action taken by:
    = @report.action_taken_by_account.acct
