- content_for :page_title do
  = t('admin.reports.report', id: @report.id)

.report-accounts
  .report-accounts__item
    %strong= t('admin.reports.reported_account')
    = render partial: 'authorize_follows/card', locals: { account: @report.target_account }
    = render partial: 'admin/accounts/card', locals: { account: @report.target_account }
  .report-accounts__item
    %strong= t('admin.reports.reported_by')
    = render partial: 'authorize_follows/card', locals: { account: @report.account }
    = render partial: 'admin/accounts/card', locals: { account: @report.account }

%p
  %strong= t('admin.reports.comment.label')
  \:
  = simple_format(@report.comment.presence || t('admin.reports.comment.none'))

- unless @report.statuses.empty?
  %hr/

  - @report.statuses.each do |status|
    .report-status
      .activity-stream.activity-stream-headless
        .entry= render partial: 'stream_entries/simple_status', locals: { status: status }
      .report-status__actions
        = link_to admin_report_reported_status_path(@report, status), method: :delete, class: 'icon-button', style: 'font-size: 24px; width: 24px; height: 24px', title: t('admin.reports.delete') do
          = fa_icon 'trash'

- if !@report.action_taken?
  %hr/

  %div{ style: 'overflow: hidden' }
    %div{ style: 'float: right' }
      = link_to t('admin.reports.silence_account'), admin_report_path(@report, outcome: 'silence'), method: :put, class: 'button'
      = link_to t('admin.reports.suspend_account'), admin_report_path(@report, outcome: 'suspend'), method: :put, class: 'button'
    %div{ style: 'float: left' }
      = link_to t('admin.reports.mark_as_resolved'), admin_report_path(@report, outcome: 'resolve'), method: :put, class: 'button'
- elsif !@report.action_taken_by_account.nil?
  %hr/

  %p
    %strong Action taken by:
    = @report.action_taken_by_account.acct
