%table.email-table{ cellspacing: 0, cellpadding: 0 }
  %tbody
    %tr
      %td.email-body
        .email-container
          %table.content-section{ cellspacing: 0, cellpadding: 0 }
            %tbody
              %tr
                %td.content-cell.hero
                  .email-row
                    .col-6
                      %table.column{ cellspacing: 0, cellpadding: 0 }
                        %tbody
                          %tr
                            %td.column-cell.text-center.padded
                              %h1= "Redeem your invite"
                              %p.lead= "Use this invite link to create your new account" 

%table.email-table{ cellspacing: 0, cellpadding: 0 }
  %tbody
    %tr
      %td.email-body
        .email-container
          %table.content-section{ cellspacing: 0, cellpadding: 0 }
            %tbody
              %tr
                %td.content-cell.content-start
                  %table.column{ cellspacing: 0, cellpadding: 0 }
                    %tbody
                      %tr
                        %td.column-cell.button-cell
                          %table.button{ align: 'center', cellspacing: 0, cellpadding: 0 }
                            %tbody
                              %tr
                                %td.button-primary
                                  - invite_url = main_app.public_invite_url(invite_code: @invite.code)
                                  = link_to invite_url do
                                    %span= invite_url

%table.email-table{ cellspacing: 0, cellpadding: 0 }
  %tbody
    %tr
      %td.email-body
        .email-container
          %table.content-section{ cellspacing: 0, cellpadding: 0 }
            %tbody
              %tr
                %td.content-cell
                  .email-row
                    .col-6
                      %table.column{ cellspacing: 0, cellpadding: 0 }
                        %tbody
                          %tr
                            %td.column-cell.text-center.padded
                              %p= 'If you have a family plan, share this invite link with your family members so they can create their accounts'
