- content_for :page_title do
  = t('admin.custom_templates.title')

.table-wrapper
  %table.table
    %thead
      %tr
        %th= t('admin.custom_templates.preview')
        %th= t('admin.custom_templates.content')
    %tbody
      = render @custom_templates

= paginate @custom_templates
= link_to t('admin.custom_templates.add_new'), new_admin_custom_template_path, class: 'button'
