- content_for :page_title do
  PubSubHubbub

%table.table
  %thead
    %tr
      %th Topic
      %th Callback URL
      %th Confirmed
      %th Expires in
      %th Last delivery
  %tbody
    - @subscriptions.each do |subscription|
      %tr
        %td
          %samp= subscription.account.acct
        %td
          %samp= subscription.callback_url
        %td
          - if subscription.confirmed?
            %i.fa.fa-check
        %td= distance_of_time_in_words(Time.now, subscription.expires_at)
        %td
          - if subscription.last_successful_delivery_at?
            = l subscription.last_successful_delivery_at
          - else
            %i.fa.fa-times

= paginate @subscriptions
