- content_for :page_title do
  = t('admin.pubsubhubbub.title')

%table.table
  %thead
    %tr
      %th= t('admin.pubsubhubbub.topic')
      %th= t('admin.pubsubhubbub.callback_url')
      %th= t('admin.pubsubhubbub.confirmed')
      %th= t('admin.pubsubhubbub.expires_in')
      %th= t('admin.pubsubhubbub.last_delivery')
  %tbody
    = render partial: 'subscription', collection: @subscriptions

= paginate @subscriptions
