- content_for :header_tags do
  = render_initial_state
  = javascript_pack_tag 'public', crossorigin: 'anonymous'

- if @media_attachment.video?
  = react_component :video, react_video_props(@media_attachment) do
    %video{ controls: 'controls' }
      %source{ src: @media_attachment.file.url(:original) }
- elsif @media_attachment.gifv?
  = react_component :media_gallery, react_media_gallery_props(@media_attachment) do
    %video{ autoplay: 'autoplay', muted: 'muted', loop: 'loop' }
      %source{ src: @media_attachment.file.url(:original) }
- elsif @media_attachment.audio?
  = react_component :audio, react_audio_props(@media_attachment) do
    %audio{ controls: 'controls' }
      %source{ src: @media_attachment.file.url(:original) }
