- content_for :page_title do
  = t('admin.statuses.title')
  \-
  @#{@account.pretty_acct}

.filters
  .filter-subset
    %strong= t('admin.statuses.media.title')
    %ul
      %li= filter_link_to t('generic.all'), media: nil, id: nil
      %li= filter_link_to t('admin.statuses.with_media'), media: true
  .back-link
    - if params[:report_id]
      = link_to admin_report_path(params[:report_id].to_i) do
        = material_symbol 'chevron_left'
        = t('admin.statuses.back_to_report')
    - else
      = link_to admin_account_path(@account.id) do
        = material_symbol 'chevron_left'
        = t('admin.statuses.back_to_account')

%hr.spacer/

= form_with model: @status_batch_action, url: batch_admin_account_statuses_path(@account.id) do |f|
  = hidden_field_tag :page, params[:page] || 1

  - Admin::StatusFilter::KEYS.each do |key|
    = hidden_field_tag key, params[key] if params[key].present?

  .batch-table
    .batch-table__toolbar
      %label.batch-table__toolbar__select.batch-checkbox-all
        = check_box_tag :batch_checkbox_all, nil, false
      .batch-table__toolbar__actions
        - unless @statuses.empty?
          = f.button safe_join([fa_icon('flag'), t('admin.statuses.batch.report')]),
                     class: 'table-action-link',
                     data: { confirm: t('admin.reports.are_you_sure') },
                     name: :report,
                     type: :submit
    .batch-table__body
      - if @statuses.empty?
        = nothing_here 'nothing-here--under-tabs'
      - else
        = render partial: 'admin/reports/status', collection: @statuses, locals: { f: f }

= paginate @statuses
