- content_for :page_title do
  = t('admin.trends.links.title')

%p= t('admin.trends.links.description_html')

%hr.spacer/

= form_with url: admin_trends_links_path, method: :get, class: :simple_form do |form|
  - Trends::PreviewCardFilter::KEYS.each do |key|
    = form.hidden_field key, value: params[key] if params[key].present?

  .filters
    .filter-subset.filter-subset--with-select
      %strong= t('admin.follow_recommendations.language')
      .input.select.optional
        = form.select :locale,
                      options_for_select(@locales.map { |key| [standard_locale_name(key), key] }, params[:locale]),
                      include_blank: true
    .filter-subset
      %strong= t('admin.trends.trending')
      %ul
        %li= filter_link_to t('generic.all'), trending: nil
        %li= filter_link_to t('admin.trends.only_allowed'), trending: 'allowed'
    .back-link
      = link_to admin_trends_links_preview_card_providers_path do
        = t('admin.trends.preview_card_providers.title')
        = material_symbol 'chevron_right'

= form_with model: @form, url: batch_admin_trends_links_path do |f|
  = hidden_field_tag :page, params[:page] || 1

  - Trends::PreviewCardFilter::KEYS.each do |key|
    = hidden_field_tag key, params[key] if params[key].present?

  .batch-table
    .batch-table__toolbar
      %label.batch-table__toolbar__select.batch-checkbox-all
        = check_box_tag :batch_checkbox_all, nil, false
      .batch-table__toolbar__actions
        = f.button safe_join([material_symbol('check'), t('admin.trends.links.allow')]),
                   class: 'table-action-link',
                   data: { confirm: t('admin.reports.are_you_sure') },
                   name: :approve,
                   type: :submit
        = f.button safe_join([material_symbol('check'), t('admin.trends.links.allow_provider')]),
                   class: 'table-action-link',
                   data: { confirm: t('admin.reports.are_you_sure') },
                   name: :approve_providers,
                   type: :submit
        = f.button safe_join([material_symbol('close'), t('admin.trends.links.disallow')]),
                   class: 'table-action-link',
                   data: { confirm: t('admin.reports.are_you_sure') },
                   name: :reject,
                   type: :submit
        = f.button safe_join([material_symbol('close'), t('admin.trends.links.disallow_provider')]),
                   class: 'table-action-link',
                   data: { confirm: t('admin.reports.are_you_sure') },
                   name: :reject_providers,
                   type: :submit
    .batch-table__body
      - if @preview_cards.empty?
        = nothing_here 'nothing-here--under-tabs'
      - else
        = render partial: 'preview_card', collection: @preview_cards, locals: { f: f }

= paginate @preview_cards
