.account-card
  .detailed-status__display-name
    %div
      = image_tag account.avatar.url(:original), alt: '', width: 48, height: 48, class: 'avatar'

    %span.display-name
      = link_to TagManager.instance.url_for(account), class: 'detailed-status__display-name p-author h-card', target: '_blank', rel: 'noopener' do
        %strong.emojify= display_name(account)
        %span= "@#{account.acct}"

  - if account.note?
    .account__header__content.emojify= Formatter.instance.simplified_format(account)
