- content_for :page_title do
  = t('authorize_follow.title', acct: @account.acct)

.form-container
  .follow-prompt
    %h2= t('authorize_follow.prompt_html', self: current_account.username)

    = render 'card', account: @account

  = form_tag authorize_follow_path, method: :post, class: 'simple_form' do
    = hidden_field_tag :acct, @account.acct
    = button_tag t('authorize_follow.follow'), type: :submit
