- content_for :page_title do
  = t('authorize_follow.title', acct: @account.acct)

.form-container
  .follow-prompt
    - if @account.locked?
      %h2= t('authorize_follow.follow_request')
    - else
      %h2= t('authorize_follow.following')

    = render 'application/card', account: @account

  = render 'post_follow_actions'
