
= render 'shared/error_messages', object: proof

.fields-row
  .fields-group.fields-row__column.fields-row__column-6
    - if with_id
      = f.input :id, as: :hidden
    = f.input :provider, collection: identity_proof_providers.sort, wrapper: :with_label, required: false, include_blank: false

    = f.input :provider_username, wrapper: :with_block_label, input_html: { maxlength: 20 }, hint: false
    = f.input :token, wrapper: :with_block_label, input_html: { maxlength: 66 }, hint: false
    - if show_remote_fields
      %hr.spacer/
      = proof.is_valid ? "VALID: ✅" : "VALID: ❌"
      = proof.is_live ? "LIVE: ✅" : "LIVE: ❌"
.actions
  = f.button :button, t('generic.save'), type: :submit
