- content_for :page_title do
  = t('settings.identity_proofs')

%p= t('identity_proofs.explanation_html')

- unless @proofs.empty?
  %hr.spacer/

  .table-wrapper
    %table.table
      %thead
        %tr
          %th= t('identity_proofs.identity')
          %th= t('identity_proofs.status')
          %th
      %tbody
        = render partial: 'settings/identity_proofs/proof', collection: @proofs, as: :proof
