.identity_proofs
  - content_for :page_title do
    = t('settings.identity_proofs')

  %h3 Authorize this cryptographic connection?

  = simple_form_for @proof, url: settings_identity_proofs_url, html: { method: :post } do |f|
    = f.input :provider, as: :hidden
    = f.input :provider_username, as: :hidden
    = f.input :token, as: :hidden
    = text_field_tag :useragent, params[:ua], type: :hidden

    .row.connection
      .column.column-1
        = image_tag current_account.avatar.url(:original), size: 96, class: :account__avatar
        %p= "I am #{current_account.username} on #{identity_proof_my_domain}."
      .column.column-2
        %i.fa.fa-ws.fa-link
      .column.column-3
        - provider_pic_url = @proof.remote_profile_pic_url || default_provider_pic_url(@proof.provider)
        = image_tag provider_pic_url, size: 96, class: :account__avatar
        %p= "I am #{@proof.provider_username} on #{@proof.provider}."

    .actions
      = link_to t('account_identity_proofs.buttons.alternative'), settings_identity_proofs_url, class: 'button button-alternative'
      = f.button :button, t('account_identity_proofs.buttons.primary'), type: :submit
