- content_for :page_title do
  = @instance.domain

- content_for :heading do
  %h2= t('admin.instances.instance.title', domain: @instance.domain)
  = render partial: 'admin/instances/shared/navigation', instance: @instance

%p.lead= t('admin.instances.availability.subtitle')

- if @instance.persisted?
  %p
    = t('admin.instances.availability.description_html', count: DeliveryFailureTracker::FAILURE_DAYS_THRESHOLD)
    = t('admin.instances.availability.period_description', count: DeliveryFailureTracker::MEASURED_DAYS)

  .availability-indicator
    %ul.availability-indicator__graphic
      - @instance.availability_over_days(DeliveryFailureTracker::MEASURED_DAYS).each do |(date, failing)|
        %li.availability-indicator__graphic__item{ class: failing ? 'negative' : 'neutral', title: l(date) }
    .availability-indicator__hint
      - if @instance.unavailable?
        %span.negative-hint
          = t('admin.instances.availability.failure_threshold_reached', date: l(@instance.unavailable_domain.created_at.to_date))
      - elsif @instance.exhausted_deliveries_days.empty?
        %span.positive-hint
          = t('admin.instances.availability.no_failures_recorded')
      - else
        %span.negative-hint
          = t('admin.instances.availability.failures_recorded', count: @instance.delivery_failure_tracker.days)

  .button-group
    - if @instance.unavailable?
      = link_to t('admin.instances.delivery.restart'), restart_delivery_admin_instance_path(@instance), data: { confirm: t('admin.accounts.are_you_sure'), method: :post }, class: 'button'
    - elsif @instance.exhausted_deliveries_days.empty?
      = link_to t('admin.instances.delivery.stop'), stop_delivery_admin_instance_path(@instance), data: { confirm: t('admin.accounts.are_you_sure'), method: :post }, class: 'button button--destructive'
    - else
      = link_to t('admin.instances.delivery.clear'), clear_delivery_errors_admin_instance_path(@instance), data: { confirm: t('admin.accounts.are_you_sure'), method: :post }, class: 'button button-secondary' unless @instance.exhausted_deliveries_days.empty?
      = link_to t('admin.instances.delivery.stop'), stop_delivery_admin_instance_path(@instance), data: { confirm: t('admin.accounts.are_you_sure'), method: :post }, class: 'button button--destructive'

  %hr.spacer

  - if @instance.purgeable?
    %h3= t('admin.instances.purge_title')
    %p= t('admin.instances.purge_description_html')

    = link_to t('admin.instances.purge'), admin_instance_path(@instance), data: { confirm: t('admin.instances.confirm_purge'), method: :delete }, class: 'button button--destructive'
- else
  %p= t('admin.instances.availability.unknown_instance')
