- content_for :page_title do
  = t('admin.instances.title')

- content_for :heading_actions do
  - if limited_federation_mode?
    = link_to t('admin.domain_allows.add_new'), new_admin_domain_allow_path, class: 'button', id: 'add-instance-button'
    = link_to t('admin.domain_allows.export'), export_admin_export_domain_allows_path(format: :csv), class: 'button'
    = link_to t('admin.domain_allows.import'), new_admin_export_domain_allow_path, class: 'button'
  - else
    = link_to t('admin.domain_blocks.add_new'), new_admin_domain_block_path, class: 'button', id: 'add-instance-button'
    = link_to t('admin.domain_blocks.export'), export_admin_export_domain_blocks_path(format: :csv), class: 'button'
    = link_to t('admin.domain_blocks.import'), new_admin_export_domain_block_path, class: 'button'

.filters
  .filter-subset
    %strong= t('admin.instances.moderation.title')
    %ul
      - if limited_federation_mode?
        %li= filter_link_to t('admin.instances.moderation.allowed'), status: nil
      - else
        %li= filter_link_to t('admin.instances.moderation.all'), status: nil
        %li= filter_link_to t('admin.instances.moderation.not_limited'), status: 'not_limited'
        %li= filter_link_to t('admin.instances.moderation.noop'), status: 'noop'
        %li= filter_link_to t('admin.instances.moderation.silenced'), status: 'silenced'
        %li= filter_link_to t('admin.instances.moderation.suspended'), status: 'suspended'

  .filter-subset
    %strong= t('admin.instances.availability.title')
    %ul
      %li= filter_link_to t('admin.instances.delivery.all'), availability: nil
      %li= filter_link_to t('admin.instances.delivery.failing'), availability: 'failing'
      %li= filter_link_to t('admin.instances.delivery.unavailable'), availability: 'unavailable'

= form_with url: admin_instances_url, method: :get, class: :simple_form do |form|
  .fields-group
    - InstanceFilter::KEYS.each do |key|
      = form.hidden_field key, value: params[key] if params[key].present?

    .input.string.optional
      = form.text_field :by_domain,
                        value: params[:by_domain],
                        class: 'string optional',
                        placeholder: t('admin.instances.by_domain')

    .actions
      %button.button= t('admin.accounts.search')
      = link_to t('admin.accounts.reset'), admin_instances_path, class: 'button negative'

%hr.spacer/

- if @instances.empty?
  .muted-hint.center-text
    = t 'admin.instances.empty'
- else
  = render partial: 'instance', collection: @instances

= paginate @instances
