- content_for :page_title do
  = t('admin.instances.title')

.table-wrapper
  %table.table
    %thead
      %tr
        %th= t('admin.instances.domain_name')
        %th= t('admin.instances.account_count')
    %tbody
      = render @instances

= paginate paginated_instances
