- content_for :page_title do
  = @instance.domain

.filters
  .back-link
    = link_to admin_instances_path() do
      %i.fa.fa-chevron-left.fa-fw
      = t('admin.instances.back_to_all')
    = link_to admin_instances_path(limited: 1) do
      %i.fa.fa-chevron-left.fa-fw
      = t('admin.instances.back_to_limited')
    = link_to admin_instances_path(warning: 1) do
      %i.fa.fa-chevron-left.fa-fw
      = t('admin.instances.back_to_warning')

.dashboard__counters
  %div
    = link_to admin_accounts_path(remote: '1', by_domain: @instance.domain) do
      .dashboard__counters__num= number_with_delimiter @instance.accounts_count
      .dashboard__counters__label= t 'admin.accounts.title'
  %div
    = link_to admin_reports_path(by_target_domain: @instance.domain) do
      .dashboard__counters__num= number_with_delimiter @instance.reports_count
      .dashboard__counters__label= t 'admin.instances.total_reported'
  %div
    %div
      .dashboard__counters__num= number_to_human_size @instance.media_storage
      .dashboard__counters__label= t 'admin.instances.total_storage'
  %div
    %div
      .dashboard__counters__num= number_with_delimiter @instance.following_count
      .dashboard__counters__label= t 'admin.instances.total_followed_by_them'
  %div
    %div
      .dashboard__counters__num= number_with_delimiter @instance.followers_count
      .dashboard__counters__label= t 'admin.instances.total_followed_by_us'
  %div
    %div
      .dashboard__counters__num= number_with_delimiter @instance.blocks_count
      .dashboard__counters__label= t 'admin.instances.total_blocked_by_us'

  %div
    %div
      .dashboard__counters__num
        - if @instance.delivery_failure_tracker.available?
          = fa_icon 'check'
        - else
          = fa_icon 'times'
      .dashboard__counters__label= t 'admin.instances.delivery_available'

- if @instance.private_comment.present?
  .speech-bubble
    .speech-bubble__bubble
      = simple_format(h(@instance.private_comment))
    .speech-bubble__owner= t 'admin.instances.private_comment'

- if @instance.public_comment.present?
  .speech-bubble
    .speech-bubble__bubble
      = simple_format(h(@instance.public_comment))
    .speech-bubble__owner= t 'admin.instances.public_comment'

- unless @exhausted_deliveries_days.empty?
  %h4= t 'admin.instances.delivery_error_days'
  %ul
    = render partial: 'exhausted_deliveries_days', collection: @exhausted_deliveries_days
  %p.hint
    = t 'admin.instances.delivery_error_hint', count: DeliveryFailureTracker::FAILURE_DAYS_THRESHOLD

%hr.spacer/

%div.action-buttons
  %div
    - if @instance.domain_allow
      = link_to t('admin.domain_allows.undo'), admin_domain_allow_path(@instance.domain_allow), class: 'button button--destructive', data: { confirm: t('admin.accounts.are_you_sure'), method: :delete }
    - elsif @instance.domain_block
      = link_to t('admin.domain_blocks.edit'), edit_admin_domain_block_path(@instance.domain_block), class: 'button'
      = link_to t('admin.domain_blocks.undo'), admin_domain_block_path(@instance.domain_block), class: 'button'
    - else
      = link_to t('admin.domain_blocks.add_new'), new_admin_domain_block_path(_domain: @instance.domain), class: 'button'
    - if @instance.delivery_failure_tracker.available?
      - unless @exhausted_deliveries_days.empty?
        = link_to t('admin.instances.delivery.clear'), clear_delivery_errors_admin_instance_path(@instance), data: { confirm: t('admin.accounts.are_you_sure'), method: :post }, class: 'button'
      = link_to t('admin.instances.delivery.stop'), stop_delivery_admin_instance_path(@instance), data: { confirm: t('admin.accounts.are_you_sure'), method: :post }, class: 'button'
    - else
      = link_to t('admin.instances.delivery.restart'), restart_delivery_admin_instance_path(@instance), data: { confirm: t('admin.accounts.are_you_sure'), method: :post }, class: 'button'
