- content_for :page_title do
  = @instance.domain

.dashboard__counters
  %div
    %div
      .dashboard__counters__num= number_with_delimiter @following_count
      .dashboard__counters__label= t 'admin.instances.total_followed_by_them'
  %div
    %div
      .dashboard__counters__num= number_with_delimiter @followers_count
      .dashboard__counters__label= t 'admin.instances.total_followed_by_us'
  %div
    %div
      .dashboard__counters__num= number_to_human_size @media_storage
      .dashboard__counters__label= t 'admin.instances.total_storage'
  %div
    %div
      .dashboard__counters__num= number_with_delimiter @blocks_count
      .dashboard__counters__label= t 'admin.instances.total_blocked_by_us'
  %div
    = link_to admin_reports_path(by_target_domain: @instance.domain) do
      .dashboard__counters__num= number_with_delimiter @reports_count
      .dashboard__counters__label= t 'admin.instances.total_reported'
  %div
    %div
      .dashboard__counters__num
        - if @available
          = fa_icon 'check'
        - else
          = fa_icon 'times'
      .dashboard__counters__label= t 'admin.instances.delivery_available'

- if @private_comment.present?
  .speech-bubble
    .speech-bubble__bubble
      = simple_format(h(@private_comment))
    .speech-bubble__owner= t 'admin.instances.private_comment'

- if @public_comment.present?
  .speech-bubble
    .speech-bubble__bubble
      = simple_format(h(@public_comment))
    .speech-bubble__owner= t 'admin.instances.public_comment'

%hr.spacer/

%div{ style: 'overflow: hidden' }
  %div{ style: 'float: left' }
    = link_to t('admin.accounts.title'), admin_accounts_path(remote: '1', by_domain: @instance.domain), class: 'button'

  %div{ style: 'float: right' }
    - if @domain_allow
      = link_to t('admin.domain_allows.undo'), admin_domain_allow_path(@domain_allow), class: 'button button--destructive', data: { confirm: t('admin.accounts.are_you_sure'), method: :delete }
    - elsif @domain_block
      = link_to t('admin.domain_blocks.edit'), edit_admin_domain_block_path(@domain_block), class: 'button'
      = link_to t('admin.domain_blocks.undo'), admin_domain_block_path(@domain_block), class: 'button'
    - else
      = link_to t('admin.domain_blocks.add_new'), new_admin_domain_block_path(_domain: @instance.domain), class: 'button'
