.account
  .account__wrapper
    - if @instance_presenter.contact_account
      = link_to TagManager.instance.url_for(@instance_presenter.contact_account), class: 'account__display-name' do
        .account__avatar-wrapper
          .account__avatar{ style: "background-image: url(#{@instance_presenter.contact_account.avatar.url})" }
        %span.display-name
          %bdi
            %strong.display-name__html.emojify= display_name(@instance_presenter.contact_account, custom_emojify: true)
          %span.display-name__account @#{@instance_presenter.contact_account.acct}
    - else
      .account__display-name
        .account__avatar-wrapper
          .account__avatar{ style: "background-image: url(#{full_asset_url('avatars/original/missing.png', skip_pipeline: true)})" }
        %span.display-name
          %strong= t 'about.contact_missing'
          %span.display-name__account= t 'about.contact_unavailable'

    = link_to t('about.learn_more'), about_more_path, class: 'button button-alternative'
