.panel
  .panel-header= t 'about.contact'
  .panel-body
    - if site.contact_account
      .owner
        .avatar= image_tag site.contact_account.avatar.url
        .name
          = link_to TagManager.instance.url_for(site.contact_account) do
            %span.display_name.emojify= display_name(site.contact_account)
            %span.username= "@#{site.contact_account.acct}"

    - if site.site_contact_email
      .contact-email
        = t 'about.business_email'
        %strong= site.site_contact_email
