.features-list
  .features-list__row
    .text
      %h6= t 'about.features.real_conversation_title'
      = t 'about.features.real_conversation_body'
    .visual
      = fa_icon 'fw comments'
  .features-list__row
    .text
      %h6= t 'about.features.not_a_product_title'
      = t 'about.features.not_a_product_body'
    .visual
      = fa_icon 'fw users'
  .features-list__row
    .text
      %h6= t 'about.features.within_reach_title'
      = t 'about.features.within_reach_body'
    .visual
      = fa_icon 'fw mobile'
  .features-list__row
    .text
      %h6= t 'about.features.humane_approach_title'
      = t 'about.features.humane_approach_body'
    .visual
      = fa_icon 'fw leaf'
