.container-alt.links
  .brand
    = link_to root_url do
      = image_tag asset_pack_path('logo_full.svg'), alt: 'Mastodon'

  %ul.nav
    %li
      - if user_signed_in?
        = link_to t('settings.back'), root_url, class: 'webapp-btn'
      - else
        = link_to t('auth.login'), new_user_session_path, class: 'webapp-btn'
    %li= link_to t('about.about_this'), about_more_path
    %li
      = link_to 'https://joinmastodon.org/' do
        = "#{t('about.other_instances')}"
        %i.fa.fa-external-link{ style: 'padding-left: 5px;' }
