= simple_form_for(new_user, url: user_session_path, namespace: 'login') do |f|
  .fields-group
    - if use_seamless_external_login?
      = f.input :email, placeholder: t('simple_form.labels.defaults.username_or_email'), input_html: { 'aria-label' => t('simple_form.labels.defaults.username_or_email') }, hint: false
    - else
      = f.input :email, placeholder: t('simple_form.labels.defaults.email'), input_html: { 'aria-label' => t('simple_form.labels.defaults.email') }, hint: false

    = f.input :password, placeholder: t('simple_form.labels.defaults.password'), input_html: { 'aria-label' => t('simple_form.labels.defaults.password') }, hint: false

  .actions
    = f.button :button, t('auth.login'), type: :submit, class: 'button button-primary'

- if Devise.mappings[:user].omniauthable? && User.omniauth_providers.any?
  .simple_form.alternative-login
    %h4= t('auth.or_log_in_with')

    .actions
      - User.omniauth_providers.each do |provider|
        = link_to t("auth.providers.#{Devise.omniauth_configs[provider].strategy.display_name}", default: Devise.omniauth_configs[provider].strategy.display_name.capitalize), omniauth_authorize_path(:user, provider), class: "button button-#{Devise.omniauth_configs[provider].strategy.display_name}", method: :post

%p.hint.subtle-hint= link_to t('auth.trouble_logging_in'), new_user_password_path
