.panel
  .panel-header= t 'about.version'
  .panel-body
    - if @instance_presenter.commit_hash == ""
      %strong= version.version_number
    - else
      %strong= version.version_number
      %strong= "#{@instance_presenter.commit_hash}"

