- content_for :page_title do
  = site_hostname

.content
  .box-widget
    .rich-formatting
      %h2 Browse apps

      %p Most people will access mstdn.social directly with the web browser, however if you prefer you can use mstdn.social with any of these apps!

      %h3 Apple iOS

      %p
        = link_to 'Amaroq', 'https://itunes.apple.com/us/app/amarok-for-mastodon/id1214116200?ls=1&mt=8'

      %p
        = link_to 'Mast', 'https://itunes.apple.com/us/app/mast/id1437429129?mt=8'

      %p
        = link_to 'Toot!', 'https://itunes.apple.com/app/toot/id1229021451?ls=1&mt=8'

      %p
        = link_to 'iMast', 'https://apps.apple.com/us/app/imast/id1229461703'

      %p
        = link_to 'Mercury', 'https://apps.apple.com/us/app/mercury-for-mastodon/id1486749200?ls=1&mt1=8'


      %h3 Google Android

      %p
        = link_to 'Tusky', 'https://play.google.com/store/apps/details?id=com.keylesspalace.tusky'


      %p
        = link_to 'SubwayTooter', 'https://play.google.com/store/apps/details?id=jp.juggler.subwaytooter'


      %p
        = link_to 'FediLab', 'https://play.google.com/store/apps/details?id=app.fedilab.android'


      %h3 Web

      %p
        = link_to 'Pinafore', 'https://pinafore.social/'


      %p
        = link_to 'Cuckoo', 'https://cuckoo.social/'


      %p
        = link_to 'Halcyon', 'https://halcyon.mstdn.social/'


      %h3 Desktop

      %p
        = link_to 'WhaleBird', 'https://whalebird.org/'


      %p
        = link_to 'Tootle', 'https://appcenter.elementary.io/com.github.bleakgrey.tootle/'


      %p
        = link_to 'TheDesk', 'https://thedesk.top/en'


      %p
        = link_to 'HyperSpace', 'https://hyperspace.marquiskurt.net/'