- content_for :header_tags do
  = javascript_include_tag 'application_public'

- content_for :page_title do
  = Rails.configuration.x.local_domain

- content_for :header_tags do
  %meta{ property: 'og:site_name', content: 'Mastodon' }/
  %meta{ property: 'og:type', content: 'website' }/
  %meta{ property: 'og:title', content: Rails.configuration.x.local_domain }/
  %meta{ property: 'og:description', content: @description.blank? ? "Mastodon is a free, open-source social network server. A decentralized alternative to commercial platforms, it avoids the risks of a single company monopolizing your communication. Anyone can run Mastodon and participate in the social network seamlessly" : strip_tags(@description) }/
  %meta{ property: 'og:image', content: asset_url('mastodon_small.jpg') }/
  %meta{ property: 'og:image:width', content: '400' }/
  %meta{ property: 'og:image:height', content: '400' }/
  %meta{ property: 'twitter:card', content: 'summary' }/

.wrapper
  %h1
    = image_tag 'logo.png'
    Mastodon

  %p= t('about.about_mastodon').html_safe
  %p= t('about.about_instance', instance: Rails.configuration.x.local_domain).html_safe

  .screenshot= image_tag 'screenshot.png'

  - unless @description.blank?
    %p= @description.html_safe

  .actions
    .info
      = link_to t('about.learn_more'), about_more_path
      = link_to t('about.terms'), terms_path
      = link_to t('about.source_code'), 'https://github.com/tootsuite/mastodon'

    = link_to t('about.get_started'), new_user_registration_path, class: 'button webapp-btn'
    = link_to t('auth.login'), new_user_session_path, class: 'button webapp-btn'
