- content_for :page_title do
  = Rails.configuration.x.local_domain

.wrapper
  %h1
    = image_tag 'logo.png'
    Mastodon

  %p= t('about.about_mastodon').html_safe
  %p= t('about.about_instance', instance: Rails.configuration.x.local_domain).html_safe

  .screenshot= image_tag 'screenshot.png'

  .actions
    .info
      = link_to t('about.terms'), terms_path
      = link_to t('about.source_code'), 'https://github.com/Gargron/mastodon'

    = link_to t('about.get_started'), new_user_registration_path, class: 'button'
    = link_to t('auth.login'), new_user_session_path, class: 'button'
