- content_for :page_title do
  #{Rails.configuration.x.local_domain}

.wrapper.thicc
  .sidebar-layout
    .main
      .panel
        %h2= Rails.configuration.x.local_domain

        - unless @instance_presenter.site_description.blank?
          %p= @instance_presenter.site_description.html_safe

      .information-board
        .section
          %span= t 'about.user_count_before'
          %strong= number_with_delimiter @instance_presenter.user_count
          %span= t 'about.user_count_after'
        .section
          %span= t 'about.status_count_before'
          %strong= number_with_delimiter @instance_presenter.status_count
          %span= t 'about.status_count_after'
        .section
          %span= t 'about.domain_count_before'
          %strong= number_with_delimiter @instance_presenter.domain_count
          %span= t 'about.domain_count_after'

      - unless @instance_presenter.site_extended_description.blank?
        .panel= @instance_presenter.site_extended_description.html_safe

    .sidebar
      .panel
        .panel-header= t 'about.contact'
        .panel-body
          - if @instance_presenter.contact_account
            .owner
              .avatar= image_tag @instance_presenter.contact_account.avatar.url
              .name
                = link_to TagManager.instance.url_for(@instance_presenter.contact_account) do
                  %span.display_name.emojify= display_name(@instance_presenter.contact_account)
                  %span.username= "@#{@instance_presenter.contact_account.acct}"

          - unless @instance_presenter.contact_email.blank?
            .contact-email
              = t 'about.business_email'
              %strong= @instance_presenter.contact_email
      .panel
        .panel-header= t 'about.links'
        .panel-list
          %ul
            - if user_signed_in?
              %li= link_to t('about.get_started'), root_path
            - else
              %li= link_to t('about.get_started'), new_user_registration_path
              %li= link_to t('auth.login'), new_user_session_path
            %li= link_to t('about.terms'), terms_path
            %li= link_to t('about.source_code'), 'https://github.com/tootsuite/mastodon'
