- content_for :page_title do
  = site_hostname

- content_for :header_tags do
  %script#initial-state{ type: 'application/json' }!= json_escape(@initial_state_json)
  = render partial: 'shared/og'

.landing-page.alternative
  .container
    .row
      .column-4.hide-sm.show-xs.show-m
        .landing-page__forms
          .brand
            = link_to root_url do
              = image_tag asset_pack_path('logo_full.svg'), alt: 'Mastodon'

          .hide-xs
            = render 'forms'

      .column-7.column-9-sm
        .landing-page__hero
          = image_tag @instance_presenter.hero&.file&.url || @instance_presenter.thumbnail&.file&.url || asset_pack_path('preview.jpg'), alt: @instance_presenter.site_title

        .landing-page__information
          .landing-page__short-description
            .row
              .landing-page__logo.hide-xs
                = image_tag asset_pack_path('logo_transparent.svg'), alt: 'Mastodon'

              %h1
                = @instance_presenter.site_title
                %small!= t 'about.hosted_on', domain: content_tag(:span, site_hostname)

            %p= @instance_presenter.site_description.html_safe.presence || t('about.generic_description', domain: site_hostname)

        .show-xs
          .landing-page__forms
            = render 'forms'
        .landing-page__call-to-action.hide-xs
          .row
            .column-5
              .landing-page__mascot
                = image_tag asset_pack_path('elephant_ui_plane.svg')
            .column-5
              .information-board__section
                %span= t 'about.user_count_before'
                %strong= number_with_delimiter @instance_presenter.user_count
                %span= t 'about.user_count_after'
            .column-5
              .information-board__section
                %span= t 'about.status_count_before'
                %strong= number_with_delimiter @instance_presenter.status_count
                %span= t 'about.status_count_after'
        .landing-page__information
          .landing-page__features
            %h3= t 'about.what_is_mastodon'
            %p= t 'about.about_mastodon_html'

            = render 'features'

            .landing-page__features__action
              = link_to t('about.learn_more'), 'https://joinmastodon.org/', class: 'button button-alternative'

          .landing-page__footer
            %p
              = link_to t('about.source_code'), @instance_presenter.source_url
              = " (#{@instance_presenter.version_number})"

      .column-4.column-6-sm.column-flex
        .show-sm.hide-xs
          .landing-page__forms
            .brand
              = link_to root_url do
                = image_tag asset_pack_path('logo_full.svg'), alt: 'Mastodon'

            = render 'forms'
        - if Setting.timeline_preview
          #mastodon-timeline{ data: { props: Oj.dump(default_props) } }
