- content_for :page_title do
  = site_hostname

- content_for :header_tags do
  %script#initial-state{ type: 'application/json' }!= json_escape(@initial_state_json)
  = javascript_pack_tag 'about', integrity: true, crossorigin: 'anonymous'
  = render partial: 'shared/og'

.landing-page
  .header-wrapper
    .mascot-container
      = image_tag asset_pack_path('elephant-fren.png'), alt: '', role: 'presentation', class: 'mascot'

    .header
      .container.links
        .brand
          = link_to root_url do
            = image_tag asset_pack_path('logo_full.svg'), alt: 'Mastodon'

        %ul.nav
          %li
            - if user_signed_in?
              = link_to t('settings.back'), root_url, class: 'webapp-btn'
            - else
              = link_to t('auth.login'), new_user_session_path, class: 'webapp-btn'
          %li= link_to t('about.about_this'), about_more_path
          %li
            = link_to 'https://joinmastodon.org/' do
              = "#{t('about.other_instances')}"
              %i.fa.fa-external-link{ style: 'padding-left: 5px;' }

      .container.hero
        .floats
          %div{ role: 'presentation', class: 'float-1' }
          %div{ role: 'presentation', class: 'float-2' }
          %div{ role: 'presentation', class: 'float-3' }
        .heading
          %h1
            = @instance_presenter.site_title
            %small= t 'about.hosted_on', domain: site_hostname
        - if @instance_presenter.open_registrations
          = render 'registration'
        - else
          .closed-registrations-message
            %div
              - if @instance_presenter.closed_registrations_message.blank?
                %p= t('about.closed_registrations')
              - else
                = @instance_presenter.closed_registrations_message.html_safe
            = link_to t('about.find_another_instance'), 'https://joinmastodon.org/', class: 'button button-alternative button--block'

  .about-short
    .container
      %h3= t('about.description_headline', domain: site_hostname)
      %p= @instance_presenter.site_description.html_safe.presence || t('about.generic_description', domain: site_hostname)

  .features
    .container
      - if Setting.timeline_preview
        #mastodon-timeline{ data: { props: Oj.dump(default_props) } }

      .about-mastodon
        %h3= t 'about.what_is_mastodon'
        %p= t 'about.about_mastodon_html'
        = link_to t('about.learn_more'), 'https://joinmastodon.org/', class: 'button button-secondary'
        = render 'features'
  .footer-links
    .container
      %p
        = link_to t('about.source_code'), @instance_presenter.source_url
        = " (#{@instance_presenter.version_number})"
