- content_for :page_title do
  = t('terms.title', instance: site_hostname)

.landing-page
  .header-wrapper.compact
    .header
      .container.links
        .brand
          = link_to root_url do
            = image_tag asset_pack_path('logo_full.svg'), alt: 'Mastodon'

        %ul.nav
          %li
            - if user_signed_in?
              = link_to t('settings.back'), root_url, class: 'webapp-btn'
            - else
              = link_to t('auth.login'), new_user_session_path, class: 'webapp-btn'
          %li= link_to t('about.about_this'), about_more_path
          %li= link_to t('about.other_instances'), 'https://joinmastodon.org/'

  .extended-description
    .container
      = @instance_presenter.site_terms.html_safe.presence || t('terms.body_html')
