= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token

  .field
    = f.password_field :password, autofocus: true, autocomplete: "off", placeholder: 'New password'
  .field
    = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm new password'
  .actions
    = f.button "Change my password", type: :submit

= render "devise/shared/links"
