- content_for :page_title do
  Set new password

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = render 'shared/error_messages', object: resource
  = f.input :reset_password_token, as: :hidden

  = f.input :password, autofocus: true, autocomplete: "off", placeholder: 'New password'
  = f.input :password_confirmation, autocomplete: "off", placeholder: 'Confirm new password'

  .actions
    = f.button :button, "Change my password", type: :submit

.form-footer= render "devise/shared/links"
