- content_for :page_title do
  = t('auth.reset_password')

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = render 'shared/error_messages', object: resource

  = f.input :email, autofocus: true, required: true, placeholder: t('simple_form.labels.defaults.email'), input_html: { 'aria-label' => t('simple_form.labels.defaults.email') }

  .actions
    = f.button :button, t('auth.reset_password'), type: :submit

.form-footer= render 'auth/shared/links'
