- content_for :page_title do
  Reset password

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!

  .field
    = f.email_field :email, autofocus: true, required: true, placeholder: 'E-mail address'
  .actions
    = f.button "Reset password", type: 'submit'

.form-footer= render "auth/shared/links"
