- content_for :page_title do
  Reset password

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = render 'shared/error_messages', object: resource

  = f.input :email, autofocus: true, required: true, placeholder: 'E-mail address', input_html: { 'aria-label' => 'E-mail address' }

  .actions
    = f.button :button, "Reset password", type: :submit

.form-footer= render "auth/shared/links"
