- content_for :page_title do
  = t('privacy.title')

- content_for :heading do
  %h1= t('privacy.title')

= simple_form_for @account, url: settings_privacy_path do |f|
  = render 'shared/error_messages', object: @account

  %p.lead= t('privacy.hint_html')

  %h2= t('privacy.reach')

  %p.lead= t('privacy.reach_hint_html')

  .fields-group
    = f.input :discoverable, as: :boolean, wrapper: :with_label, recommended: true

  .fields-group
    = f.input :unlocked, as: :boolean, wrapper: :with_label

  %h2= t('privacy.search')

  %p.lead= t('privacy.search_hint_html')

  .fields-group
    = f.input :indexable, as: :boolean, wrapper: :with_label

  = f.simple_fields_for :settings, current_user.settings do |ff|
    .fields-group
      = ff.input :indexable, wrapper: :with_label

  %h2= t('privacy.privacy')

  %p.lead= t('privacy.privacy_hint_html')

  = f.simple_fields_for :settings, current_user.settings do |ff|
    .fields-group
      = ff.input :show_application, wrapper: :with_label

  - if Mastodon::Feature.email_subscriptions_enabled? && current_user.can?(:manage_email_subscriptions)
    %h2= t('privacy.email_subscriptions')

    %p.lead= t('privacy.email_subscriptions_hint_html')

    - if @email_subscriptions_count.positive? || @account.user_email_subscriptions_enabled?
      .table-wrapper
        %table.table.mini-table
          %tbody
            %tr
              %th= t('email_subscriptions.status')
              %td= @account.user_email_subscriptions_enabled? ? t('email_subscriptions.active') : t('email_subscriptions.inactive')
            %tr
              %th= t('email_subscriptions.subscribers')
              %td= number_with_delimiter @email_subscriptions_count

    = f.simple_fields_for :settings, current_user.settings do |ff|
      .fields-group
        = ff.input :email_subscriptions, wrapper: :with_label

  .actions
    = f.button :button, t('generic.save_changes'), type: :submit
