<h3>Passkeys</h3>

<table>
  <thead>
    <tr>
      <th>Label</th><th>Sign Count</th><th>Last Used At</th><th>Public Key</th><th>External ID</th><th></th>
    </tr>
  </thead>
  <tbody>
  <% current_user.passkeys.each do |passkey| %>
    <tr>
      <td><%= passkey.label %></td>
      <td><%= passkey.sign_count %></td>
      <td><%= passkey.last_used_at %></td>
      <td><pre><%= passkey.public_key %></pre></td>
      <td><pre><%= passkey.external_id %></pre></td>
      <td>
        <% if current_user.passkeys.count > 1 %>
          <%= form_with(
            model: [:users, passkey],
            method: :delete,
            class: "delete-passkey",
            data: {
              "reauthentication_challenge_url": new_destroy_challenge_users_passkey_url(passkey),
              "reauthentication_token_url": user_reauthentication_url,
              "reauthentication_token_field_name": "passkey[reauthentication_token]",
            }
          ) do |f| %>
            <%= f.hidden_field :reauthentication_token %>
            <button type="submit"><%= image_tag("passkey-black.svg", width: "25", height: "25") %>Delete</button>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render "users/passkeys/new_form", resource_name: :user %>


<script type="module">
  import {getReauthenticationToken} from 'passkey_reauthentication_handler'

  let submitDeletePasskeyFormEvent = async function(event){
    event.preventDefault()
    event.stopImmediatePropagation()
    let form = event.currentTarget
    await getReauthenticationToken(form)
    form.submit()
  }

  document.querySelectorAll('.delete-passkey').forEach(form => form.addEventListener('submit', submitDeletePasskeyFormEvent))
</script>