- content_for :page_title do
  = t('admin.username_blocks.title')

- content_for :heading_actions do
  = link_to t('admin.username_blocks.add_new'), new_admin_username_block_path, class: 'button'

= form_with model: @form, url: batch_admin_username_blocks_path do |f|
  = hidden_field_tag :page, params[:page] || 1

  .batch-table
    .batch-table__toolbar
      %label.batch-table__toolbar__select.batch-checkbox-all
        = check_box_tag :batch_checkbox_all, nil, false
      .batch-table__toolbar__actions
        = f.button safe_join([material_symbol('close'), t('admin.username_blocks.delete')]),
                   class: 'table-action-link',
                   data: { confirm: t('admin.reports.are_you_sure') },
                   name: :delete,
                   type: :submit
    .batch-table__body
      - if @username_blocks.empty?
        = nothing_here 'nothing-here--under-tabs'
      - else
        = render partial: 'username_block', collection: @username_blocks, locals: { f: f }

= paginate @username_blocks
