- account_url = local_assigns[:admin] ? admin_account_path(account.id) : ActivityPub::TagManager.instance.url_for(account)
- compact ||= false

.card.h-card
  = link_to account_url, target: '_blank', rel: 'noopener noreferrer' do
    - unless compact
      .card__img
        = image_tag account.header.url, alt: ''
    .card__bar
      .avatar
        = image_tag account.avatar.url, alt: '', width: 48, height: 48, class: 'u-photo'

      .display-name
        %bdi
          %strong.emojify.p-name= display_name(account, custom_emojify: true)
        %span
          = acct(account)
          = material_symbol('lock', { data: ({ hidden: true } unless account.locked?) })
