.fields-group
  = form.input :theme,
               collection: Themes.instance.names,
               include_blank: false,
               label_method: ->(theme) { I18n.t("themes.#{theme}", default: theme) },
               wrapper: :with_label
.fields-group
  = form.input :custom_css,
               as: :text,
               input_html: { rows: 8 },
               wrapper: :with_block_label
.fields-row
  .fields-row__column.fields-row__column-6.fields-group
    = form.input :mascot,
                 as: :file,
                 wrapper: :with_block_label
  .fields-row__column.fields-row__column-6.fields-group
    - if form.object.mascot.persisted?
      = image_tag form.object.mascot.file.url, class: 'fields-group__thumbnail'
      = link_to admin_site_upload_path(form.object.mascot), data: { method: :delete }, class: 'link-button link-button--destructive' do
        = material_symbol 'delete'
        = t('admin.site_uploads.delete')
