- content_for :page_title do
  = t('mail_subscriptions.unsubscribe.title')

.simple_form
  %h1.title= t('mail_subscriptions.unsubscribe.title')
  %p.lead
    = t 'mail_subscriptions.unsubscribe.confirmation_html',
        domain: content_tag(:strong, site_hostname),
        type: content_tag(:strong, I18n.t(@type, scope: 'mail_subscriptions.unsubscribe.emails')),
        email: content_tag(:strong, @user.email),
        settings_path: settings_preferences_notifications_path

  = form_with url: unsubscribe_path do |form|
    = form.hidden_field :token,
                        value: params[:token]
    = form.hidden_field :type,
                        value: params[:type]
    = form.button t('mail_subscriptions.unsubscribe.action'),
                  type: :submit
