.directory__tag
  %div
    %h4
      = material_symbol 'tag'
      = featured_tag.display_name
      %small
        - if featured_tag.last_status_at?
          %time.formatted{ datetime: featured_tag.last_status_at.iso8601, title: l(featured_tag.last_status_at) }= l featured_tag.last_status_at
          = table_link_to 'delete',
                          t('filters.index.delete'),
                          settings_featured_tag_path(featured_tag),
                          data: { confirm: t('admin.accounts.are_you_sure') },
                          method: :delete
        - else
          = t('accounts.nothing_here')
    .trends__item__current= friendly_number_to_human featured_tag.statuses_count
