- content_for :page_title do
  = t('settings.featured_tags')

- content_for :heading do
  %h2= t('settings.profile')
  = render partial: 'settings/shared/profile_navigation'

= simple_form_for @featured_tag, url: settings_featured_tags_path do |f|
  = render 'shared/error_messages', object: @featured_tag

  %p.lead= t('featured_tags.hint_html')

  .fields-group
    = f.input :name,
              hint: featured_tags_hint(@recently_used_tags),
              wrapper: :with_block_label

  .actions
    = f.button :button, t('featured_tags.add_new'), type: :submit

%hr.spacer/

= render collection: @featured_tags, partial: 'settings/featured_tags/featured_tag'
