- content_for :page_title do
  = t('admin.settings.branding.title')

- content_for :heading do
  %h2= t('admin.settings.title')
  = render partial: 'admin/settings/shared/links'

= simple_form_for @admin_settings, url: admin_settings_branding_path, html: { method: :patch } do |f|
  = render 'shared/error_messages', object: @admin_settings

  %p.lead= t('admin.settings.branding.preamble')

  .fields-group
    = f.input :site_title,
              wrapper: :with_label

  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :site_contact_username,
                wrapper: :with_label
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :site_contact_email,
                wrapper: :with_label

  .fields-group
    = f.input :site_short_description,
              as: :text,
              input_html: { rows: 2, maxlength: Form::AdminSettings::DESCRIPTION_LIMIT },
              wrapper: :with_block_label

  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :thumbnail,
                as: :file,
                wrapper: :with_block_label
    .fields-row__column.fields-row__column-6.fields-group
      - if @admin_settings.thumbnail.persisted?
        = image_tag @admin_settings.thumbnail.file.url(:'@1x'), class: 'fields-group__thumbnail'
        = link_to admin_site_upload_path(@admin_settings.thumbnail), data: { method: :delete }, class: 'link-button link-button--destructive' do
          = material_symbol 'delete'
          = t('admin.site_uploads.delete')

  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :favicon,
                as: :file,
                input_html: { accept: ['image/jpeg', 'image/png', 'image/gif', 'image/webp'].join(',') },
                wrapper: :with_block_label

    .fields-row__column.fields-row__column-6.fields-group
      - if @admin_settings.favicon.persisted?
        = image_tag @admin_settings.favicon.file.url('48'), class: 'fields-group__thumbnail'
        = link_to admin_site_upload_path(@admin_settings.favicon), data: { method: :delete }, class: 'link-button link-button--destructive' do
          = material_symbol 'delete'
          = t('admin.site_uploads.delete')

  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :app_icon,
                as: :file,
                input_html: { accept: ['image/jpeg', 'image/png', 'image/gif', 'image/webp'].join(',') },
                wrapper: :with_block_label

    .fields-row__column.fields-row__column-6.fields-group
      - if @admin_settings.app_icon.persisted?
        = image_tag @admin_settings.app_icon.file.url('48'), class: 'fields-group__thumbnail'
        = link_to admin_site_upload_path(@admin_settings.app_icon), data: { method: :delete }, class: 'link-button link-button--destructive' do
          = material_symbol 'delete'
          = t('admin.site_uploads.delete')

  .actions
    = f.button :button, t('generic.save_changes'), type: :submit
