= link_to (status.account.local? ? profile_url(name: status.account.username) : status.account.url), class: 'name' do
  %strong= status.account.display_name.blank? ? status.account.username : status.account.display_name
  = "@#{status.account.acct}"

= link_to status.local? ? status_url(name: status.account.username, id: status.stream_entry.id) : status.url, class: 'time' do
  %span{ title: status.created_at }
    = time_ago_in_words(status.created_at)
    ago
