= link_to profile_url(status.account), class: 'name' do
  %strong= display_name(status.account)
  = "@#{status.account.acct}"

= link_to status_url(status), class: 'time' do
  %span{ title: status.created_at }
    = time_ago_in_words(status.created_at)
    ago
