- content_for :page_title do
  = t('admin.ip_blocks.title')

- content_for :header_tags do
  = javascript_pack_tag 'admin', async: true, crossorigin: 'anonymous'

- if can?(:create, :ip_block)
  - content_for :heading_actions do
    = link_to t('admin.ip_blocks.add_new'), new_admin_ip_block_path, class: 'button'

= form_for(@form, url: batch_admin_ip_blocks_path) do |f|
  = hidden_field_tag :page, params[:page] || 1

  .batch-table
    .batch-table__toolbar
      %label.batch-table__toolbar__select.batch-checkbox-all
        = check_box_tag :batch_checkbox_all, nil, false
      .batch-table__toolbar__actions
        - if can?(:destroy, :ip_block)
          = f.button safe_join([fa_icon('times'), t('admin.ip_blocks.delete')]), name: :delete, class: 'table-action-link', type: :submit, data: { confirm: t('admin.reports.are_you_sure') }
    .batch-table__body
      - if @ip_blocks.empty?
        = nothing_here 'nothing-here--under-tabs'
      - else
        = render partial: 'ip_block', collection: @ip_blocks, locals: { f: f }

= paginate @ip_blocks
