- content_for :page_title do
  = t('.title')

= simple_form_for @ip_block, url: admin_ip_blocks_path do |f|
  = render 'shared/error_messages', object: @ip_block

  .fields-group
    = f.input :ip, as: :string, wrapper: :with_block_label, input_html: { placeholder: '192.0.2.0/24' }

  .fields-group
    = f.input :expires_in, wrapper: :with_block_label, collection: [1.day, 2.weeks, 1.month, 6.months, 1.year, 3.years].map(&:to_i), label_method: ->(i) { I18n.t("admin.ip_blocks.expires_in.#{i}") }, prompt: I18n.t('invites.expires_in_prompt')

  .fields-group
    = f.input :severity, as: :radio_buttons, collection: IpBlock.severities.keys, include_blank: false, wrapper: :with_block_label, label_method: ->(severity) { safe_join([I18n.t("simple_form.labels.ip_block.severities.#{severity}"), content_tag(:span, I18n.t("simple_form.hints.ip_block.severities.#{severity}"), class: 'hint')]) }

  .fields-group
    = f.input :comment, as: :string, wrapper: :with_block_label

  .actions
    = f.button :button, t('admin.ip_blocks.add_new'), type: :submit
