- content_for :page_title do
  = t('.title')

= simple_form_for @ip_block, url: admin_ip_blocks_path do |form|
  = render 'shared/error_messages', object: @ip_block

  = render form

  .actions
    = form.button :button, t('admin.ip_blocks.add_new'), type: :submit
