- content_for :page_title do
  = t('.title')

= simple_form_for @custom_emoji, url: admin_custom_emojis_path do |form|
  = render 'shared/error_messages', object: @custom_emoji

  = render form

  .actions
    = form.button :button,
                  t('admin.custom_emojis.upload'),
                  type: :submit
