- content_for :page_title do
  = t('.title')

= simple_form_for @custom_emoji, url: admin_custom_emojis_path do |f|
  = render 'shared/error_messages', object: @custom_emoji

  .fields-group
    = f.input :shortcode, placeholder: t('admin.custom_emojis.shortcode'), hint: t('admin.custom_emojis.shortcode_hint')
    = f.input :image, input_html: { accept: 'image/png' }, hint: t('admin.custom_emojis.image_hint')

  .actions
    = f.button :button, t('admin.custom_emojis.upload'), type: :submit
