- content_for :page_title do
  = t('settings.edit_profile')

= simple_form_for @account, url: settings_profile_path, html: { method: :put } do |f|
  = render 'shared/error_messages', object: @account

  .fields-group
    = f.input :display_name, placeholder: t('simple_form.labels.defaults.display_name')
    = f.input :note, placeholder: t('simple_form.labels.defaults.note')
    = f.input :avatar, wrapper: :with_label, hint: t('simple_form.hints.defaults.avatar')
    = f.input :header, wrapper: :with_label, hint: t('simple_form.hints.defaults.header')

  = f.input :locked, as: :boolean, wrapper: :with_label, hint: t('simple_form.hints.defaults.locked')

  .actions
    = f.button :button, t('generic.save_changes'), type: :submit
