- content_for :page_title do
  Edit profile

= simple_form_for @account, url: settings_profile_path, html: { method: :put } do |f|
  = render 'shared/error_messages', object: @account

  = f.input :display_name, placeholder: 'Display name'
  = f.input :note, placeholder: 'Bio'
  = f.input :avatar, wrapper: :with_label
  = f.input :header, wrapper: :with_label

  .actions
    = f.button :button, 'Save changes', type: :submit

.form-footer= render "settings/shared/links"
