- content_for :page_title do
  = t('settings.statuses_cleanup')

- content_for :heading_actions do
  = button_tag t('generic.save_changes'), class: 'button', form: 'edit_policy'

= simple_form_for @policy, url: statuses_cleanup_path, method: :put, html: { id: 'edit_policy' } do |f|

  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :enabled, as: :boolean, wrapper: :with_label, label: t('statuses_cleanup.enabled'), hint: t('statuses_cleanup.enabled_hint')
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :min_status_age, wrapper: :with_label, label: t('statuses_cleanup.min_age_label'), collection: AccountStatusesCleanupPolicy::ALLOWED_MIN_STATUS_AGE.map(&:to_i), label_method: lambda { |i| t("statuses_cleanup.min_age.#{i}") }, include_blank: false, hint: false

  .flash-message= t('statuses_cleanup.explanation')

  %h4= t('statuses_cleanup.exceptions')

  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :keep_pinned, wrapper: :with_label, label: t('statuses_cleanup.keep_pinned'), hint: t('statuses_cleanup.keep_pinned_hint')
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :keep_direct, wrapper: :with_label, label: t('statuses_cleanup.keep_direct'), hint: t('statuses_cleanup.keep_direct_hint')

  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :keep_self_fav, wrapper: :with_label, label: t('statuses_cleanup.keep_self_fav'), hint: t('statuses_cleanup.keep_self_fav_hint')
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :keep_self_bookmark, wrapper: :with_label, label: t('statuses_cleanup.keep_self_bookmark'), hint: t('statuses_cleanup.keep_self_bookmark_hint')

  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :keep_polls, wrapper: :with_label, label: t('statuses_cleanup.keep_polls'), hint: t('statuses_cleanup.keep_polls_hint')
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :keep_media, wrapper: :with_label, label: t('statuses_cleanup.keep_media'), hint: t('statuses_cleanup.keep_media_hint')

  %h4= t('statuses_cleanup.interaction_exceptions')

  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :min_favs, wrapper: :with_label, label: t('statuses_cleanup.min_favs'), hint: t('statuses_cleanup.min_favs_hint'), input_html: { min: 1, placeholder: t('statuses_cleanup.ignore_favs') }
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :min_reblogs, wrapper: :with_label, label: t('statuses_cleanup.min_reblogs'), hint: t('statuses_cleanup.min_reblogs_hint'), input_html: { min: 1, placeholder: t('statuses_cleanup.ignore_reblogs') }

  .flash-message= t('statuses_cleanup.interaction_exceptions_explanation')
