- existing_relationships ||= false

.batch-table__row{ class: [existing_relationships && 'batch-table__row--attention'] }
  %label.batch-table__row__select.batch-table__row__select--aligned.batch-checkbox
    = f.check_box :enabled, checked: !existing_relationships
  .batch-table__row__content.pending-account
    .pending-account__header
      %strong
        = f.object.domain
      = f.hidden_field :domain
      = f.hidden_field :severity
      = f.hidden_field :reject_media
      = f.hidden_field :reject_reports
      = f.hidden_field :obfuscate
      = f.hidden_field :private_comment
      = f.hidden_field :public_comment

      %br/

      = f.object.policies.map { |policy| t(policy, scope: 'admin.instances.content_policies.policies') }.join(' • ')
      - if f.object.public_comment.present?
        •
        = f.object.public_comment
      - if existing_relationships
        •
        = fa_icon 'warning fw'
        = t('admin.export_domain_blocks.import.existing_relationships_warning')
