- if theme
  - if theme[:pack] != 'common' && theme[:common]
    = render partial: 'layouts/theme', object: theme[:common]
  - if theme[:pack]
    - pack_path = theme[:flavour] ? "flavours/#{theme[:flavour]}/#{theme[:pack]}" : "core/#{theme[:pack]}"
    = javascript_pack_tag pack_path, crossorigin: 'anonymous'
    - if theme[:skin]
      - if !theme[:flavour] || theme[:skin] == 'default'
        = stylesheet_pack_tag pack_path, media: 'all', crossorigin: 'anonymous'
      - else
        = stylesheet_pack_tag "skins/#{theme[:flavour]}/#{theme[:skin]}/#{theme[:pack]}", media: 'all', crossorigin: 'anonymous'
    - if theme[:preload]
      - theme[:preload].each do |link|
        %link{ href: asset_pack_path("#{link}.js"), crossorigin: 'anonymous', rel: 'preload', as: 'script' }/
