- content_for :header_tags do
  = render_initial_state
  = vite_typescript_tag 'public.tsx', crossorigin: 'anonymous'
  = vite_typescript_tag 'admin.tsx', crossorigin: 'anonymous'

- content_for :body_classes, 'admin'

- content_for :content do
  .admin-wrapper
    .sidebar-wrapper
      .sidebar-wrapper__inner
        .sidebar
          = link_to root_path do
            = render_logo

          .sidebar__toggle
            .sidebar__toggle__logo
              = link_to root_path do
                = logo_as_symbol(:wordmark)

            = link_to '#', class: 'sidebar__toggle__icon', 'aria-label': t('navigation.toggle_menu'), 'aria-expanded': 'false' do
              = material_symbol 'menu'
              = material_symbol 'close'

          = render_navigation

    .content-wrapper
      .content
        .content__heading
          - if content_for?(:heading)
            = yield :heading
          - else
            .content__heading__row
              %h2= yield :page_title

              - if content_for?(:heading_actions)
                .content__heading__actions
                  = yield :heading_actions

        = render 'application/flashes'

        = yield

    .sidebar-wrapper.sidebar-wrapper--empty

= render template: 'layouts/application'
