- content_for :header_tags do
  = render_initial_state
  = javascript_pack_tag 'public', integrity: true, crossorigin: 'anonymous'

- content_for :content do
  .admin-wrapper
    .sidebar-wrapper
      .sidebar-wrapper__inner
        .sidebar
          .logo
            %h2
              = link_to root_url, class: 'brand' do
                = site_title

          .sidebar__toggle
            .sidebar__toggle__logo
              %h2
                = link_to root_path, class: 'brand' do
                  = site_title

            = link_to '#', class: 'sidebar__toggle__icon' do
              = fa_icon 'bars'

          = render_navigation

    .content-wrapper
      .content
        .content-heading
          %h2= yield :page_title

          - if :heading_actions
            .content-heading-actions
              = yield :heading_actions

        = render 'application/flashes'

        = yield

    .sidebar-wrapper.sidebar-wrapper--empty

= render template: 'layouts/application'
