!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mastodon
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container
      = yield
    .footer
      = link_to 'Mastodon', 'https://github.com/Gargron/mastodon', class: 'mastodon-link'
