- content_for :header_tags do
  = javascript_include_tag 'application_public', integrity: true, crossorigin: 'anonymous'

- content_for :content do
  .container
    .logo-container
      %h1
        = link_to root_path do
          = image_tag 'logo.png'

    .form-container
      - if flash[:notice]
        .flash-message.notice
          %strong= flash[:notice]

      - if flash[:alert]
        .flash-message.alert
          %strong= flash[:alert]

      = yield

= render template: "layouts/application"
