- content_for :header_tags do
  = javascript_pack_tag 'public', integrity: true, crossorigin: 'anonymous'

- content_for :content do
  .container
    .logo-container
      %h1
        = link_to root_path do
          = image_tag asset_pack_path('logo_full.svg'), alt: 'Mastodon'

    .form-container
      = render 'flashes'

      = yield

= render template: 'layouts/application'
