- content_for :content do
  .dashboard-wrapper
    .dashboard__sidebar
      .dashboard__top-bar.alternate
        &nbsp;
      .dashboard__current-user
        = link_to account_path(current_user.account) do
          = image_tag current_user.account.avatar.url(:medium), class: 'dashboard__current-user__avatar'
          %strong.dashboard__current-user__display-name= display_name(current_user.account)
          %span.dashboard__current-user__username= "@#{current_user.account.username}"
      %ul
        %li{ class: active_nav_class(root_path) }
          = link_to root_path do
            = fa_icon 'home'
            Home
        %li{ class: active_nav_class(oauth_authorized_applications_path) }
          = link_to oauth_authorized_applications_path do
            = fa_icon 'shield'
            Authorized apps
        %li{ class: active_nav_class(settings_path) }
          = link_to settings_path do
            = fa_icon 'user'
            Edit profile
    .dashboard__content
      .dashboard__top-bar
        = content_for?(:page_title) ? yield(:page_title) : 'Mastodon'
        %ul
          %li= link_to fa_icon('gear'), edit_registration_path(current_user), title: 'Change password'
          %li= link_to fa_icon('sign-out'), destroy_user_session_path, method: :delete, title: 'Sign out'
      .dashboard__content__content= yield
  .footer
    .domain= Rails.configuration.x.local_domain

= render template: "layouts/application"
