!!! 5
%html{ lang: I18n.locale }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ name: 'robots', content: 'noindex' }/

    - if cdn_host?
      %link{ rel: 'dns-prefetch', href: cdn_host }/
      %meta{ name: 'cdn-host', content: cdn_host }/

    - if storage_host?
      %link{ rel: 'dns-prefetch', href: storage_host }/

    = stylesheet_pack_tag 'flavours/vanilla/common', media: 'all', crossorigin: 'anonymous' # upstream uses `common` but that's implicitly defined
    = stylesheet_pack_tag current_theme, media: 'all', crossorigin: 'anonymous'
    = javascript_pack_tag 'common', integrity: true, crossorigin: 'anonymous'
    - if @theme
      - if @theme[:supported_locales].include? I18n.locale.to_s
        = preload_pack_asset "locales/#{@theme[:flavour]}/#{I18n.locale}-json.js"
      - elsif @theme[:supported_locales].include? 'en'
        = preload_pack_asset "locales/#{@theme[:flavour]}/en-json.js"
    = preload_pack_asset "locale/#{I18n.locale}-json.js"
    = render_initial_state
    = render partial: 'layouts/theme', object: @theme

  %body.embed
    = yield

    .logo-resources{ 'tabindex' => '-1', 'inert' => true, 'aria-hidden' => true }
      = inline_svg_tag 'logo-symbol-icon.svg'
