!!! 5
%html{ lang: I18n.locale }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ name: 'robots', content: 'noindex' }/

    - if cdn_host?
      %link{ rel: 'dns-prefetch', href: cdn_host }/
      %meta{ name: 'cdn-host', content: cdn_host }/

    - if storage_host?
      %link{ rel: 'dns-prefetch', href: storage_host }/

    = flavoured_stylesheet_pack_tag 'common', media: 'all', crossorigin: 'anonymous' # upstream uses `common` but that's implicitly defined
    = theme_style_tags current_theme
    = javascript_pack_tag 'common', integrity: true, crossorigin: 'anonymous'
    = preload_locale_pack
    = render_initial_state
    = flavoured_javascript_pack_tag 'public', integrity: true, crossorigin: 'anonymous'

  %body.embed
    = yield

    .logo-resources{ 'tabindex' => '-1', 'inert' => true, 'aria-hidden' => true }
      = inline_svg_tag 'logo-symbol-icon.svg'
