!!! 5
%html{ lang: I18n.locale, 'data-contrast': 'auto', 'data-color-scheme': 'light' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ name: 'robots', content: 'noindex' }/

    - if cdn_host?
      %link{ rel: 'dns-prefetch', href: cdn_host }/
      %meta{ name: 'cdn-host', content: cdn_host }/

    - if storage_host?
      %link{ rel: 'dns-prefetch', href: storage_host }/

    = javascript_inline_tag 'theme-selection.js'
    = vite_client_tag
    = vite_react_refresh_tag
    = vite_polyfills_tag
    = theme_style_tags 'default'
    = vite_preload_file_tag "mastodon/locales/#{I18n.locale}.json"
    = render_initial_state
    = vite_typescript_tag 'embed.tsx', integrity: true, crossorigin: 'anonymous'
  %body.embed
    = yield

    .logo-resources{ 'tabindex' => '-1', 'inert' => true, 'aria-hidden' => 'true' }
      = inline_svg_tag 'logo-symbol-icon.svg'
