!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}/
      = javascript_include_tag "#{Rails.configuration.x.skin_default}"
      = stylesheet_link_tag "#{Rails.configuration.x.skin_default}", media: 'all'
  %body.embed
    = yield
