!!! 5
%html{ lang: I18n.locale }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ name: 'robots', content: 'noindex' }/

    - if cdn_host?
      %link{ rel: 'dns-prefetch', href: cdn_host }/
      %meta{ name: 'cdn-host', content: cdn_host }/

    - if storage_host?
      %link{ rel: 'dns-prefetch', href: storage_host }/

    = render_initial_state
    = javascript_pack_tag 'common', crossorigin: 'anonymous'
    - if @theme
      - if @theme[:supported_locales].include? I18n.locale.to_s
        = preload_pack_asset "locales/#{@theme[:flavour]}/#{I18n.locale}-json.js", crossorigin: 'anonymous'
      - elsif @theme[:supported_locales].include? 'en'
        = preload_pack_asset "locales/#{@theme[:flavour]}/en-json.js", crossorigin: 'anonymous'
    = render partial: 'layouts/theme', object: @core
    = render partial: 'layouts/theme', object: @theme

  %body.embed
    = yield

    .logo-resources{ 'tabindex' => '-1', 'inert' => true, 'aria-hidden' => true }
      = render_symbol :icon
