!!! 5
%html{:lang => I18n.locale}
  %head
    %meta{:charset => 'utf-8'}/
    = javascript_include_tag 'application', integrity: true, crossorigin: 'anonymous'
    = stylesheet_link_tag 'application', integrity: true,  media: 'all'
  %body.embed
    = javascript_include_tag "#{Rails.configuration.x.skin_default}", integrity: true
    = stylesheet_link_tag "#{Rails.configuration.x.skin_default}", integrity: true, media: 'all'
    = yield
