!!! 5
%html{ lang: I18n.locale }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ name: 'robots', content: 'noindex' }/

    - if cdn_host?
      %link{ rel: 'dns-prefetch', href: cdn_host }/
      %meta{ name: 'cdn-host', content: cdn_host }/

    - if storage_host?
      %link{ rel: 'dns-prefetch', href: storage_host }/

    = theme_style_tags 'mastodon-light'
    = javascript_pack_tag 'common', integrity: true, crossorigin: 'anonymous'
    = preload_pack_asset "locale/#{I18n.locale}-json.js"
    = render_initial_state
    = javascript_pack_tag 'embed', integrity: true, crossorigin: 'anonymous'
  %body.embed
    = yield

    .logo-resources{ 'tabindex' => '-1', 'inert' => true, 'aria-hidden' => 'true' }
      = inline_svg_tag 'logo-symbol-icon.svg'
