!!!
%html{ lang: I18n.locale, dir: locale_direction }
  %head
    %meta{ 'charset' => 'utf-8' }
    %title Mastodon
    %meta{ name: 'x-apple-disable-message-reformatting' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %meta{ name: 'format-detection', content: 'telephone=no, date=no, address=no, email=no, url=no' }
    %meta{ name: 'supported-color-schemes', content: 'light' }
    %style
      \table { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
    %style{ 'data-premailer': 'ignore' }
      \.email a { color: inherit; text-decoration: none; }
      \.email-btn-hover:hover { background-color: #563acc !important; }
    /[if mso]
      <xml>
      <o:OfficeDocumentSettings xmlns:o="urn:schemas-microsoft-com:office:office">
      <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
      </xml>  
    = stylesheet_pack_tag 'mailer_new'
  %body
    %div.email{ dir: locale_direction }
      %table.email-w-full{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
        %tr
          %td.email-desktop-p-8
            %div.email-container
              /[if mso]
                <table border="0" cellpadding="0" cellspacing="0" align="center" style="width:740px;" role="presentation"><tr><td>
              %table.email-w-full.email-card-table{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
                %tr
                  %td.email-card-td.email-desktop-rounded-16px


                    -# Content
                    = yield

              /[if mso]
                </td></tr></table>

            -# Footer
            %div.email-container
              /[if mso]
                <table border="0" cellpadding="0" cellspacing="0" align="center" style="width:740px;" role="presentation"><tr><td>
              %table.email-w-full{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
                %tr
                  %td.email-footer-td
                    %p.email-footer-p
                      = link_to root_url do
                        = image_tag full_pack_url('media/images/mailer-new/common/logo-footer.png'), alt: 'Mastodon', width: 44, height: 44
                    %p.email-footer-p
                      = t 'about.hosted_on', domain: site_hostname
                    %p.email-footer-p
                      = link_to t('application_mailer.notification_preferences'), settings_preferences_notifications_url
                      - if defined?(@unsubscribe_url)
                        ·
                        = link_to t('application_mailer.unsubscribe'), @unsubscribe_url
              /[if mso]
                </td></tr></table>
