- content_for :header_tags do
  = javascript_include_tag 'application_public', integrity: true, crossorigin: 'anonymous'

- content_for :content do
  .container= yield
  .footer
    %span.domain= link_to Rails.configuration.x.local_domain, root_path
    %span.powered-by
      = t('generic.powered_by', link: link_to('Mastodon', 'https://github.com/tootsuite/mastodon')).html_safe

= render template: "layouts/application"
