- content_for :header_tags do
  = javascript_include_tag 'application_public'

- content_for :content do
  .container= yield
  .footer
    %span.domain= link_to Rails.configuration.x.local_domain, root_path
    %span.powered-by
      \//
      powered by
      = link_to 'Mastodon', 'https://github.com/Gargron/mastodon'

= render template: "layouts/application"
