- fields = account.fields

.public-account-bio
  - unless fields.empty?
    .account__header__fields
      - fields.each do |field|
        %dl
          %dt.emojify{ title: field.name }= Formatter.instance.format_field(account, field.name, custom_emojify: true)
          %dd{ title: field.value, class: custom_field_classes(field) }
            - if field.verified?
              %span.verified__mark{ title: t('accounts.link_verified_on', date: l(field.verified_at)) }
                = fa_icon 'check'
            = Formatter.instance.format_field(account, field.value, custom_emojify: true)

  = account_badge(account)

  - if account.note.present?
    .account__header__content.emojify= Formatter.instance.simplified_format(account, custom_emojify: true)

  .public-account-bio__extra
    = t 'accounts.joined', date: l(account.created_at, format: :month)
