.account-grid-card
  .account-grid-card__header{ style: "background-image: url(#{account.header.url(:original)})" }
    = render 'accounts/follow_button', account: account, relationships: @relationships
  .account-grid-card__avatar
    .avatar= image_tag account.avatar.url(:original)
  .name
    = link_to TagManager.instance.url_for(account) do
      %span.display_name.emojify= display_name(account)
      %span.username
        @#{account.local? ? account.local_username_and_domain : account.acct}
        = fa_icon('lock') if account.locked?
  .account__header__content.p-note.emojify= Formatter.instance.simplified_format(account)
