.card{ style: "background-image: url(#{@account.header.url(:medium)})" }
  - if user_signed_in? && current_account.id != @account.id
    .controls
      - if current_account.following?(@account)
        = link_to 'Unfollow', unfollow_account_path(@account), data: { method: :post }, class: 'button'
      - else
        = link_to 'Follow', follow_account_path(@account), data: { method: :post }, class: 'button'

  .avatar= image_tag @account.avatar.url(:large)
  %h1.name
    = display_name(@account)
    %small= "@#{@account.username}"
  .details
    .bio
      .account__header__content= Formatter.instance.simplified_format(@account)

    .details-counters
      .counter{ class: active_nav_class(account_url(@account)) }
        = link_to account_url(@account) do
          %span.counter-label Posts
          %span.counter-number= @account.statuses.count
      .counter{ class: active_nav_class(following_account_url(@account)) }
        = link_to following_account_url(@account) do
          %span.counter-label Following
          %span.counter-number= @account.following.count
      .counter{ class: active_nav_class(followers_account_url(@account)) }
        = link_to followers_account_url(@account) do
          %span.counter-label Followers
          %span.counter-number= @account.followers.count
