.card{ style: "background-image: url(#{@account.header.url( :original)})" }
  - if user_signed_in? && current_account.id != @account.id && !current_account.requested?(@account)
    .controls
      - if current_account.following?(@account)
        = link_to t('accounts.unfollow'), unfollow_account_path(@account), data: { method: :post }, class: 'button'
      - else
        = link_to t('accounts.follow'), follow_account_path(@account), data: { method: :post }, class: 'button'

  .avatar= image_tag @account.avatar.url( :original)
  %h1.name
    = display_name(@account)
    %small= "@#{@account.username}"
  .details
    .bio
      .account__header__content= Formatter.instance.simplified_format(@account)

    .details-counters
      .counter{ class: active_nav_class(account_url(@account)) }
        = link_to account_url(@account) do
          %span.counter-label= t('accounts.posts')
          %span.counter-number= @account.statuses.count
      .counter{ class: active_nav_class(following_account_url(@account)) }
        = link_to following_account_url(@account) do
          %span.counter-label= t('accounts.following')
          %span.counter-number= @account.following.count
      .counter{ class: active_nav_class(followers_account_url(@account)) }
        = link_to followers_account_url(@account) do
          %span.counter-label= t('accounts.followers')
          %span.counter-number= @account.followers.count
