- content_for :page_title do
  People whom
  = display_name(@account)
  follows

= render partial: 'header'

.accounts-grid
  - if @following.empty?
    = render partial: 'nothing_here'
  - else
    = render partial: 'grid_card', collection: @following, as: :account, cached: true

= will_paginate @following, pagination_options
