- content_for :page_title do
  = t('accounts.people_who_follow', name: display_name(@account))

= render 'header', account: @account

.accounts-grid
  - if @followers.empty?
    = render 'nothing_here'
  - else
    = render partial: 'grid_card', collection: @followers, as: :account, cached: true

= paginate @followers
