- content_for :page_title do
  = t('accounts.people_followed_by', name: display_name(@account))

= render 'header', account: @account

.accounts-grid
  - if @following.empty?
    = render partial: 'nothing_here'
  - else
    = render partial: 'grid_card', collection: @following, as: :account, cached: true

= paginate @following
