- content_for :page_title do
  People who follow
  = display_name(@account)

= render partial: 'header'

.accounts-grid
  - @followers.each do |f|
    = render partial: 'grid_card', locals: { account: f }

  - if @followers.empty?
    = render partial: 'nothing_here'

= will_paginate @followers, pagination_options
