- content_for :page_title do
  = t('accounts.people_who_follow', name: display_name(@account))

= render partial: 'header'

.accounts-grid
  - if @followers.empty?
    = render partial: 'nothing_here'
  - else
    = render partial: 'grid_card', collection: @followers, as: :account, cached: true

= paginate @followers
