- content_for :page_title, "#{display_name(@account)} (#{acct(@account)})"

- content_for :header_tags do
  - if @account.user_prefers_noindex?
    %meta{ name: 'robots', content: 'noindex, noarchive' }/

  %link{ rel: 'alternate', type: 'application/rss+xml', href: rss_url }/
  %link{ rel: 'alternate', type: 'application/activity+json', href: ActivityPub::TagManager.instance.uri_for(@account) }/
  %link{ rel: 'alternate', type: 'application/ld+json; profile="https://www.w3.org/ns/activitystreams"', href: ActivityPub::TagManager.instance.uri_for(@account) }/

  - @account.fields.select(&:verifiable?).each do |field|
    %link{ rel: 'me', type: 'text/html', href: field.value }/

  = opengraph 'og:type', 'profile'
  = render 'og', account: @account, url: short_account_url(@account, only_path: false)

= render partial: 'shared/web_app'
