- content_for :page_title do
  = display_name(@account)

- content_for :header_tags do
  %link{ rel: 'salmon', href: api_salmon_url(@account.id) }/
  %link{ rel: 'alternate', type: 'application/atom+xml', href: account_url(@account, format: 'atom') }/

  %meta{ property: 'og:site_name', content: site_title }/
  %meta{ property: 'og:type', content: 'profile' }/
  %meta{ property: 'og:title', content: "#{@account.username} on #{Rails.configuration.x.local_domain}" }/
  %meta{ property: 'og:description', content: @account.note }/
  %meta{ property: 'og:image', content: full_asset_url(@account.avatar.url(:original)) }/
  %meta{ property: 'og:image:width', content: '120' }/
  %meta{ property: 'og:image:height', content: '120' }/
  %meta{ property: 'twitter:card', content: 'summary' }/

- if !user_signed_in? && !Rails.configuration.x.single_user_mode
  = render partial: 'shared/landing_strip', locals: { account: @account }

.h-feed
  %data.p-name{ value: "#{@account.username} on #{Rails.configuration.x.local_domain}" }/

  = render partial: 'header'

  - if @statuses.empty?
    .accounts-grid
      = render partial: 'nothing_here'
  - else
    .activity-stream
      = render partial: 'stream_entries/status', collection: @statuses, as: :status

  .pagination
    - if @statuses.size == 20
      = link_to safe_join([t('pagination.next'), fa_icon('chevron-right')], ' '), short_account_url(@account, max_id: @statuses.last.id), class: 'next', rel: 'next'
