- content_for :page_title do
  = display_name(@account)

- content_for :header_tags do
  %link{ rel: 'salmon', href: api_salmon_url(@account.id) }/
  %link{ rel: 'alternate', type: 'application/atom+xml', href: account_url(@account, format: 'atom') }/

= render partial: 'header'

- if @statuses.empty?
  .accounts-grid
    = render partial: 'nothing_here'
- else
  .activity-stream
    = render partial: 'stream_entries/status', collection: @statuses, as: :status

= id_paginate account_url(@account), 20, @statuses
