- content_for :page_title do
  = "#{display_name(@account)} (@#{@account.local_username_and_domain})"

- content_for :header_tags do
  %meta{ name: 'description', content: account_description(@account) }/

  - if @account.user&.setting_noindex
    %meta{ name: 'robots', content: 'noindex' }/

  %link{ rel: 'salmon', href: api_salmon_url(@account.id) }/
  %link{ rel: 'alternate', type: 'application/atom+xml', href: account_url(@account, format: 'atom') }/
  %link{ rel: 'alternate', type: 'application/activity+json', href: ActivityPub::TagManager.instance.uri_for(@account) }/

  - if @older_url
    %link{ rel: 'next', href: @older_url }/
  - if @newer_url
    %link{ rel: 'prev', href: @newer_url }/

  = opengraph 'og:type', 'profile'
  = render 'og', account: @account, url: short_account_url(@account, only_path: false)

- if @account.memorial?
  .memoriam-strip= t('in_memoriam_html')
- elsif @account.moved?
  = render partial: 'moved_strip', locals: { account: @account }
- elsif show_landing_strip?
  = render partial: 'shared/landing_strip', locals: { account: @account }

.h-feed
  %data.p-name{ value: "#{@account.username} on #{site_hostname}" }/

  = render 'header', account: @account

  .activity-stream-tabs
    = active_link_to t('accounts.posts'), short_account_url(@account)
    = active_link_to t('accounts.posts_with_replies'), short_account_with_replies_url(@account)
    = active_link_to t('accounts.media'), short_account_media_url(@account)

  - if @statuses.empty?
    .accounts-grid
      = render 'nothing_here'
  - else
    .activity-stream.with-header
      - if params[:page].to_i.zero?
        = render partial: 'stream_entries/status', collection: @pinned_statuses, as: :status, locals: { pinned: true }

      = render partial: 'stream_entries/status', collection: @statuses, as: :status

  - if @newer_url || @older_url
    .pagination
      - if @older_url
        = link_to safe_join([fa_icon('chevron-left'), t('pagination.older')], ' '), @older_url, class: 'older', rel: 'next'
      - if @newer_url
        = link_to safe_join([t('pagination.newer'), fa_icon('chevron-right')], ' '), @newer_url, class: 'newer', rel: 'prev'
