- content_for :page_title do
  = "#{display_name(@account)} (#{acct(@account)})"

- content_for :header_tags do
  - if @account.user&.setting_noindex
    %meta{ name: 'robots', content: 'noindex, noarchive' }/

  %link{ rel: 'alternate', type: 'application/rss+xml', href: @rss_url }/
  %link{ rel: 'alternate', type: 'application/activity+json', href: ActivityPub::TagManager.instance.uri_for(@account) }/

  - if @older_url
    %link{ rel: 'next', href: @older_url }/
  - if @newer_url
    %link{ rel: 'prev', href: @newer_url }/

  = opengraph 'og:type', 'profile'
  = render 'og', account: @account, url: short_account_url(@account, only_path: false)

= render 'shared/web_app'
