- content_for :page_title do
  = t('admin.account_actions.title', acct: @account.pretty_acct)

- if @account.suspended_locally?
  .flash-message.alert
    = t('admin.account_actions.already_suspended')
- elsif @account.silenced?
  .flash-message.warn
    = t('admin.account_actions.already_silenced')

= simple_form_for @account_action, url: admin_account_action_path(@account.id) do |form|
  = render form

  .actions
    = form.button :button,
                  t('admin.account_actions.action'),
                  type: :submit
